<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org" xmlns:layout="//www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/policy/policyLayout">
<div class="policy" layout:fragment="content" align="center">
    <div class="policy-body">
        <div class="policy-banner">
            <img th:src="@{/resources/images/policy/policy-top-banner.png}" class="policy-baner-img" />
        </div>
        <div class="policy-content">
            <div class="policy-title">
                <h2 class="font-bold">富利餐飲股份有限公司<br />外送服務人員隱私權政策</h2>
            </div>
            <div class="policy-detail">
                <p>本公司為提供廣大消費者關於本公司商品之外送服務，將要求您(即本公司外送服務人員)於執行本公司商品外送服務前，下載富利餐飲外送GOAPP，俾利提供相關外送服務，同時會就您下載APP行動裝置(含前景－APP開啟顯示於螢幕、背景－APP開啟但未顯示於螢幕)或執行外送服務時，所提供或衍生之相關個人資料(包括但不限於外送服務人員之名字、姓氏、地址、電話號碼、出生日期、位置資料、電子郵件地址…等)，基於下列特定目的，進行蒐集、處理、利用。</p>
                <p></p>
                <p>此外，本公司為提供消費者外送服務及營運所需，將會使用外送服務所須之工具及系統(含外部與內部工具及系統)以蒐集、處理、利用您的個人資料。本公司蒐集、處理、利用APP使用者之個人資料類別，詳述如下： </p>
                <table class="policyTable">
                    <tr>
                        <td class="tdTitle">個人資料類別</td>
                        <td class="tdContent">說明</td>
                    </tr>
                    <tr>
                        <td class="tdTitle">身分識別資料：</td>
                        <td class="tdContent">名字、姓氏、地址、電話號碼</td>
                    </tr>
                    <tr>
                        <td class="tdTitle">帳戶資料：</td>
                        <td class="tdContent">出生日期、出生地點、國籍、性別、身分證號碼、駕駛執照資訊、登入名稱和密碼、其他必要之帳戶詳細資訊</td>
                    </tr>
                    <tr>
                        <td class="tdTitle">接單(交易)資料：</td>
                        <td class="tdContent">上線時間申請、訂單明細、外送資訊、服務提供的日期和時間、收費金額、付款方式、若有優惠序號，會將外送員與使用序號之消費者連結以作追蹤…等技術資料</td>
                    </tr>
                    <tr>
                        <td class="tdTitle">位置資料：</td>
                        <td class="tdContent">透過本行動APP裝置收集外送人員準確或大致之位置資料、當APP於行動裝置前景執行時，持續收集相關位置資料，例如：外送地點、外送路線、行程距離、其他必要之地理位置資料、GPS(全球定位系統)資料…等，或可使本公司提供外送相關服務衍生之資訊，例如：產生之電子明細及相關客服資料…等</td>
                    </tr>
                    <tr>
                        <td class="tdTitle">使用資料：</td>
                        <td class="tdContent">本APP使用者與本APP服務互動方式之資料，包含存取日期及時間、APP功能或瀏覽過的頁面、APP當機情況，以及其他系統活動、瀏覽器類型、與APP服務互動前使用的第三方網站或服務，或透過Cookie、像素、標籤，及其他可建立並維護唯一識別碼之追蹤技術，以收集相關資料…等</td>
                    </tr>
                    <tr>
                        <td class="tdTitle">裝置資料：</td>
                        <td class="tdContent">使用本APP存取服務之裝置的硬體型號、裝置IP位址、作業系統和版本、軟體、偏好語言、唯一裝置識別碼、廣告識別碼、序號、裝置動作資料、行動網路資料</td>
                    </tr>
                    <tr>
                        <td class="tdTitle">通訊資料：</td>
                        <td class="tdContent">外送員透過APP連繫本公司各店端或消費者間所產生之通訊資料，包括通訊日期、時間、通訊內容</td>
                    </tr>
                    <tr>
                        <td class="tdTitle">其他資料：</td>
                        <td class="tdContent">APP使用者意見回饋</td>
                    </tr>
                </table>
                <p>特定目的：</p>
                <table class="policyTable">
                    <tr>
                        <td class="tdTitle">特定目的</td>
                        <td class="tdContent">說明</td>
                    </tr>
                    <tr>
                        <td class="tdTitle">提供服務(含外送)予消費者</td>
                        <td class="tdContent">蒐集您的個人資料用於指派相關工作(含外送服務)、追蹤外送進度、告知消費者外送員所在位置、聯絡方式及預期的配送時間、溝通訂單配送狀態、準備付款單據、處理消費者爭議、支援客服、提升服務品質…等</td>
                    </tr>
                    <tr>
                        <td class="tdTitle">人力資源管理</td>
                        <td class="tdContent">蒐集您的個人資料用於簽署或終止合約、教育訓練、支付薪資/報酬、驗證APP使用者身份、協助外送員完成APP註冊，建立、更新或停止APP使用者帳戶、管理及連繫外送員、紀錄外送員工作內容及時間、監控訂單執行狀況、評估外送員提供外送服務之服務品質…等</td>
                    </tr>
                    <tr>
                        <td class="tdTitle">安全及保障</td>
                        <td class="tdContent">監控外送員有無不安全駕駛行為，防範、偵測、打擊詐騙或其他不法行為…等</td>
                    </tr>
                    <tr>
                        <td class="tdTitle">研究及開發</td>
                        <td class="tdContent">蒐集您的個人資料進行研究、分析以改善本APP之功能或提升使用者介面，或進行相關產品/服務開發…等</td>
                    </tr>
                    <tr>
                        <td class="tdTitle">法律/稅務</td>
                        <td class="tdContent">出於法律/稅務目的需要保留文件封存，或依據政府機關要求提供您的個人資料…等</td>
                    </tr>
                    <tr>
                        <td class="tdTitle">行銷及非行銷通知</td>
                        <td class="tdContent">基於行銷目的蒐集處理利用您之個人資料，例如：<br />行銷本公司的產品/服務，優惠訊息、活動通知，更新使用者條款及注意事項…等</td>
                    </tr>
                </table>
                <p>其他告知事項：</p>
                <p>1. 本公司將採取適當安全維護措施以保障您的個人資料之安全。</p>
                <p>2. 本公司為上開特定目的，得將您的個人資料提供予配合之供應商(包括境內及境外)或進行國際傳輸。</p>
                <p>3. 本公司保留您個人資料之期間，以完成上開特定目的之必要期間及本公司營運之期間為準，惟如法律另有規定或許可更長之期間者，不在此限。</p>
                <p>4. 您對於所提供之個人資料，依法有查詢或請求閱覽、製給複製本、補充或更正、請求停止蒐集、處理或利用或請求刪除之權利。若您欲行使前揭權利請與本公司營運部門連絡。</p>
                <p>5. 您可自由選擇是否提供您的個人資料予本公司，若您所提供之個人資料有無法確認您真實身份或冒用、盜用、資料不實等情事，或您選擇不提供個人資料時，您將無法成為本公司之外送員。</p>
                <h4 class="text-underline text_riderAlign">按下同意鍵即表示您已詳閱並同意本隱私權政策</h4>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script" th:inline="javascript">
</script>
</html>