<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout">
<!-- 컨텐츠 영역 -->
<section id="container" layout:fragment="content">
    <h2 id="pageTit" class="blind" th:text="${#messages.msg('gnb.setting')}" />
    <div class="tabmenu">
        <ul>
            <li><a href="/setting-account.html" th:text="${#messages.msg('gnb.setting.account')}" /></li>
            <li><a href="/setting-assign.html" th:text="${#messages.msg('gnb.setting.assign')}" /></li>
            <li><a href="/setting-alarm.html" th:text="${#messages.msg('gnb.setting.alarm')}" /></li>
            <li><a href="/setting-notice.html" th:text="${#messages.msg('gnb.notice')}" /></li>
            <li class="on"><a href="/setting-beacon.html" th:text="${#messages.msg('gnb.setting.beacon')}" /></li>
        </ul>
    </div>

    <div id="contents">
        <div class="cont_box">
            <div class="search_box">
                <div class="left">
                    <!--전체 /소속 그룹/ 매장명 / 매장 코드 / 점장명 / 주소 / 아이디-->
                    <select name="" class="select" id="searchSelect">
                        <option value="all" th:text="${#messages.msg('list.search.all')}"></option>
                        <option value="name" th:text="${#messages.msg('store.name')}"></option>
                        <option value="storeCode" th:text="${#messages.msg('store.code')}"></option>
                    </select>
                    <input type="text" class="input" id="searchText" th:placeholder="${#messages.msg('list.search.placeholder')}"/>
                    <button class="button" id="searchButton"><i class="fa fa-search" aria-hidden="true" th:text="'&nbsp;' + ${#messages.msg('list.search')}" ></i></button>
                </div>
                <div class="right">
                    <a href="#" class="button h30 btn_pink" th:text="${#messages.msg('beacon.setting.btn.change.comminfo')}" onclick="openPopupUUID()"></a>
                    &nbsp;
                    <a href="#" class="button h30 btn_gray" th:text="${#messages.msg('btn.save')}" onclick="saveBeaconInfos()"></a>
                </div>
            </div>

            <div id="contents1">
                <div class="jq_grid">
                    <div>
                        <table id="jqGrid"></table>
                    </div>
                </div>
                <div id="jqGridPager"></div>
            </div>
        </div>
    </div>
</section>
<!-- //컨텐츠 영역 -->


<!--  신규 매장 등록 팝업영역 -->
<div id="popStore" class="pop_wrap" layout:fragment="popup">
    <article class="popup">
        <div class="pop_head">
            <h1 th:text="${#messages.msg('beacon.setting.btn.change.comminfo')}"></h1>
        </div>
        <div class="pop_cont">
            <div class="tbl_wrap">
                <table class="table tbl_left">
                    <colgroup>
                        <col width="20%" />
                        <col width="30%" />
                        <col width="20%" />
                        <col width="50%" />
                    </colgroup>
                    <tbody>
                    <tr>
                        <!-- Beacon UUID S -->
                        <th th:text="${#messages.msg('beacon.setting.title.uuid')}" style="text-align: center"></th>
                        <td colspan="3">
                            <input type="text" name="" id="txtBeaconId" class="input w_100" value="" />
                        </td>
                        <!-- Beacon UUID F -->
                    </tr>
                    <tr>
                        <th th:utext="${#messages.msg('beacon.setting.txt.beacon.rssi')}" style="text-align: center"></th>
                        <td>
                            <input type="number" name="" id="txtBeaconRssi" class="input w_100" th:max="-1" value="" />
                        </td>
                        <th th:utext="${#messages.msg('beacon.setting.txt.push.api.call.timer')}" style="text-align: center"></th>
                        <td>
                            <input type="number" name="" id="txtCallerTimer" class="input w_100" value="" />
                        </td>
                    </tr>
                    <tr>
                        <th th:utext="${#messages.msg('beacon.setting.txt.push.range')}" style="text-align: center"></th>
                        <td>
                            <input type="number" name="" id="txtPushRadius" class="input w_100" value="" />
                        </td>
                        <th th:utext="${#messages.msg('beacon.setting.txt.location.call.timer')}" style="text-align: center"></th>
                        <td>
                            <input type="number" name="" id="txtLocationTime" class="input w_100" value="" />
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pop_foot">
            <div class="left"><a href="#" class="button h30 btn_gray pop_close" th:text="${#messages.msg('btn.cancel')}"></a></div>
            <div class="right">
                <a href="#" class="button h30 btn_blue" onClick="javascript:regBeacon()" th:text="${#messages.msg('btn.confirm')}"></a>
            </div>
        </div>
        <a href="#" class="btn_close pop_close" th:text="${#messages.msg('btn.close.pop')}"></a>
    </article>
</div>
<!-- //팝업영역 -->


<script type="text/javascript" th:src="@{/resources/js/site/setting/beacon.js}" layout:fragment="script2"/>
<script layout:fragment="script" th:inline="javascript">
    /*<![CDATA[*/
    var store_code = /*[[#{store.code}]]*/ 'store_code';
    var store_name = /*[[#{store.name}]]*/ 'store_name';
    var beaconId = /*[[#{beacon.setting.title.uuid}]]*/ 'beaconId';
    var titMajor = /*[[#{beacon.setting.title.major}]]*/ 'titMajor';
    var titMinor = /*[[#{beacon.setting.title.minor}]]*/ 'titMinor';
    var titRssi = /*[[#{beacon.setting.title.rssi}]]*/ 'titRssi';
    var msgRssi = /*[[#{beacon.setting.txt.beacon.rssi}]]*/ 'msgRssi';
    var titChkApply = /*[[#{beacon.setting.title.chk.apply}]]*/ 'titChkApply';
    var msgSaveCompleted = /*[[#{beacon.setting.msg.save.completed}]]*/ 'msgSaveCompleted';
    var msgInputBeacon = /*[[#{beacon.setting.msg.error}]]*/ 'msgInputBeacon';
    var rssiOverflow = /*[[#{beacon.setting.msg.error.number.overflow}]]*/ 'rssiOverflow';
    /*]]>*/
</script>

</html>