<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout">

	<!-- 컨텐츠 영역 -->
	<section id="container" layout:fragment="content">
		<h2 id="pageTit" class="blind" th:text="${#messages.msg('gnb.setting')}" />
		<div class="tabmenu">
			<ul>
				<li><a href="/setting-account.html" th:text="${#messages.msg('gnb.setting.account')}" /></li>
				<li><a href="/setting-assign.html" th:text="${#messages.msg('gnb.setting.assign')}" /></li>
				<li class="on"><a href="/setting-alarm.html" th:text="${#messages.msg('gnb.setting.alarm')}" /></li>
				<li><a href="/setting-notice.html" th:text="${#messages.msg('gnb.notice')}" /></li>
			</ul>
		</div>
		<div id="contents">
			<div class="cont_box">
				<div class="top"><strong th:text="${#messages.msg('gnb.setting.alarm')}" /></div>
				<div class="cont">
					<ul class="form_list">
						<li class="full">
							<strong th:text="${#messages.msg('alarm.new')}" />
							<div>
								<span class="inp_file">
									<input type="text" class="input" />
									<span class="btn_file">
										<a href="#" class="button btn_dgray"><i class="fa fa-paperclip" aria-hidden="true" th:text="'&nbsp;' + ${#messages.msg('alarm.attach')}" /></a>
										<input type="file" th:placeholder="${#messages.msg('alarm.placeholder')}" th:title="${#messages.msg('alarm.attach')}" />
									</span>
								</span>
							</div>
						</li>
						<li class="full">
							<strong th:text="${#messages.msg('alarm.assigned')}" />
							<div>
								<span class="t_blue">sound.wav(30.11KB)</span>
								<a href="#" class="button btn_red"><i class="fa fa-trash-o" aria-hidden="true" th:text="'&nbsp;' + ${#messages.msg('btn.delete')}" /></a>
								<a href="#" class="button btn_gray"><i class="fa fa-play" aria-hidden="true" th:text="'&nbsp;' + ${#messages.msg('alarm.preview')}" /></a>
							</div>
						</li>
						<li class="full">
							<strong th:text="${#messages.msg('alarm.assigned.canceled')}" />
							<div>
								<span class="inp_file">
									<input type="text" class="input" />
									<span class="btn_file">
										<a href="#" class="button btn_dgray"><i class="fa fa-paperclip" aria-hidden="true" th:text="'&nbsp;' + ${#messages.msg('alarm.attach')}" /></a>
										<input type="file" th:placeholder="${#messages.msg('alarm.placeholder')}" th:title="${#messages.msg('alarm.attach')}" />
									</span>
								</span>
							</div>
						</li>
						<li class="full">
							<strong th:text="${#messages.msg('alarm.completed')}" />
							<div>
								<span class="inp_file">
									<input type="text" class="input" />
									<span class="btn_file">
										<a href="#" class="button btn_dgray"><i class="fa fa-paperclip" aria-hidden="true" th:text="'&nbsp;' + ${#messages.msg('alarm.attach')}" /></a>
										<input type="file" th:placeholder="${#messages.msg('alarm.placeholder')}" th:title="${#messages.msg('alarm.attach')}" />
									</span>
								</span>
							</div>
						</li>
						<li class="full">
							<strong th:text="${#messages.msg('alarm.canceled')}" />
							<div>
								<span class="inp_file">
									<input type="text" class="input" />
									<span class="btn_file">
										<a href="#" class="button btn_dgray"><i class="fa fa-paperclip" aria-hidden="true" th:text="'&nbsp;' + ${#messages.msg('alarm.attach')}" /></a>
										<input type="file" th:placeholder="${#messages.msg('alarm.placeholder')}" th:title="${#messages.msg('alarm.attach')}" />
									</span>
								</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="button_box">
				<a href="#" class="button btn_blue w120 h30" th:text="${#messages.msg('btn.confirm')}" />
			</div>
		</div>
	</section>
	<!-- //컨텐츠 영역 -->

</html>