<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout">

	<!-- 컨텐츠 영역 -->
	<section id="container" layout:fragment="content">
        <input type="hidden" id="noticeId" value="0" />
        <input type="hidden" id="toGroupId" value="0" />
        <input type="hidden" id="toSubGroupId" value="0" />
        <input type="hidden" id="toStoreId" value="0" />
        <input type="hidden" id="newToGroupId" value="0" />
        <input type="hidden" id="newToSubGroupId" value="0" />
        <input type="hidden" id="newToStoreId" value="0" />

        <h2 id="pageTit" class="blind" th:text="${#messages.msg('gnb.setting')}" />
		<div class="tabmenu">
			<ul>
				<li><a href="/setting-account.html" th:text="${#messages.msg('gnb.setting.account')}" /></li>
				<li><a href="/setting-assign.html" th:text="${#messages.msg('gnb.setting.assign')}" /></li>
				<li><a href="/setting-alarm.html" th:text="${#messages.msg('gnb.setting.alarm')}" /></li>
				<li class="on"><a href="/setting-notice.html" th:text="${#messages.msg('gnb.notice')}" /></li>
				<li><a href="/setting-beacon.html" th:text="|Beacon Setting|" /></li>
			</ul>
		</div>
		<div class="tabmenu_btn">
			<div><a href="#popNoticeNew" class="button btn_blue pop_open" onclick="javascript:getGroupList()"><i class="fa fa-plus" aria-hidden="true" th:text="'&nbsp;' + ${#messages.msg('notice.new')}" /></a></div>
		</div>
		<div id="contents">
			<div class="jq_grid">
				<div>
					<table id="jqGrid"></table>
				</div>
			</div>
			<div id="jqGridPager"></div>
		</div>
	</section>
	<!-- //컨텐츠 영역 -->

	<!-- 팝업영역 -->
	<!-- 등록 -->
	<div id="popNoticeNew" class="pop_wrap" layout:fragment="popup">
		<form action="/postNotice" name="nNewFileForm" method="post" enctype="multipart/form-data">
		<article class="popup">
			<div class="pop_head">
				<h1 th:text="${#messages.msg('notice.register')}" />
			</div>
			<div class="pop_cont">
				<div class="tbl_wrap">
					<table class="table tbl_left">
						<colgroup>
							<col width="13%" />
							<col width="87%" />
						</colgroup>
						<tbody>
							<tr>
								<th th:text="${#messages.msg('notice.target')}" />
								<td>
									<select name="toGroupId" class="select" id="nNewTargetGroup">
										<option value="">강남</option>
									</select>
									<select name="toSubGroupId" class="select" id="nNewTargetSubGroup">
										<option value="">강남A</option>
									</select>
									<select name="toStoreId" class="select" id="nNewTargetStore">
										<option value="" th:text="${#messages.msg('list.search.all.store')}" />
									</select>
								</td>
							</tr>
							<tr>
								<th th:text="${#messages.msg('notice.subject')}" />
								<td><input type="text" name="title" class="input w_100" id="nNewTitle" value="" /></td>
							</tr>
							<tr>
								<th th:text="${#messages.msg('notice.contents')}" />
								<td>
									<textarea name="content" class="textarea" id="nNewContent" style="height:170px;"></textarea>
								</td>
							</tr>
							<tr>
								<th th:text="${#messages.msg('notice.attach')}" />
								<td>
									<span class="inp_file">
										<input type="text" class="input" />
										<span class="btn_file">
											<a href="#" class="button btn_dgray"><i class="fa fa-paperclip" aria-hidden="true" th:text="'&nbsp;' + ${#messages.msg('alarm.attach')}" /></a>
											<input type="file" name="nNewFile" th:placeholder="${#messages.msg('alarm.placeholder')}" th:title="${#messages.msg('alarm.attach')}" />
										</span>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="pop_foot">
				<div class="left"><a href="#" class="button h40 btn_gray pop_close" th:text="${#messages.msg('btn.cancel')}" /></div>
				<!--<div class="right"><a href="#" class="button h40 btn_blue" onclick="javascript:postNotice()" th:text="${#messages.msg('btn.confirm')}" /></div>-->
				<div class="right"><button type="submit" href="#" class="button h40 btn_blue" th:text="${#messages.msg('btn.confirm')}" /></div>
			</div>
			<a href="#" class="btn_close pop_close" th:text="${#messages.msg('btn.close.pop')}" />
		</article>
		</form>
	</div>

	<!-- 상세 -->
	<div id="popNotice" class="pop_wrap" layout:fragment="popup_2">
		<form id="fileForm" name="fileForm" action="/noticeFileDownload" method="post">
			<input type="hidden" id="fileName" name="fileName" value="" />
		</form>
		<article class="popup">
			<div class="pop_head">
				<h1 th:text="${#messages.msg('gnb.notice')}" />
			</div>
			<div class="pop_cont">
				<div class="tbl_wrap">
					<table class="table tbl_left">
						<colgroup>
							<col width="13%" />
							<col width="57%" />
							<col width="13%" />
							<col width="17%" />
						</colgroup>
						<tbody>
							<tr>
								<th th:text="${#messages.msg('notice.target')}" />
								<td>
									<select name="" class="select" id="nTargetGroup">
										<option value="">강남</option>
									</select>
									<select name="" class="select" id="nTargetSubGroup">
										<option value="">강남A</option>
									</select>
									<select name="" class="select" id="nTargetStore">
										<option value="" th:text="${#messages.msg('list.search.all.store')}" />
									</select>
								</td>
								<th th:text="${#messages.msg('notice.confirmed.check')}" />
								<td>
									<div class="store_chk">
										<a href="#" class="open" id="nConfirm" th:text="'5/4' + ${#messages.msg('notice.confirmed.check.store')}" />
										<div>
											<ul id="nTarget">
												<li>양세점 O</li>
												<li>양세점 O</li>
												<li>양세점 O</li>
												<li>양세점 O</li>
												<li class="none">양세점 X</li>
											</ul>
											<a href="#" class="close"><i class="fa fa-times" aria-hidden="true"></i><span class="blind" th:text="${#messages.msg('btn.close')}" /></a>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<th th:text="${#messages.msg('notice.subject')}" />
								<td colspan="3"><input type="text" name="" class="input w_100" id="nTitle" value="제목제목제목제목제목제목제목" /></td>
							</tr>
							<tr>
								<th th:text="${#messages.msg('notice.contents')}" />
								<td colspan="3">
									<textarea class="textarea" id="nContent" style="height:170px;">내용 내용 내용 내용 내용 내용 내용 내용 내용 </textarea>
								</td>
							</tr>
							<tr>
								<th th:text="${#messages.msg('notice.attach')}" />
								<td colspan="3">
									<span class="t_blue" id="nFile">sound.wav(30.11KB)</span>
									<a href="#" class="button btn_red" id="btnDelete"  onclick="javascript:deleteNoticeFile()"><i class="fa fa-trash-o" aria-hidden="true" th:text="'&nbsp;' + ${#messages.msg('btn.delete')}" /></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="pop_foot">
				<div class="left"><a href="#" class="button h40 btn_gray pop_close" th:text="${#messages.msg('btn.cancel')}" /></div>
				<div class="right">
					<a href="#" class="button h40 btn_red" onclick="javascript:deleteNotice()" th:text="${#messages.msg('btn.delete')}" />
					<a href="#" class="button h40 btn_blue" onclick="javascript:putNotice()" th:text="${#messages.msg('btn.confirm')}" />
				</div>
			</div>
			<a href="#" class="btn_close pop_close" th:text="${#messages.msg('btn.close.pop')}" />
		</article>
	</div>
	<!-- //팝업영역 -->


<script type="text/javascript" th:src="@{/resources/js/site/setting/notice.js}" layout:fragment="script2"/>

<script layout:fragment="script" th:inline="javascript">
/*<![CDATA[*/
var notice_target = /*[[#{notice.target}]]*/ 'notice_target';
var notice_target_all = /*[[#{notice.target.all}]]*/ 'notice_target_all';
var notice_subject = /*[[#{notice.subject}]]*/ 'notice_subject';
var notice_attach = /*[[#{notice.attach}]]*/ 'notice_attach';
var notice_attach_download = /*[[#{notice.attach.download}]]*/ 'notice_attach_download';
var notice_attach_none = /*[[#{notice.attach.none}]]*/ 'notice_attach_none';
var notice_created = /*[[#{notice.created}]]*/ 'notice_created';
var notice_confirmed_check = /*[[#{notice.confirmed.check}]]*/ 'notice_confirmed_check';
var notice_confirmed_check_store = /*[[#{notice.confirmed.check.store}]]*/ 'notice_confirmed_check_store';
var notice_target_all_group = /*[[#{list.search.all.group}]]*/ 'notice_target_all_group';
var notice_target_all_subgroup = /*[[#{list.search.all.subgroup}]]*/ 'notice_target_all_subgroup';
var notice_target_all_store = /*[[#{list.search.all.store}]]*/ 'notice_target_all_store';
/*]]>*/
</script>
</html>