<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout">

	<!-- 컨텐츠 영역 -->
	<section id="container" layout:fragment="content">
		<h2 id="pageTit" class="blind" th:text="${#messages.msg('gnb.setting')}" />
		<div class="tabmenu">
			<ul>
				<li class="on"><a href="/setting-account.html" th:text="${#messages.msg('gnb.setting.account')}" /></li>
				<li><a href="/setting-assign.html" th:text="${#messages.msg('gnb.setting.assign')}" /></li>
				<li><a href="/setting-alarm.html" th:text="${#messages.msg('gnb.setting.alarm')}" /></li>
				<li><a href="/setting-notice.html" th:text="${#messages.msg('gnb.notice')}" /></li>
			</ul>
		</div>
		<div id="contents">
			<div class="cont_box">
				<div class="top"><strong th:text="${#messages.msg('gnb.setting.account')}" /></div>
				<div class="cont">
					<ul class="form_list">
						<li>
							<strong th:text="${#messages.msg('login.id')}" />
							<div><input type="text" name="" class="input readonly" readonly="readonly" th:value="*{adminInfo.loginId}"/></div>
						</li>
						<li>
							<strong th:text="${#messages.msg('login.password')}" />
							<div><input type="password" name="" class="input" /></div>
						</li>
					</ul>
				</div>
			</div>
			<div class="button_box">
				<a href="#" class="button btn_blue w120 h30" th:text="${#messages.msg('btn.confirm')}" />
			</div>
		</div>
	</section>
	<!-- //컨텐츠 영역 -->

</html>