<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layout">

<!-- 컨텐츠 영역 -->
<section id="container" layout:fragment="content">
    <h2 id="pageTit" class="blind" th:text="${#messages.msg('gnb.staff')}"/>
    <div class="search_box">
        <div class="left">
            <span class="lbl" th:text="${#messages.msg('rider.approval.title')}" style="font-size: 15px; font-weight: bold; color:black" />
        </div>
        <div class="right">
            <span>
                <select name="" class="select" id="statisticsGroupList">
                    <option value="reset" th:text="${#messages.msg('list.search.all.group')}" />
                </select>
                <select name="" class="select" id="statisticsSubGroupList">
                    <option value="reset" th:text="${#messages.msg('list.search.all.subgroup')}" />
                </select>
                <select name="" class="select" id="statisticsStoreList">
                    <option value="reset" th:text="${#messages.msg('list.search.all.store')}" />
                </select>
                <select name="searchSelect" id="searchSelect" class="select">
                    <option value="all" th:text="${#messages.msg('list.search.all')}" />
                    <option value="riderID" th:text="${#messages.msg('list.search.rider')}" />
                    <option value="riderName" th:text="${#messages.msg('list.search.rider.loginid')}" />
                </select>
                <input type="text" class="input" id="searchText" th:placeholder="${#messages.msg('list.search.placeholder')}"/>
                <button class="button" id="searchButton"><i class="fa fa-search" aria-hidden="true" th:text="'&nbsp;' + ${#messages.msg('list.search')}"/></button>
                <button type="button" class="button btn_green" onclick="excelDownload()"><i class="fa fa-file-excel-o" aria-hidden="true" th:text="'&nbsp;' + ${#messages.msg('list.excel')}"/></button>
            </span>
        </div>
    </div>

    <div id="contents">
        <div class="jq_grid">
            <div>
                <table id="jqGrid"></table>
            </div>
        </div>
        <div id="jqGridPager">

        </div>
    </div>

    <!-- POPUP 관련 S -->
    <div id="popRiderInfo" class="pop_wrap" layout:fragment="popup">
        <article class="popup">
            <div class="pop_head">
                <h1 th:text="${#messages.msg('rider.approval.popup.title')}"></h1>
            </div>
            <div class="pop_cont">
                <div class="tbl_wrap">
                    <input type="hidden" name="" id="approvalID" class="input" value="" readonly="true"/>
                    <input type="hidden" name="" id="riderID" class="input" value="" readonly="true"/>
                    <input type="hidden" name="" id="approvalStatus" class="input" value="" readonly="true"/>
                    <input type="hidden" name="" id="storeShared" class="input" value="" readonly="true"/>
                    <input type="hidden" name="" id="sharedStoreId" class="input" value="" readonly="true"/>
                    <input type="hidden" name="" id="sharedStoreCode" class="input" value="" readonly="true"/>
                    <table class="table tbl_left">
                        <colgroup>
                            <col width="13%" />
                            <col width="37%" />
                            <col width="13%" />
                            <col width="37%" />
                        </colgroup>
                        <tbody>
                        <tr>
                            <th th:text="${#messages.msg('login.id')}"/>
                            <td>
                                <input type="text" name="" id="riderLoginID" class="input" value="" readonly="true" style="background: darkgray"/>
                            </td>
                            <th th:text="${#messages.msg('rider.belong.store')}"/>
                            <td>
                                <input type="text" name="" id="riderStore" class="input" value="" readonly="true" style="background: darkgray"/>
                            </td>
                        </tr>
                        <tr>
                            <th th:text="${#messages.msg('rider.name')}"/>
                            <td>
                                <input type="text" name="" id="riderName" class="input" value="" />
                            </td>
                            <th th:text="${#messages.msg('rider.phone')}"/>
                            <td>
                                <input type="text" name="" id="riderPhone" class="input" value="" readonly="true" style="background: darkgray"/>
                            </td>
                        </tr>
                        <tr>
                            <th th:text="${#messages.msg('rider.code')}"/>
                            <td>
                                <input type="text" name="" id="riderCode" class="input" value="" />
                            </td>
                            <th th:text="${#messages.msg('rider.vehicle.number')}"/>
                            <td>
                                <input type="text" name="" id="riderVehicle" class="input" value="" />
                            </td>
                        </tr>
                        <tr>
                            <th th:text="${#messages.msg('rider.approval.detail.expiry.datetime')}"/>
                            <td>
                                <input type="text" name="" id="riderExpDate" class="input datepicker" value="" readonly="true" />
                            </td>
                            <th th:text="${#messages.msg('login.password')}"/>
                            <td>
                                <a class="button btn_blue2" th:text="${#messages.msg('reset.password')}" onclick="resetRiderPw()"/>
                            </td>
                        </tr>
                        <tr>
                            <th th:text="${#messages.msg('rider.approval.text.store.shared')}"/>
                            <td>
                                <div class="h30">
                                    <span id="spSharedStatus" style="margin-right: 5px;" content="aaaa"></span><span id="spSharedStoreInfo"></span>
                                    <a href="#" class="button h30 btn_blue" style="margin-left: 10px;" th:text="${#messages.msg('rider.approval.btn.store.shared')}" onclick="sharedStoreInfo()"></a>
                                    <a href="#" class="button h30 btn_gray" th:text="${#messages.msg('rider.approval.btn.store.unshared')}" onclick="regUnsharedStore()"></a>
                                </div>
                            </td>
                            <th th:text="${#messages.msg('list.search.sharedTitle')}"/>
                            <td>
                                <select name="" class="select" id="selShared">
                                    <option value="0" th:text="${#messages.msg('list.search.unshared')}" />
                                    <option value="1" th:text="${#messages.msg('list.search.shared')}" />
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="pop_foot">
                <div class="left"><a href="#" class="button h30 btn_gray pop_close" th:text="${#messages.msg('btn.cancel')}"></a></div>
                <div class="right">
                    <a href="#" id="changePause" class="button h30 btn_red"></a>
                    <a href="#" class="button h30 btn_blue" th:text="${#messages.msg('rider.approval.leave.office')}" onclick="popUpChangeStatus()"></a>
                    <a href="#" class="button h30 btn_gray" th:text="${#messages.msg('btn.save')}" onclick="popUpSaveData()"></a>
                </div>
            </div>
            <a href="#" class="btn_close pop_close" th:text="${#messages.msg('btn.close.pop')}"></a>
        </article>
    </div>
    <!-- POPUP 관련 F -->

    <!-- POPUP 공유할 매장 리스트 관련 S -->
    <div id="popStoreShared" class="pop_wrap" layout:fragment="popup">
        <article class="popup">
            <div class="pop_head">
                <h1 th:text="${#messages.msg('rider.approval.popup.shared.store.title')}"></h1>
            </div>

            <div class="search_box">
                <div class="left">
                    <span class="lbl" th:text="${#messages.msg('rider.approval.title')}" style="font-size: 15px; font-weight: bold; color:black" />
                </div>
                <div class="right">
            <span>
                <input type="text" class="input" id="inputSharedStore" th:placeholder="${#messages.msg('list.search.placeholder')}"/>
                <button class="button" id="btnSharedStore"><i class="fa fa-search" aria-hidden="true" th:text="'&nbsp;' + ${#messages.msg('list.search')}"/></button>
            </span>
                </div>
            </div>

            <div class="pop_cont">
                <div class="tbl_wrap">
                    <div class="jq_grid">
                        <div>
                            <table id="jqGridSharedStore"></table>
                        </div>
                    </div>
                    <div id="jqGridPagerSharedStore">

                    </div>
                </div>
            </div>
            <!--            <div class="pop_foot">-->
            <!--                <div class="left"><a href="#" class="button h30 btn_gray pop_close" th:text="${#messages.msg('btn.cancel')}"></a></div>-->
            <!--                <div class="right">-->
            <!--                    <a href="#" class="button h30 btn_blue" th:text="${#messages.msg('btn.save')}"></a>-->
            <!--                </div>-->
            <!--            </div>-->
            <a href="#" class="btn_close pop_close" th:text="${#messages.msg('btn.close.pop')}"></a>
        </article>
    </div>
    <!-- POPUP 공유할 매장 리스트 관련 F -->

    <script type="text/javascript" th:src="@{/resources/js/site/staff/staff_approval.js}" layout:fragment="script2"></script>
</section>
<!-- //컨텐츠 영역 -->
<script layout:fragment="script" th:inline="javascript">
    var my_store = /*[[${store}]]*/ 'my_store';

    let storeName = /*[[#{store.name}]]*/ 'storeName';
    let riderLoginID = /*[[#{rider.approval.login.id}]]*/ 'riderLoginID';
    let riderName = /*[[#{rider.name}]]*/ 'riderName';
    let riderPhone = /*[[#{rider.phone}]]*/ 'riderPhone';
    let responseDate = /*[[#{rider.approval.response.date}]]*/ 'responseDate';
    let expDate = /*[[#{rider.approval.detail.expiry.datetime}]]*/ 'expDate';
    let setting = /*[[#{gnb.setting}]]*/ 'setting';
    let approval = /*[[#{rider.approval.approval}]]*/ 'approval';
    let disapproval = /*[[#{rider.approval.disapproval}]]*/ 'approval';
    let approvalStatus = /*[[#{rider.approval.status}]]*/ 'approvalStatus';
    let waitApproval = /*[[#{rider.approval.status.wait}]]*/ 'waitApproval';
    let expiryApproval = /*[[#{rider.approval.status.expiry}]]*/ 'expiryApproval';
    let successApproval = /*[[#{rider.approval.status.success}]]*/ 'successApproval';
    let pauseApproval = /*[[#{rider.approval.status.pause}]]*/'pauseApproval';
    let disApproval = /*[[#{rider.approval.status.disapproval}]]*/ 'disApproval';

    let btnEdit = /*[[#{rider.approval.edit}]]*/ 'btnEdit';
    let btnDelete = /*[[#{rider.approval.delete}]]*/ 'btnDelete';

    let msgDisapproval = /*[[#{rider.message.confirm.disapproval}]]*/ 'msgDisapproval';
    let msgDetailInfoSave = /*[[#{rider.message.confirm.detailinfo.save}]]*/ 'msgDetailInfoSave';
    let msgChangeExpDate = /*[[#{rider.message.confirm.change.expdate}]]*/ 'msgChangeExpDate';
    let msgChangeSuccess = /*[[#{rider.message.confirm.change.success}]]*/ 'msgChangeSuccess';
    let msgChangeFailed = /*[[#{rider.message.confirm.change.failed}]]*/ 'msgChangeFailed';

    var alert_confirm_mod_success = /*[[#{alert.confirm.mod.success}]]*/ 'alert_confirm_mod_success';
    var alert_address_error = /*[[#{alert.address.error}]]*/ 'alert_address_error';

    let storeCode = /*[[#{store.code}]]*/ 'storeCode';

    let alertSame = /*[[#{rider.approval.popup.shared.store.alert1}]]*/ 'alertSame';
    let alertNoStore = /*[[#{rider.approval.popup.shared.store.alert2}]]*/ 'alertNoStore';
    let alertCurrentNoShared = /*[[#{rider.approval.popup.shared.store.alert3}]]*/ 'alertCurrentNoShared';

    let statusSharedForStore = /*[[#{rider.approval.result.store.shared}]]*/ 'statusSharedForStore';
    let statusUnsharedForStore = /*[[#{rider.approval.result.store.unshared}]]*/ 'statusUnsharedForStore';

    let list_search_all_group = /*[[#{list.search.all.group}]]*/ 'list_search_all_group';
    let list_search_all_subgroup = /*[[#{list.search.all.subgroup}]]*/ 'list_search_all_subgroup';
    let list_search_all_store = /*[[#{list.search.all.store}]]*/ 'list_search_all_store';
    let subGroup_name = /*[[#{subgroup.name}]]*/ 'subGroup_name';
    let store_name = /*[[#{store.name}]]*/ 'store_name';
    let group_name = /*[[#{group.name}]]*/ 'group_name';
    let group_none = /*[[#{group.none}]]*/ 'group_none';
</script>
</html>