<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout">

<script layout:fragment="script" th:inline="javascript">
    /*<![CDATA[*/
    var status_new = /*[[#{status.new}]]*/ 'status_new';
    var status_assigned = /*[[#{status.assigned}]]*/ 'status_assigned';
    var status_pickedup = /*[[#{status.pickedup}]]*/ 'status_pickedup';
    var status_completed = /*[[#{status.completed}]]*/ 'status_completed';
    var status_canceled = /*[[#{status.canceled}]]*/ 'status_canceled';
    var order_confirm = /*[[#{btn.confirm}]]*/ 'order_confirm';
    var order_status = /*[[#{order.status}]]*/ 'order_status';
    var order_id = /*[[#{order.id}]]*/ 'order_id';
    var order_created = /*[[#{order.created}]]*/ 'order_created';
    var order_address = /*[[#{order.address}]]*/ 'order_address';
    var order_summary = /*[[#{order.summary}]]*/ 'order_summary';
    var order_cooking = /*[[#{order.cooking}]]*/ 'order_cooking';
    var order_payment = /*[[#{order.payment}]]*/ 'order_payment';
    var order_assigned = /*[[#{order.assigned}]]*/ 'order_assigned';
    var order_pickedup = /*[[#{order.pickedup}]]*/ 'order_pickedup';
    var order_reserved = /*[[#{order.reserved}]]*/ 'order_reserved';
    var order_detail = /*[[#{order.detail}]]*/ 'order_detail';
    var order_payment_cash = /*[[#{order.payment.cash}]]*/ 'order_payment_cash';
    var order_payment_card = /*[[#{order.payment.card}]]*/ 'order_payment_card';
    var order_payment_prepayment = /*[[#{order.payment.prepayment}]]*/ 'order_payment_prepayment';
    var order_payment_service = /*[[#{order.payment.service}]]*/ 'order_payment_service';
    var group_name = /*[[#{group.name}]]*/ 'group_name';
    var group_none = /*[[#{group.none}]]*/ 'group_none';
    var list_search_all_group = /*[[#{list.search.all.group}]]*/ 'list_search_all_group';
    var list_search_all_subgroup = /*[[#{list.search.all.subgroup}]]*/ 'list_search_all_subgroup';
    var list_search_all_store = /*[[#{list.search.all.store}]]*/ 'list_search_all_store';
    var subGroup_name = /*[[#{subgroup.name}]]*/ 'subGroup_name';
    var store_name = /*[[#{store.name}]]*/ 'store_name';
    var rider_name = /*[[#{rider.name}]]*/ 'rider_name';
    var order_minute = /*[[#{order.minute}]]*/ 'order_minute';
    var order_currency_unit = /*[[#{order.currency.unit}]]*/ 'order_currency_unit';
    var order_reg_order_id = /*[[#{order.reg.order.id}]]*/ 'order_reg_order_id';
    /*]]>*/
</script>

	<!-- 컨텐츠 영역 -->
	<section id="container" layout:fragment="content">
		<form name="searchForm" id="filter-form" class="form-horizontal" role="form" action="">
		<input type="hidden" id="selectedStoreId"/>
		<input type="hidden" id="selectedGroupId"/>
		<input type="hidden" id="selectedSubGroupId"/>

		<h2 id="pageTit" class="blind" th:text="${#messages.msg('gnb.statistics')}" />
		<div class="search_box">
			<div class="left">
				<select name="" class="select" id="statisticsGroupList">
					<option value="reset" th:text="${#messages.msg('list.search.all.group')}" />
				</select>
				<select name="" class="select" id="statisticsSubGroupList">
					<option value="reset" th:text="${#messages.msg('list.search.all.subgroup')}" />
				</select>
				<select name="" class="select" id="statisticsStoreList">
					<option value="reset" th:text="${#messages.msg('list.search.all.store')}" />
				</select>
			</div>
			<div class="left">
				<select name="" class="select" id="selectStatus">
					<option value="all" th:text="${#messages.msg('list.search.all.order')}" />
					<option value="complete" th:text="${#messages.msg('status.completed')}" />
					<option value="cancel" th:text="${#messages.msg('status.canceled')}" />
				</select>
			</div>
			<div class="left">
				<input type="hidden" name="startDate" />
				<input type="hidden" name="endDate"/>
				<input type="text" name="datepicker" class="input datepicker" id="startDate"/>
				~
				<input type="text" name="datepicker" class="input datepicker" id="endDate"/>
			</div>
			<div class="right">
				<span class="inblock">
					<select name="" class="searchSelect select" id="searchSelect">
						<option value="all" th:text="${#messages.msg('list.search.all')}" />
						<option value="reg_order_id" th:text="${#messages.msg('order.reg.order.id')}" />
						<option value="pay" th:text="${#messages.msg('list.search.payment')}" />
						<option value="rider" th:text="${#messages.msg('list.search.rider')}" />
					</select>
					<input type="text" class="input" id="searchText" th:placeholder="${#messages.msg('list.search.placeholder')}" />
					<button type="button" class="button" id="searchButton"><i class="fa fa-search" aria-hidden="true" th:text="'&nbsp;' + ${#messages.msg('list.search')}" /></button>
				</span>
				<button type="button" class="button btn_green"><i class="fa fa-file-excel-o" aria-hidden="true" onclick="excelDownload();" th:text="'&nbsp;' + ${#messages.msg('list.excel')}" /></button>
			</div>
		</div>

		<!--상세 보기  컨텐츠 영역 -->
		<div id="contents">
			<div class="state_wrap">
				<div class="left">
					<div class="jq_grid">
						<div>
							<table id="jqGrid"></table>
						</div>
					</div>
					<div id="jqGridPager"></div>
				</div>

				<div class="right">
					<a href="#" class="btn_close"><i class="fa fa-times" aria-hidden="true"></i><span class="blind">닫기</span></a>
					<div class="state_detail">
						<div class="tit">
						</div>
						<div class="cont">
							<div>
								<ul>
									<li>
										<span th:text="${#messages.msg('order.created')}" />
										<div id="createdDatetime">-</div>
									</li>
									<li>
										<span th:text="${#messages.msg('order.reserved')}" />
										<div id="reservationDatetime">-</div>
									</li>
									<li class="clear">
										<span th:text="${#messages.msg('order.time')}" />
										<div id="passtime">-</div>
									</li>
									<li>
										<span th:text="${#messages.msg('order.assigned')}" />
										<div id="assignedDatetime">-</div>
									</li>
									<li class="clear">
										<span th:text="${#messages.msg('order.pickedup')}" />
										<div id="pickedUpDatetime">-</div>
									</li>
									<li>
										<span th:text="${#messages.msg('order.completed')}" />
										<div id="completedDatetime">-</div>
									</li>
								</ul>
							</div>
							<div>
								<ul>
									<li>
										<span th:text="${#messages.msg('order.summary')}" />
										<div id="menuName">-</div>
									</li>
									<li>
										<span th:text="${#messages.msg('order.cooking')}" />
										<!--분-->
										<div><span id="cookingTime">-</span><span th:text="${#messages.msg('order.minute')}" /> </div>
									</li>
									<li class="clear">
										<!--원-->
										<span th:text="${#messages.msg('order.menu.price')}" />
										<div><span id="menuPrice">-</span><span th:text="${#messages.msg('order.currency.unit')}" /></div>
									</li>
									<li>
										<!--원-->
										<span th:text="${#messages.msg('order.delivery.price')}" />
										<div><span id="deliveryPrice">-</span><span th:text="${#messages.msg('order.currency.unit')}" /></div>
									</li>
									<li class="clear">
										<!--원-->
										<span th:text="${#messages.msg('order.total.price')}" />
										<div><span id="totalPrice">-</span><span th:text="${#messages.msg('order.currency.unit')}" /></div>
									</li>
									<li>
										<span th:text="${#messages.msg('order.payment')}" />
										<div id="paid"></div>
										<!--<div th:text="${#messages.msg('order.payment.card')}" />-->
									</li>
								</ul>
							</div>
							<div>
								<ul>
									<li class="full">
										<span th:text="${#messages.msg('order.combined')}" />
										<div id="combinedOrder">-</div>
									</li>
								</ul>
							</div>
							<div>
								<ul>
									<li>
										<span th:text="${#messages.msg('rider.name')}" />
										<div id="riderName">-</div>
									</li>
									<li>
										<span th:text="${#messages.msg('rider.phone')}" />
										<div id="riderPhone">-</div>
									</li>
									<li class="clear full">
										<span th:text="${#messages.msg('order.message')}" />
										<div id="memo">-</div>
									</li>
								</ul>
							</div>
							<div>
								<ul>
									<li class="full">
										<span th:text="${#messages.msg('order.customer.phone')}" />
										<div id="userPhone">-</div>
									</li>
									<li class="full">
										<span th:text="${#messages.msg('order.customer.address')}" />
										<div id="userAddress"></div>
									</li>
									<li class="full">
										<span th:text="${#messages.msg('order.distance')}" />
										<div id="distance"></div>
									</li>
									<li class="full">
										<div id="map" style="width: 314px; height: 150px; background-color: gray;">
											<!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d790.4796233513088!2d126.9057600836912!3d37.58053693442591!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c99012d11391b%3A0x39269b0f898a99b1!2z7IK87ISx7KCE7J6QIOymneyCsOygkA!5e0!3m2!1sko!2skr!4v1519093234010" frameborder="0" style="border:0" allowfullscreen="true"></iframe>-->
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/resources/js/site/statistics/statistics.js}" layout:fragment="script2"></script>
		<script layout:fragment="script3" type="text/javascript" th:src="@{https://maps.googleapis.com/maps/api/js(key=AIzaSyAD8JKaMSAUG-TwI8dYTPfmwMbxYiVQelU,language=${#messages.msg('map.language')},region=${#messages.msg('map.region')},callback=initMap)}"></script>
		</form>
	</section>
	<!-- //컨텐츠 영역 -->
</html>