<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org" xmlns:layout="//www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout">

	<!-- 컨텐츠 영역 -->
	<section id="container" layout:fragment="content">
		<div th:object="${store}" style="display:none">
			<input type="hidden" id="statusArray"/>
			<input type="hidden" id="assignmentStatus" th:value="*{assignmentStatus}"/>
			<input type="hidden" id="adminId" th:value="*{adminId}" />
		</div>
		<h2 id="pageTit" class="blind" th:text="${#messages.msg('gnb.order')}"></h2>
		<div class="search_box">
			<div class="left">
				<label class="checkbox"><input name="srchAllChk" type="checkbox" id="orderAllChk" checked="checked"/><i></i>
					<span class="lbl" th:text="${#messages.msg('status.all')}"/>
				</label>
				<label class="checkbox"><input name="srchChk" type="checkbox" value="0" id="orderNewChk" checked="checked" disabled="true"/><i></i>
					<span class="lbl" th:text="${#messages.msg('status.new')}"/>
				</label>
				<label class="checkbox"><input name="srchChk" type="checkbox" value="1" id="orderAssignChk" checked="checked" disabled="true"/><i></i>
					<span class="lbl" th:text="${#messages.msg('status.assigned')}"/>
				</label>
				<label class="checkbox"><input name="srchChk" type="checkbox" value="2" id="orderPickupChk" checked="checked" disabled="true"/><i></i>
					<span class="lbl" th:text="${#messages.msg('status.pickedup')}"/>
				</label>
				<label class="checkbox"><input name="srchChk" type="checkbox" value="3" id="orderCompleChk" checked="checked" disabled="true"/><i></i>
					<span class="lbl" th:text="${#messages.msg('status.completed')}"/>
				</label>
				<label class="checkbox"><input name="srchChk" type="checkbox" value="4" id="orderCancelChk" checked="checked" disabled="true"/><i></i>
					<span class="lbl" th:text="${#messages.msg('status.canceled')}"/>
				</label>
			</div>
			<div class="right">
				<label class="checkbox"><input name="myStoreChk" type="checkbox" th:object="${store}" th:value="*{id}" id="orderMyStoreChk" checked="checked"/><i></i>
					<span class="lbl" th:text="${#messages.msg('order.mine')}"/>
				</label>
				<span class="inblock">
					<select name="searchSelect" id="searchSelect" class="select">
						<option value="all" th:text="${#messages.msg('list.search.all')}"/>
						<!--<option value="id" th:text="${#messages.msg('list.search.id')}"/>-->
						<option value="address" th:text="${#messages.msg('list.search.address')}"/>
						<option value="reg_order_id" th:text="${#messages.msg('order.reg.order.id')}"/>
						<option value="rider" th:text="${#messages.msg('list.search.rider')}"/>
					</select>
					<input type="text" class="input" id="searchText" th:placeholder="${#messages.msg('list.search.placeholder')}"/>
					<button class="button" id="searchButton"><i class="fa fa-search" aria-hidden="true" th:text="'&nbsp;' + ${#messages.msg('list.search')}"/></button>
				</span>
			</div>
		</div>
		<div id="contents">
			<div class="state_wrap">
				<div class="left">
					<div class="jq_grid">
						<div>
							<table id="jqGrid"></table>
						</div>
					</div>
					<div id="jqGridPager"></div>
				</div>
				<div class="right">
					<a href="#" class="btn_close"><i class="fa fa-times" aria-hidden="true"></i><span class="blind">닫기</span></a>
					<div class="state_detail">
						<div class="tit">
						</div>
						<div class="cont add_btn">
							<div>
								<ul>
									<li>
										<span th:text="${#messages.msg('order.created')}" />
										<div id="createdDatetime">-</div>
									</li>
									<li>
										<span th:text="${#messages.msg('order.reserved')}" />
										<div id="reservationDatetime">-</div>
									</li>
									<li class="clear">
										<span th:text="${#messages.msg('order.time')}" />
										<div id="passtime">-</div>
									</li>
									<li>
										<span th:text="${#messages.msg('order.assigned')}" />
										<div id="assignedDatetime">-</div>
									</li>
									<li class="clear">
										<span th:text="${#messages.msg('order.pickedup')}" />
										<div id="pickedUpDatetime">-</div>
									</li>
									<li>
										<span th:text="${#messages.msg('order.arrived')}" />
										<div id="completedDatetime">-</div>
									</li>
								</ul>
							</div>
							<div class="changeChkInputMessage">
								<ul>
									<li>
										<span th:text="${#messages.msg('order.summary')}" />
										<div id="menuName">-</div>
									</li>
									<li>
										<span th:text="${#messages.msg('order.cooking')}" />
										<div>
											<input type="text" class="input h20" id="cookingTime" onkeydown="return showKeyCode(event)" /><span th:text="${#messages.msg('order.minute')}"/>
											<!--<select name="" class="select h20">-->
												<!--<option value="10">10</option>-->
											<!--</select>분-->
										</div>
									</li>
									<li class="clear">
										<span th:text="${#messages.msg('order.menu.price')}" />
										<div><input type="text" class="input h20" id="menuPrice" onkeydown="return showKeyCode(event)" /><span th:text="${#messages.msg('order.currency.unit')}"/></div>
									</li>
									<li>
										<span th:text="${#messages.msg('order.delivery.price')}" />
										<div><input type="text" class="input h20" id="deliveryPrice" onkeydown="return showKeyCode(event)" /><span th:text="${#messages.msg('order.currency.unit')}"/></div>
									</li>
									<li class="clear">
										<span th:text="${#messages.msg('order.total.price')}" />
										<div><input type="text" class="input h20" id="totalPrice" th:readonly="readonly"/><span th:text="${#messages.msg('order.currency.unit')}"/></div>
									</li>
									<li>
										<span th:text="${#messages.msg('order.payment')}" />
										<div>
											<select name="" class="select h20" id="selectPaid" disabled="true">
												<option value="0" th:text="${#messages.msg('order.payment.cash')}"/>
												<option value="1" th:text="${#messages.msg('order.payment.card')}"/>
												<option value="2" th:text="${#messages.msg('order.payment.prepayment')}"/>
												<option value="3" th:text="${#messages.msg('order.payment.service')}"/>
											</select>
										</div>
									</li>
								</ul>
							</div>
							<div class="changeChkInputMessage">
								<ul>
									<li class="full">
										<label class="checkbox"><input name="combinedChk" id="combinedChk" type="checkbox" /><i></i>
											<span class="lbl" th:text="${#messages.msg('order.combined')}" />
										</label>
										<select name="" class="select h20" id="selectCombined" disabled="true">
											<!--<option value="">주문 ID: 11022 | 등록시간: 01/25 14:57</option>-->
										</select>
									</li>
								</ul>
							</div>
							<div>
								<ul>
									<li class="rider_area">
										<span th:text="${#messages.msg('rider.name')}" />
										<div>
											<select name="" class="select h20" id="selectedRider">
												<!--<option value="">정보없음</option>-->
											</select>
										</div>
									</li>

									<li style="display: none" >
										<span th:text="${#messages.msg('rider.phone')}" />
										<div id="riderPhone"></div>
									</li>
									<li class="rider_btn_area">
										<div class="f_right"><a href="#" class="button btn_blue w80" id="orderUpdate" onclick="javascript:orderConfirm()"><i class="fa fa-check" aria-hidden="true"></i><span th:text="${#messages.msg('btn.confirm')}"/></a></div>
									</li>
									<li class="clear full">
										<span th:text="${#messages.msg('order.message')}" />
										<div id="memo">-</div>
									</li>

									<li class="rider_area" id="thirdArea">
										<span th:text="${#messages.msg('order.assign.third')}" />
										<div>
											<select name="" class="select h20" id="selectedThirdParty">
												<!--<option value="">정보없음</option>-->
											</select>
										</div>
									</li>
									<li class="rider_btn_area" id="thirdAreaBtn">
										<div class="f_right"><a href="#" class="button btn_gray w80" id="thirdPartyUpdate" onclick="javascript:thirdPartyUpdate()"><i class="fa fa-check" aria-hidden="true"></i><span th:text="${#messages.msg('btn.confirm')}"/></a></div>
									</li>

								</ul>
							</div>
							<div>
								<ul>
									<li class="full">
										<span th:text="${#messages.msg('order.customer.phone')}" />
										<div id="userPhone">-</div>
									</li>
									<li class="full">
										<span th:text="${#messages.msg('order.customer.address')}" />
										<div id="userAddress">
											<!--<a href="#" class="button btn_black h20">주소변경</a>-->
											<!--<div class="mt5">-->
												<!--<input type="text" class="input w_100 h20" />-->
											<!--</div>-->
											<!--<div class="mt5">-->
												<!--<input type="text" class="input w_100 h20" />-->
											<!--</div>-->
										</div>
									</li>
									<li class="full">
										<span th:text="${#messages.msg('order.distance')}" />
										<div id="distance"></div>
									</li>
									<li class="full">
										<div id="map" style="width: 314px; height: 150px; background-color: gray;">
											<!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d790.4796233513088!2d126.9057600836912!3d37.58053693442591!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c99012d11391b%3A0x39269b0f898a99b1!2z7IK87ISx7KCE7J6QIOymneyCsOygkA!5e0!3m2!1sko!2skr!4v1519093234010" frameborder="0" style="border:0" allowfullscreen="true"></iframe>-->
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="btn">
							<div class="f_left"><a href="#" class="button btn_red w80" onclick="javascript:putOrderCancel()"><i class="fa fa-close" aria-hidden="true" ></i> <span th:text="${#messages.msg('alarm.canceled')}"/> </a></div>
							<!--<div class="f_right"><a href="#" class="button btn_blue w80" id="orderUpdate" onclick="javascript:orderConfirm()"><i class="fa fa-check" aria-hidden="true"></i><span th:text="${#messages.msg('btn.confirm')}"/></a></div>-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/resources/js/site/order/order.js}" layout:fragment="script2">
		</script>
		<script layout:fragment="script3" type="text/javascript" th:src="@{https://maps.googleapis.com/maps/api/js(key=AIzaSyAD8JKaMSAUG-TwI8dYTPfmwMbxYiVQelU,language=${#messages.msg('map.language')},region=${#messages.msg('map.region')},callback=initMap)}"></script>
	</section>
	<!-- //컨텐츠 영역 -->
	<script layout:fragment="script" th:inline="javascript">
        /*<![CDATA[*/
        var status_all = /*[[#{status.all}]]*/ 'status_all';
        var status_new = /*[[#{status.new}]]*/ 'status_new';
        var status_assigned = /*[[#{status.assigned}]]*/ 'status_assigned';
        var status_pickedup = /*[[#{status.pickedup}]]*/ 'status_pickedup';
        var status_completed = /*[[#{status.completed}]]*/ 'status_completed';
        var status_canceled = /*[[#{status.canceled}]]*/ 'status_canceled';
        var order_confirm = /*[[#{order.confirm}]]*/ 'order_confirm';
        var order_status = /*[[#{order.status}]]*/ 'order_status';
        var order_id = /*[[#{order.id}]]*/ 'order_id';
        var order_created = /*[[#{order.created}]]*/ 'order_created';
        var order_address = /*[[#{order.address}]]*/ 'order_address';
        var order_summary = /*[[#{order.summary}]]*/ 'order_summary';
        var order_message = /*[[#{order.message}]]*/ 'order_message';
        var order_customer_phone = /*[[#{order.customer.phone}]]*/ 'order_customer_phone';
        var order_cooking = /*[[#{order.cooking}]]*/ 'order_cooking';
        var order_payment = /*[[#{order.payment}]]*/ 'order_payment';
        var order_assigned = /*[[#{order.assigned}]]*/ 'order_assigned';
        var order_pickedup = /*[[#{order.pickedup}]]*/ 'order_pickedup';
        var order_completed = /*[[#{order.completed}]]*/ 'order_completed';
        var order_arrived = /*[[#{order.arrived}]]*/ 'order_arrived';
        var order_return = /*[[#{order.return}]]*/ 'order_return';
        var order_reserved = /*[[#{order.reserved}]]*/ 'order_reserved';
        var order_payment_cash = /*[[#{order.payment.cash}]]*/ 'order_payment_cash';
        var order_payment_card = /*[[#{order.payment.card}]]*/ 'order_payment_card';
        var order_payment_prepayment = /*[[#{order.payment.prepayment}]]*/ 'order_payment_prepayment';
        var order_payment_service = /*[[#{order.payment.service}]]*/ 'order_payment_service';
        var order_assigned_advance = /*[[#{order.assigned.advance}]]*/ 'order_assigned_advance';
        var order_detail = /*[[#{order.detail}]]*/ 'order_detail';
        var rider_name = /*[[#{rider.name}]]*/ 'rider_name';
        var my_store = /*[[${store}]]*/ 'my_store';
        var order_number = /*[[#{order.number}]]*/ 'order_number';
        var order_reg_order_id = /*[[#{order.reg.order.id}]]*/ 'order_reg_order_id';
        var order_confirm_completed = /*[[#{order.confirm.completed}]]*/ 'order_confirm_completed';
        var order_confirm_canceled = /*[[#{order.confirm.canceled}]]*/ 'order_confirm_canceled';
        var order_confirm_assigned = /*[[#{order.confirm.assigned}]]*/ 'order_confirm_assigned';
        var alert_order_assign_max = /*[[#{alert.order.assign.max}]]*/ 'alert_order_assign_max';
        /*]]>*/
	</script>
</html>

