<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org" xmlns:layout="//www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout">
<script type="text/javascript" th:src="@{/resources/js/site/group/group.js}" layout:fragment="script2"></script>
<script layout:fragment="script" th:inline="javascript">
    /*<![CDATA[*/
    var gnb_group = /*[[#{gnb.group}]]*/ 'gnb_group';
    var group_add_label = /*[[#{group.add.label}]]*/ 'group_add_label';
    var group_add_label_sub = /*[[#{group.add.label.sub}]]*/ 'group_add_label_sub';
    var group_add = /*[[#{group.add}]]*/ 'group_add';
    var group_name = /*[[#{group.name}]]*/ 'group_name';
    var store_belong_subgroup  = /*[[#{store.belong.subgroup}]]*/ 'store_belong_subgroup';
    var group_store_count = /*[[#{lgroup.store.count}]]*/ 'group_store_count';
    var group_mod_del = /*[[#{group.mod.del}]]*/ 'group_mod_del';
    var group_mod = /*[[#{group.mod}]]*/ 'group_mod';
    var group_del = /*[[#{group.del}]]*/ 'group_del';
    var group_none = /*[[#{group.none}]]*/ 'group_none';
    var group_store_add_label_sub = /*[[#{group.store.add.label.sub}]]*/ 'group_store_add_label_sub';
    var store_name = /*[[#{store.name}]]*/ 'store_name';
    var subgroup_name = /*[[#{subgroup.name}]]*/ 'subgroup_name'
    var btn_cancel = /*[[#{btn.cancel}]]*/ 'btn_cancel'
    var btn_save = /*[[#{btn.save}]]*/ 'btn_save'

    var alert_confirm_del = /*[[#{alert.confirm.del}]]*/ 'alert_confirm_del'
    var alert_confirm_mod = /*[[#{alert.confirm.mod}]]*/ 'alert_confirm_mod'
    var alert_confirm_mod_success = /*[[#{alert.confirm.mod.success}]]*/ 'alert_confirm_mod_success'
    var alert_error_check = /*[[#{alert.error.check}]]*/ 'alert_error_check'
    var alert_groupSelect_check = /*[[#{alert.groupSelect.check}]]*/ 'alert_groupSelect_check'
    var alert_addSuccess_check = /*[[#{alert.addSuccess.check}]]*/ 'alert_addSuccess_check'



    /*]]>*/
</script>




<!-- 컨텐츠 영역 -->
	<section id="container" layout:fragment="content">
		<h2 id="pageTit" class="blind" th:text="${#messages.msg('gnb.group')}"></h2>
		<div id="contents">
			<div class="group_wrap">
				<div>
					<div>
						<div class="cont_in same-height">
							<p><strong class="fz13 t_black" th:text="${#messages.msg('group.add.label')}"></strong> <span class="fz10" th:text="${#messages.msg('group.add.label.sub')}"></span></p>
							<div class="mt10">
								<input type="text" class="input" id="postGroupName"/>
								<button class="button btn_dgray" onClick="javascript:postGroup()"><i class="fa fa-plus" aria-hidden="true" th:text="${#messages.msg('group.add')}"></i></button>
							</div>
							<hr />
							<div class="tbl_wrap" id="groupList">
								<table class="table">
									<thead>
										<tr>
											<th th:text="${#messages.msg('group.name')}"></th>
											<th th:text="${#messages.msg('store.belong.subgroup')}"></th>
											<th th:text="${#messages.msg('group.store.count')}"></th>
											<th th:text="${#messages.msg('group.mod.del')}"></th>
										</tr>
									</thead>

									<tbody>
										<tr th:each="group : ${groupList}"	th:attr="data-group-id=${group.id}">
											<td class="t_left" th:text="${group.name}" name="groupName"></td>
											<td th:text="${group.subGroupCount}"></td>
											<td th:text="${group.subGroupStoreCount}"></td>
											<td>
												<button class="button h20" name="save" th:text="${#messages.msg('group.mod')}"></button>
												<button class="button h20" name="delete" th:text="${#messages.msg('group.del')}"></button>
											</td>
											<input type="hidden" name="defaultGroupName" th:value="${group.name}" />
										</tr>

										<tr id="noneGroup">
											<td class="t_left" th:text="${#messages.msg('group.none')}"></td>
											<td>0</td>
											<td th:text="${noneGroupList.size()}"></td>
											<td></td>
										</tr>

									</tbody>

								</table>
							</div>
						</div>
					</div>
					<!-- 미지정 그룹 -->
					<div id="noneGroupHtml" style="display: none;">
						<div class="cont_in same-height">
							<p><strong class="fz13 t_black" th:text="${#messages.msg('group.none')}"></strong> <span class="fz10" th:text="${#messages.msg('group.store.add.label.sub')}"></span></p>
							<div class="mt10">
								<input type="text" class="input" />
								<button class="button"><i class="fa fa-search" aria-hidden="true" th:text="${#messages.msg('list.search')}"></i></button>
							</div>
							<hr />
							<div class="tbl_wrap" id="noneGroupList" th:fragment="noneGroupList">
								<table class="table">
									<thead>
									<tr>
										<th th:text="${#messages.msg('group.label.no')}"></th>
										<th th:text="${#messages.msg('store.name')}"></th>
										<th th:text="${#messages.msg('group.name')}"></th>
										<th th:text="${#messages.msg('store.belong.subgroup')}"></th>
									</tr>
									</thead>
									<tbody>
									<tr th:each = "noneGroup:${noneGroupList}" th:attr="data-sub-id=${noneGroup.subGroupId}" th:attrappend="data-group-id=${noneGroup.groupId}">
										<td th:text="${noneGroup.id}" name="storeId"></td>
										<td class="t_left" th:text="${noneGroup.storeName}" name="groupName"></td>
										<td>
											<select class="select w_100" th:name="groupList" >
													<option value="empty">-</option>
												<th:block th:each="groupList:${groupList}" >
													<option th:value="${groupList.id}" th:text="${groupList.name}" ></option>
												</th:block>
											</select>
										</td>
										<td>
											<select th:name="subGroupList" class="select w_100" id="noneStoreSubGroup">
													<option value="empty">-</option>
											</select>
										</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- 미지정 그룹 END-->

					<div id="subGroupHtml" style="display: none;">
						<div class="cont_in same-height">
							<p>
								<label class="checkbox"><input name="checkbox" type="checkbox" /><i></i>
									<strong class="lbl fz13 t_black" id="store_group_name"/>
								</label>
									<strong th:text="${#messages.msg('subgroup.add.label')}"></strong>
									<span class="fz10" th:text="${#messages.msg('subgroup.add.label.sub')}"></span>
							</p>
							<div class="mt10">
								<input type="text" class="input" id="postSubGroupName" disabled="disabled"/>
								<button class="button btn_dgray" onClick="javascript:postSubGroup()"><i class="fa fa-plus" aria-hidden="true" th:text="${#messages.msg('group.add')}"></i></button>
							</div>
							<hr />
							<div class="tbl_wrap" id="subGroupList" th:fragment="subGroupList">
								<table class="table">
									<thead>
										<tr>
											<th th:text="${#messages.msg('subgroup.name')}"></th>
											<th th:text="${#messages.msg('group.store.count')}"></th>
											<th th:text="${#messages.msg('group.mod.del')}"></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each = "subGroup:${subGroupList}" th:attr="data-sub-id=${subGroup.id}" th:attrappend="data-group-id=${subGroup.groupId}">
											<td class="t_left" th:text="${subGroup.name}" name="groupName"></td>
											<td th:text="${subGroup.subGroupStoreCount}"></td>
											<td>
												<button class="button h20" name="save" th:text="${#messages.msg('group.mod')}"></button>
												<button class="button h20" name="delete" th:text="${#messages.msg('group.del')}"></button>
											</td>
											<input type="hidden" name="defaultGroupName" th:value="${subGroup.name}" />
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div id="storeHtml" style="display: none;">
						<div class="cont_in same-height">
							<p><strong class="fz13 t_black" id="store_subgroup_name"/> <span class="fz10" th:text="${#messages.msg('group.store.add.label.sub')}"></span></p>
							 <!--검색 기능-->
							<div class="mt10">
								<input type="text" class="input" id="searchText"/>
								<button class="button" id="storeSearch" ><i class="fa fa-search" aria-hidden="true" th:text="${#messages.msg('list.search')}"></i> </button>
							</div>
							<hr />
							<div class="tbl_wrap" th:fragment="storeList" id="storeList">
								<table class="table" id="store-table">
									<thead>
										<tr>
											<th th:text="${#messages.msg('group.label.no')}"></th>
											<th th:text="${#messages.msg('store.name')}"></th>
											<th th:text="${#messages.msg('group.name')}"></th>
											<th th:text="${#messages.msg('group.del')}"></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each = "store:${storeList}" th:attr="data-sub-id=${store.subGroupId}" th:attrappend="data-group-id=${store.groupId}">
											<td th:text="${store.storeId}" name="storeId"></td>
											<td class="t_left"  th:text="${store.storeName}" name="storeName" id="searchName"></td>
											<td>
												<select class="select w_100" th:name="*{subGroupList}">
													<th:block th:each="subGroupList:${subGroupList}" >
														<option th:value="${subGroupList.id}" th:text="${subGroupList.name}" th:selected="${store.subGroupId == subGroupList.id}"></option>
													</th:block>
												</select>
											</td>
											<td>
												<button class="button h20" name="delete" th:text="${#messages.msg('group.del')}"></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--기능 임시주석 -->
			<div class="button_box">
				<!--<a href="" class="button btn_blue w120 h30" id="selectSave">확인</a>-->
			</div>
		</div>
	</section>
	<!-- //컨텐츠 영역 -->

</html>