<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  	  layout:decorator="/default"> <!--사용할 레이아웃을 지정 -->
  	  
	<div layout:fragment="content">
		
		리스트 페이지
		<div>
			<strong>노출여부</strong>
			<select title="노출여부" >
				<option value="">전체보기</option>
				<option value="Y">노출</option>
				<option value="N">비노출</option>
			</select>
		</div>
		
		<div>
			<select name="searchType">
				<option value="all">전체</option>
				<option value="title">제목</option>
				<option value="content">내용</option>
			</select>
			
			<input title="검색내용입력" type="text" id="searchWord"/>
			<span>
				<a href="javascript:void(0);" onclick="PageFunction.getList('notice')" id="searchBtn">검색</a>
			</span>
		</div>
		
		<div>
			<select title="리스트개수">
				<option value="20">20줄 보기</option>
				<option value="50">50줄 보기</option>
			</select>
		</div>
		
		<div id="boardList">
			<div th:fragment="notice_table" th:with="tot_cnt=12">
				페이지 : <span th:text="${page}"></span>
				총 카운트 : <span th:text="${boardInfo.total}"></span>
				<table border="1">
					<thead>
						<tr>
							<th>선택</th>
							<th>번호</th>
							<th>제목</th>
							<th>작성일</th>
							<th>조회수</th>
						</tr>
					</thead>
					
					<tr th:each="list: ${boardInfo}">
						<td ><input type="checkbox" id="checkbox"/></td>
						<td th:text="${list.boardSeq}">5</td>
						<td><a th:text="${list.boardTitle}" th:href="'/board/'+${list.boardCate}+'/'+${list.boardSeq}">양재점 휴점 안내5</a></td>
						<td th:text="${list.regDate}">5555-55-55</td>
						<td th:text="${list.readCount}">555</td>
					</tr>
					<tr>
						<td colspan="5">
							<a th:each="i : ${#numbers.sequence(1, boardInfo.pages)}" th:href="@{${i}}" th:text="${i}"></a>
						</td>
					</tr>
				</table>
				
				<a href="/board/notice_regist">등록</a>
				<a href="#">삭제</a>
			
			</div>
		</div>
	</div>
	
	<script layout:fragment="script" src="/resources/js/board_common.js"></script>
	
</html>