<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/mainLayout">
	<div class="box" layout:fragment="content">
		<h1><img src="./resources/images/common/logo.png" alt="KFC" /></h1>
		<ul>
			<li class="inp">
				<input type="text" class="input h50" placeholder="아이디" value="" />
			</li>
			<li class="inp">
				<input type="password" class="input h50" placeholder="비밀번호" value="" />
			</li>
			<li class="btn"><a href="#" class="button h50 btn_blue">로그인</a></li>
			<li class="chk">
				<label class="checkbox"><input name="" type="checkbox" /><i></i>
					<span class="lbl">아이디저장</span>
				</label>
				<a href="#">비밀번호 찾기</a>
			</li>

		</ul>
	</div>

<script layout:fragment="script">
	$(function(){

		$(window).resize(function() {
			vaMid('.login_wrap')
		}).trigger('resize');
	})

	function vaMid(tar){
	var $this = $(tar),
		$thisH = $this.outerHeight(),
		$parent = $(window),
		$parentH = $parent.height(),
		$top = Math.max(0,($parentH-$thisH)/2);
	$this.css({'top':$top});
}
</script>
</html>