<!DOCTYPE HTML>
<html xmlns:th="//www.thymeleaf.org" xmlns:layout="//www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/trackerLayout">

<div class="tracker" layout:fragment="content">
	<div class="tracker-top">
		<div id="state_pzh" class="state">
			<span id="tNew" class="step1 on" th:text="${#messages.msg('tracker.new')}" />
			<i></i>
			<span id="tAssign" class="step2" th:text="${#messages.msg('tracker.assign')}"/>
			<i></i>
			<span id="tPickup" class="step3" th:text="${#messages.msg('tracker.pickedup')}"/>
			<i></i>
			<span id="tComplete" class="step4" th:text="${#messages.msg('tracker.completed')}"/>
		</div>
		<div id="state_kfc" class="state">
			<span id="tNew_kfc" class="step1 kfc on" th:text="${#messages.msg('tracker.new')}" />
			<i></i>
			<span id="tAssign_kfc" class="step2 kfc" th:text="${#messages.msg('tracker.assign')}"/>
			<i></i>
			<span id="tPickup_kfc" class="step3 kfc" th:text="${#messages.msg('tracker.pickedup')}"/>
			<i></i>
			<span id="tComplete_kfc" class="step4 kfc" th:text="${#messages.msg('tracker.completed')}"/>
		</div>
	</div>
	<div class="visual_area h390" style="display: none">
	</div>
</div>
<script layout:fragment="script" th:inline="javascript">
/*<![CDATA[*/
var encParam = /*[[${encParam}]]*/ 'encParam';
var ErrorMsg = /*[[${ErrorValue}]]*/ 'ErrorMsg';
var brandCode = /*[[${brandCode}]]*/ 'brandCode';

if (ErrorMsg == undefined || ErrorMsg == ""){
	ErrorMsg = "Check your order information.";
}

$(document).ready(function(){
    if(self == top){
        location.href ="/error/error-tracker";
    }

    if (brandCode == "1"){
		$("#state_pzh").css('display', 'none');
		$("#state_kfc").css('display', '');
		$(".visual_area").removeClass('visual_area_complete');
		$(".visual_area").removeClass('visual_area_ready');
		$(".visual_area").css({"position":"relative","height":"300px","background":"url('../resources/images/tracker/visual_img1.jpg?ver=0.4') center center no-repeat","background-size":"cover"});
		$('.visual_area').css('display', '');
		$(".visual_area").html('<p class="tit_wh" style="color: #8eb3f7;">' + ErrorMsg + '</p>');
	}else{
		$("#state_pzh").css('display', '');
		$("#state_kfc").css('display', 'none');
		$(".visual_area").removeClass('visual_area_complete');
		$(".visual_area").addClass('visual_area_ready');
		$('.visual_area').css('display', '');
		$(".visual_area").html('<p class="tit_wh">' + ErrorMsg + '</p>');
	}

	if(encParam){
        setInterval('returnPage()', 30000);
	}
})
function returnPage() {
    return location.href = "/tracker?encParam="+encParam;
}
/*]]>*/
</script>
</html>