<!DOCTYPE HTML>
<html xmlns:th="//www.thymeleaf.org" xmlns:layout="//www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/trackerLayout">

<div class="tracker" layout:fragment="content">
	<div class="tracker-top">
		<div class="state">
			<span id="tNew" class="step1 on" th:text="${#messages.msg('tracker.new')}" />
			<i></i>
			<span id="tAssign" class="step2" th:text="${#messages.msg('tracker.assign')}"/>
			<i></i>
			<span id="tPickup" class="step3" th:text="${#messages.msg('tracker.pickedup')}"/>
			<i></i>
			<span id="tComplete" class="step4" th:text="${#messages.msg('tracker.completed')}"/>
		</div>
	</div>
	<div class="visual_area h390">
		<!--<div class="loading"></div>-->
	</div>
	<!--<div class="tracker-bottom">
		<table>
			<colgroup>
				<col style="width:12%"/>
				<col />
				<col style="width:12%"/>
				<col style="width:18%"/>
			</colgroup>
			<tbody>
				<tr>
					<th scope="row"></th>
					<td></td>
					<th scope="row" class="t_red"></th>
					<td class="t_red bold"></td>
				</tr>
				<tr>
					<th scope="row"></th>
					<td rowspan="3"></td>
				</tr>
			</tbody>
		</table>
	</div>-->
</div>
<script layout:fragment="script" th:inline="javascript">
/*<![CDATA[*/
var encParam = /*[[${encParam}]]*/ 'encParam';
var ErrorMsg = /*[[${ErrorValue}]]*/ 'ErrorMsg';

if (ErrorMsg == undefined || ErrorMsg == ""){
	ErrorMsg = "Check your order information.";
}

$(document).ready(function(){
    if(self == top){
        location.href ="/error/error-tracker";
    }
	if(encParam){
        setInterval('returnPage()', 30000);
	}

	$(".visual_area").html('<p class="tit_wh">' + ErrorMsg + '</p>');

})
function returnPage() {
    return location.href = "/tracker?encParam="+encParam;
}
/*]]>*/
</script>
</html>