<!DOCTYPE HTML>
<html xmlns:th="//www.thymeleaf.org" xmlns:layout="//www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/trackerLayout">

<div class="tracker" layout:fragment="content">
	<div class="tracker-top">
		<div class="state">
			<span id="tNew" class="step1" th:text="${#messages.msg('tracker.new')}" />
			<i></i>
			<span id="tAssign" class="step2" th:text="${#messages.msg('tracker.assign')}"/>
			<i></i>
			<span id="tPickup" class="step3" th:text="${#messages.msg('tracker.pickedup')}"/>
			<i></i>
			<span id="tComplete" class="step4" th:text="${#messages.msg('tracker.completed')}"/>
		</div>
	</div>
	<div class="progress-background" style="display: none;"><span>餐點準備中</span><div id="progressbar"><div class="progress-label"></div></div><br/></div>
	<div class="visual_area"></div>
	<div id="map" class="mapCtrl" hidden="hidden"></div>
	<div class="tracker-bottom">
		<table>
			<colgroup>
				<col style="width:20%"/>
				<col />
				<col style="width:27%"/>
				<col style="width:10%"/>
			</colgroup>
			<tbody>
			<tr>
				<th scope="row">外送門市</th>
				<td id="storeName">-</td>
				<th scope="row" class="t_red">預計到達時間</th>
				<td class="t_red bold f22" id="reservedTime">-</td>
			</tr>
			<tr>
				<th scope="row">門市地址</th>
				<td colspan="3" id="storeAddress">-</td>
			</tr>
			</tbody>
		</table>
		<div id="divServey" class="divSurvey">
		</div>
	</div>

<!--	<div id="divStarPoint">-->
<!--		<span>&#9830; 您對外送員的服務滿意度？</span>-->
<!--		<div class="point_stars">-->
<!--			<input type="radio" id="5point" name="pointStars" value="5" />-->
<!--			<label for="5point" class="star">&#9733;</label>-->
<!--			<input type="radio" id="4point" name="pointStars" value="4" />-->
<!--			<label for="4point" class="star">&#9733;</label>-->
<!--			<input type="radio" id="3point" name="pointStars" value="3" />-->
<!--			<label for="3point" class="star">&#9733;</label>-->
<!--			<input type="radio" id="2point" name="pointStars" value="2" />-->
<!--			<label for="2point" class="star">&#9733;</label>-->
<!--			<input type="radio" id="1point" name="pointStars" value="1" />-->
<!--			<label for="1point" class="star">&#9733;</label>-->
<!--		</div>-->

<!--		<span>&#9830; 您對外送員的速度滿意度？</span>-->
<!--		<div class="point_stars">-->
<!--			<input type="radio" id="5point-1" name="pointStars-1" value="5" />-->
<!--			<label for="5point-1" class="star">&#9733;</label>-->
<!--			<input type="radio" id="4point-1" name="pointStars-1" value="4" />-->
<!--			<label for="4point-1" class="star">&#9733;</label>-->
<!--			<input type="radio" id="3point-1" name="pointStars-1" value="3" />-->
<!--			<label for="3point-1" class="star">&#9733;</label>-->
<!--			<input type="radio" id="2point-1" name="pointStars-1" value="2" />-->
<!--			<label for="2point-1" class="star">&#9733;</label>-->
<!--			<input type="radio" id="1point-1" name="pointStars-1" value="1" />-->
<!--			<label for="1point-1" class="star">&#9733;</label>-->
<!--		</div>-->
<!--	</div>-->
</div>

<script layout:fragment="script" th:inline="javascript">
	/*<![CDATA[*/
	let tracker = /*[[${tracker}]]*/ 'tracker';
	let encParam = /*[[${encParam}]]*/ 'encParam';

	let map;
	let refreshMillis = 20 * 1000;      // 새로고침 할 밀리세컨드 시간

	let riderMarker;      // 라이더 마커
	let orderMarker;      // 주문지 마커
	let storeMarker;      // 스토어 마커

	let directionsDisplay;   // google DirectionsDisplay
	let directionsService;   // google DircetionsService

	let trackerStatus = -1;            // Rider Status Check
	let deliveryThird = undefined;      // Third Party Rider Check

	let checkTime;                      // Reservation Time - Current Time
	let checkReserveTime;               // Reservation Time - Create Time

	let processValue;                   // Process Bar Value

	let overlay;                        // google overLayview Copy

	// initMap 초기화 성공 유무
	let chkMap = false;

	var durationTime;
	var routeArray = [];

	/**
	 * Page Loaded events
	 * */
	$(document).ready(function(){
		// if this windows is not iframe, we return error page;
		if(self === top){
		   location.href ="/error/error-tracker";
		}

		// Waiting Process
		$("#progressbar").progressbar({
			value: processValue,
			change: function() {
				$(".progress-label").html('');
			},
			complete: function() {

				$(".progress-label").text('');
				// if (processValue >= 100) {
				//    $("#progressbar").hide();
				//    setUI();
				// }
			}
		});

		setUI();
		// 일정 시간마다 화면을 갱신해 준다.
		setInterval(setUI, refreshMillis);
	});

	/**
	 * Google Map Init
	 * */
	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
			zoom: 18,
			center: new google.maps.LatLng((parseFloat(tracker.latitude)+parseFloat(tracker.storeLatitude))/2 + '', (parseFloat(tracker.longitude)+parseFloat(tracker.storeLongitude))/2 + ''),
			disableDefaultUI: true,
			styles: [
				{
					"featureType": "administrative",
					"elementType": "geometry.fill",
					"stylers": [
						{
							"color": "#d6e2e6"
						}
					]
				},
				{
					"featureType": "administrative",
					"elementType": "geometry.stroke",
					"stylers": [
						{
							"color": "#cfd4d5"
						}
					]
				},
				{
					"featureType": "administrative",
					"elementType": "labels.text.fill",
					"stylers": [
						{
							"color": "#7492a8"
						}
					]
				},
				{
					"featureType": "administrative.neighborhood",
					"elementType": "labels.text.fill",
					"stylers": [
						{
							"lightness": 25
						}
					]
				},
				{
					"featureType": "landscape.man_made",
					"elementType": "geometry.fill",
					"stylers": [
						{
							"color": "#dde2e3"
						}
					]
				},
				{
					"featureType": "landscape.man_made",
					"elementType": "geometry.stroke",
					"stylers": [
						{
							"color": "#cfd4d5"
						}
					]
				},
				{
					"featureType": "landscape.natural",
					"elementType": "geometry.fill",
					"stylers": [
						{
							"color": "#dde2e3"
						}
					]
				},
				{
					"featureType": "landscape.natural",
					"elementType": "labels.text.fill",
					"stylers": [
						{
							"color": "#7492a8"
						}
					]
				},
				{
					"featureType": "landscape.natural.terrain",
					"elementType": "all",
					"stylers": [
						{
							"visibility": "off"
						}
					]
				},
				{
					"featureType": "poi",
					"elementType": "geometry.fill",
					"stylers": [
						{
							"color": "#dde2e3"
						}
					]
				},
				{
					"featureType": "poi",
					"elementType": "labels.text.fill",
					"stylers": [
						{
							"color": "#588ca4"
						}
					]
				},
				{
					"featureType": "poi",
					"elementType": "labels.icon",
					"stylers": [
						{
							"saturation": -100
						}
					]
				},
				{
					"featureType": "poi.park",
					"elementType": "geometry.fill",
					"stylers": [
						{
							"color": "#a9de83"
						}
					]
				},
				{
					"featureType": "poi.park",
					"elementType": "geometry.stroke",
					"stylers": [
						{
							"color": "#bae6a1"
						}
					]
				},
				{
					"featureType": "poi.sports_complex",
					"elementType": "geometry.fill",
					"stylers": [
						{
							"color": "#c6e8b3"
						}
					]
				},
				{
					"featureType": "poi.sports_complex",
					"elementType": "geometry.stroke",
					"stylers": [
						{
							"color": "#bae6a1"
						}
					]
				},
				{
					"featureType": "road",
					"elementType": "labels.text.fill",
					"stylers": [
						{
							"color": "#41626b"
						}
					]
				},
				{
					"featureType": "road",
					"elementType": "labels.icon",
					"stylers": [
						{
							"saturation": -45
						},
						{
							"lightness": 10
						},
						{
							"visibility": "on"
						}
					]
				},
				{
					"featureType": "road.highway",
					"elementType": "geometry.fill",
					"stylers": [
						{
							"color": "#c1d1d6"
						}
					]
				},
				{
					"featureType": "road.highway",
					"elementType": "geometry.stroke",
					"stylers": [
						{
							"color": "#a6b5bb"
						}
					]
				},
				{
					"featureType": "road.highway",
					"elementType": "labels.icon",
					"stylers": [
						{
							"visibility": "on"
						}
					]
				},
				{
					"featureType": "road.highway.controlled_access",
					"elementType": "geometry.fill",
					"stylers": [
						{
							"color": "#9fb6bd"
						}
					]
				},
				{
					"featureType": "road.arterial",
					"elementType": "geometry.fill",
					"stylers": [
						{
							"color": "#ffffff"
						}
					]
				},
				{
					"featureType": "road.local",
					"elementType": "geometry.fill",
					"stylers": [
						{
							"color": "#ffffff"
						}
					]
				},
				{
					"featureType": "transit",
					"elementType": "labels.icon",
					"stylers": [
						{
							"saturation": -70
						}
					]
				},
				{
					"featureType": "transit.line",
					"elementType": "geometry.fill",
					"stylers": [
						{
							"color": "#b4cbd4"
						}
					]
				},
				{
					"featureType": "transit.line",
					"elementType": "labels.text.fill",
					"stylers": [
						{
							"color": "#588ca4"
						}
					]
				},
				{
					"featureType": "transit.station",
					"elementType": "all",
					"stylers": [
						{
							"visibility": "off"
						}
					]
				},
				{
					"featureType": "transit.station",
					"elementType": "labels.text.fill",
					"stylers": [
						{
							"color": "#008cb5"
						},
						{
							"visibility": "on"
						}
					]
				},
				{
					"featureType": "transit.station.airport",
					"elementType": "geometry.fill",
					"stylers": [
						{
							"saturation": -100
						},
						{
							"lightness": -5
						}
					]
				},
				{
					"featureType": "water",
					"elementType": "geometry.fill",
					"stylers": [
						{
							"color": "#a6cbe3"
						}
					]
				}
			]
		});

		myOverlay.prototype = new google.maps.OverlayView();

		// 길찾기 표시
		var rendererOptions = {
			map: map,
			suppressMarkers: true,//길찾기시 마커 재적용하려면 필요
			preserveViewport : true,//길찾기시 맵 중심 수동지정하려면 필요
			polylineOptions : {visible: false}//길찾기시 선 제거
		};

		// 길찾기 등의 화면 표기 용도
		directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);

		// 길찾기 API 호출 함수
		directionsService = new google.maps.DirectionsService;

		var bounds = new google.maps.LatLngBounds();

		bounds.extend(new google.maps.LatLng(parseFloat(tracker.latitude),parseFloat(tracker.longitude)));
		bounds.extend(new google.maps.LatLng(parseFloat(tracker.storeLatitude), parseFloat(tracker.storeLongitude)));

		map.fitBounds(bounds);
		// 좌표값들이 모두 보이도록 적용
		map.panToBounds(bounds);
	}

	/**
	 * 화면 그림 그리기
	 * */
	function setUI() {
		$.ajax({
			url:"/trackerInfo",
			type:'get',
			data : {
				encParam : encParam
			},
			dataType : 'json',
			success : function(data) {
				var orderStatus = parseInt(data.status);          // 현재 주문의 상태
				var thirdDelivery = data.thirdPartyId;  // 제 3자 배송

				$("#divServey").empty();				// 설문조사 버튼 표기 div 값 초기화

				// 예약 시간이 있는 경우에만 프로세스 작업을 한다.
				//console.log("data.reservationDatetime => ", data.reservationDatetime);
				if (data.reservationDatetime){
					var bookingTime = new Date(Date.parse(safariSetDate(data.reservationDatetime)));
					var createdTime = new Date(Date.parse(safariSetDate(data.createdDatetime)));
					var nowTime = new Date();

					// 예약 시간이 현재 시간보다 5분 미만으로 남은 경우, 예약 시간을 변경한다.
					// 5분전까지 픽업이 안되는 경우, 예약 시간을 10분 연장하며, 픽업 전 까지 반복한다. 상태는 신규주문 또는 배정까지
					if (bookingTime.getTime() - nowTime.getTime() <= 300000 && (orderStatus === 0 || orderStatus === 5 || orderStatus === 1) ){
						//console.log("시간 계산 시작 before", bookingTime);
						var diffMin = parseInt(Math.abs((bookingTime.getTime() - nowTime.getTime()) / 60000));

						var tenValue = parseInt(diffMin / 10);
						var tenRemainder = diffMin % 10;

						var fiveValue = parseInt(tenRemainder / 5);

						var addMinuteValue = (tenValue + fiveValue + 1) * 10;

						bookingTime.setMinutes(bookingTime.getMinutes() + addMinuteValue);

						//console.log("시간을 계산해 보았습니다.", bookingTime);
					}

					// 예약 시간을 입력한다.
					$("#reservedTime").text(setHourMin(bookingTime.getHours()) + ':' + setHourMin(bookingTime.getMinutes()));

					// 예약 - 현재시간
					checkTime = bookingTime.getTime() - nowTime.getTime();

					// 예약 - 등록 시간
					checkReserveTime = bookingTime.getTime() - createdTime.getTime();

					// 프로세스 비율 저장
					processValue = 100 - Math.round((checkTime / checkReserveTime) * 100);

					if (processValue === 0){
						processValue = 1;
					}
				}

				// 매장명 등록
				if (data.storeName){
					$("#storeName").text(data.storeName);
				}

				// 매장 주소를 화면에 뿌려준다.
				if (data.storeDetailAddress){
					$("#storeAddress").text(data.storeDetailAddress);
				}

				// Step 표기 class 제거
				$('.state > span').removeClass('on');

				if (orderStatus === 4){
					// 주문 상태가 취소인 경우
					location.href = "/error/error-tracker";
				}
				else if (orderStatus === 3) {
					// 주문 상태가 완료인 경우
					$('.progress-background').hide();
					$('#tNew').addClass('on line');
					$('#tAssign').addClass('on line');
					$('#tPickup').addClass('on line');
					$('#tComplete').addClass('on');
					$('.t_red').text('');
					$(".visual_area").attr("id","");
					$(".mapCtrl").attr("id","map");

					// 21.10.14 Background 이미지 변경
					$(".visual_area").removeClass('visual_area_ready');
					$(".visual_area").addClass('visual_area_complete');

					if (thirdDelivery !== undefined && thirdDelivery.toString().trim().length > 0) {
						$(".visual_area").html('<p class="tit_third">由於外送訂單較多，<br/>您的訂單將由第三方外送夥伴安排配送，<br/>完成配對後，將發送簡訊通知。<br/><span class="tit_third_second">謝謝您的耐心等待。<br/>如有疑問，請聯絡門市。</span></p>');
					}else {
						//$(".visual_area").html('<p class="tit_wh">請享用熱騰騰<br/>的美味餐點</p>');

						//$(".visual_area").html('<p class="tit_wh">請享用最美味的餐點<br/><span class="tit_third_second">#就愛一起HOT</span></p>');
						// 2021-10-25 별점 시스템 추가
						if (!isNaN(data.deliveryPoint) && !isNaN(data.speedPoint)){
							// 2개 모두 점수가 있는 경우 정상적으로 완료한 것으로 본다.
							$(".visual_area").html('<p class="tit_wh">請享用最美味的餐點<br/><span class="tit_third_second">#就愛一起HOT</span></p>');
						}else {

							var starPointHtml = '';

							starPointHtml += '<div id="divStarPoint" class="tit_star_point">';

							starPointHtml += '<p style="margin-bottom: 25px;">為我們的外送服務給予好評。</p>';

							starPointHtml += '<span>&#9830; 您對外送員的服務滿意度？</span>';
							starPointHtml += '<div class="point_stars">';
							starPointHtml += '<input type="radio" id="delStarPoint5" name="delStarPoint" value="5" /><label for="delStarPoint5" class="star">&#9733;</label>';
							starPointHtml += '<input type="radio" id="delStarPoint4" name="delStarPoint" value="4" /><label for="delStarPoint4" class="star">&#9733;</label>';
							starPointHtml += '<input type="radio" id="delStarPoint3" name="delStarPoint" value="3" /><label for="delStarPoint3" class="star">&#9733;</label>';
							starPointHtml += '<input type="radio" id="delStarPoint2" name="delStarPoint" value="2" /><label for="delStarPoint2" class="star">&#9733;</label>';
							starPointHtml += '<input type="radio" id="delStarPoint1" name="delStarPoint" value="1" /><label for="delStarPoint1" class="star">&#9733;</label>';
							starPointHtml += '</div>';

							starPointHtml += '<span>&#9830; 您對外送員的速度滿意度？</span>';
							starPointHtml += '<div class="point_stars">';
							starPointHtml += '<input type="radio" id="delSpeedStarPoint5" name="delSpeedStarPoint" value="5" /><label for="delSpeedStarPoint5" class="star">&#9733;</label>';
							starPointHtml += '<input type="radio" id="delSpeedStarPoint4" name="delSpeedStarPoint" value="4" /><label for="delSpeedStarPoint4" class="star">&#9733;</label>';
							starPointHtml += '<input type="radio" id="delSpeedStarPoint3" name="delSpeedStarPoint" value="3" /><label for="delSpeedStarPoint3" class="star">&#9733;</label>';
							starPointHtml += '<input type="radio" id="delSpeedStarPoint2" name="delSpeedStarPoint" value="2" /><label for="delSpeedStarPoint2" class="star">&#9733;</label>';
							starPointHtml += '<input type="radio" id="delSpeedStarPoint1" name="delSpeedStarPoint" value="1" /><label for="delSpeedStarPoint1" class="star">&#9733;</label>';
							starPointHtml += '</div>';

							starPointHtml += '<input type="button" onclick="javascript:saveStarPoint();" value="保存" class="btnStarPoint" />'

							starPointHtml += '</div>';


							$(".visual_area").html(starPointHtml);

							if (data.deliveryPoint){
								$("input:radio[name=delStarPoint][value='" + data.deliveryPoint + "']").attr('checked', true);
							}

							if (data.speedPoint){
								$("input:radio[name=delSpeedStarPoint][value='" + data.speedPoint + "']").attr('checked', true);
							}
						}


						var surveyHtml = '<input type="button" id="btnServey" class="btnSurvey" onclick="javascript:gotoSurvey(\'' + data.regOrderId + '\')" value="為我們的追蹤系統評分給予好評" />'

						$("#divServey").html(surveyHtml);

					}
				}
				else if ((orderStatus === 0 || orderStatus === 5) && (checkReserveTime - 3600000 > 0 && checkTime - 1800000 > 0)) {
					// 예약시간 - 등록 시간이 1시간이 넘으면서 부킹 - 현재 시간이 30분을 초과 하는 경우
					$('.progress-background').hide();
					$('#tNew').addClass('on');
					if($(".visual_area").has('#map').prevObject.length){
						$(".mapCtrl").attr("id","map");
						$(".visual_area").attr("id","");
						//$(".visual_area").removeClass('blurMap');
						// 21.10.14 Background 이미지 변경
						$(".visual_area").removeClass('visual_area_complete');
						$(".visual_area").addClass('visual_area_ready');
						$(".visual_area").html('<p class="tit_wh">已安排餐廳製作</p>');
					}
				}
				else if ((orderStatus === 0 || orderStatus === 5) && (checkReserveTime - 3600000 <= 0 || checkTime - 1800000 <= 0)) {
					// 예약시간 - 등록 시간이 1시간 미만이거나 부킹 - 현재 시간이 30분 미만인 경우
					$('#tNew').addClass('on');

					if(!$("#map").hasClass('visual_area')){
						$(".mapCtrl").attr("id","");
						$(".visual_area").removeClass('visual_area_complete');
						$(".visual_area").addClass('visual_area_ready');
						$(".visual_area").attr("id","map");
						//$("#map").addClass('blurMap');
						//$("#map").removeClass('blurMap');
					}

					$("#progressbar").progressbar( "value", processValue > 100 ? 100 : processValue);
					if ($(".progress-background").css('display') === 'none'){
						$('.progress-background').show();
					}
				}
				else if (orderStatus === 1) {

					console.log("order Status = 1");

					// 현재 배정 상태
					$('#tNew').addClass('on line');
					$('#tAssign').addClass('on');

					if(!$("#map").hasClass('visual_area')){
						$(".mapCtrl").attr("id","");
						$(".visual_area").html("");
						$(".visual_area").removeClass('visual_area_complete');
						$(".visual_area").addClass('visual_area_ready');
						$(".visual_area").attr("id","map");
					}

					$("#progressbar").progressbar( "value", processValue > 100 ? 100 : processValue);
					if ($(".progress-background").css('display') === 'none'){
						$('.progress-background').show();
					}
				}
				else if (orderStatus === 2 || orderStatus === 6){
					// 픽업 완료 및 도착 완료 상태인 경우, 즉 배달 중인 경우
					$('.progress-background').hide();
					$('#tNew').addClass('on line');
					$('#tAssign').addClass('on line');
					$('#tPickup').addClass('on');

					if(!$("#map").hasClass('visual_area')){
						$(".mapCtrl").attr("id","");
						$(".visual_area").attr("id","map");
						//$("#map").addClass('blurMap');
						//$("#map").removeClass('blurMap');
					}

					if ($(".progress-background").css('display') !== 'none') {

						// if (!$("#map").hasClass('blurMap')){
						// 	$("#map").addClass('blurMap');
						// }

						console.log("processValue => ", processValue);

						if(overlay){
							myOverlay.prototype.onRemove = function () {
								if(this.div_ && this.div_.parentNode){
									this.div_.parentNode.removeChild(this.div_);
								}
							}
							overlay.onRemove();
							overlay == null;
						}

						// 프로그레스 바가 표기된 상태라면, 타이머를 실행 시킨다.
						var plusProgress = setInterval(function () {
							processValue++;

							$("#progressbar").progressbar("value", processValue);

							if (processValue >= 100){
								clearInterval(plusProgress);
							}
						}, 100);
					}else {

						// if ($("#map").hasClass('blurMap') || !chkMap){
						// 	$("#map").removeClass('blurMap');
						// 	initMap();
						// 	chkMap = true;
						// }

						if (!chkMap){
							initMap();
							chkMap = true;
						}

						console.log("orderMarker", orderMarker);

						if (!orderMarker){
							orderMarker = new google.maps.Marker({
								position: new google.maps.LatLng(parseFloat(tracker.latitude), parseFloat(tracker.longitude)),
								map: map,
								zIndex: 103,
								icon: {
									url: '/resources/images/tracker/pin_home.png?ver=0.4',
									scaledSize: new google.maps.Size(35, 40)
								}
							});
						}

						console.log("storeMarker", storeMarker);

						if (!storeMarker){
							storeMarker = new google.maps.Marker({
								position: new google.maps.LatLng(parseFloat(tracker.storeLatitude), parseFloat(tracker.storeLongitude)),
								map: map,
								zIndex: 101,
								icon: {
									url: '/resources/images/tracker/pin_store0.png?ver=0.4',
									scaledSize: new google.maps.Size(35, 35)
								}
							});
						}

						// 프로그레스 바가 표기가 안된 상태라면, 배달 경로 화면을 뿌려준다.
						drawRiderRoute(data);
					}
				}

			}
		});
	}

	/**
	 * 라이더 경로를 표기해준다.
	 * */
	function drawRiderRoute(info){
		myOverlay.prototype.onRemove = function (){
			if (this.div_ && this.div_.parentNode){
				this.div_.parentNode.removeChild(this.div_);
			}
		}

		if (overlay){
			if ($('.bigText')){
				// bigText class가 있는 경우 삭제한다
				$('.bigText').remove();
			}

			overlay.onRemove();
		}

		//// google Directions Service 작업 시작
		var selectedMode = 'DRIVING';

		directionsService.route({
			origin: riderMarker ? new google.maps.LatLng(riderMarker.position.toJSON()) : new google.maps.LatLng(info.riderLatitude, info.riderLongitude),
			destination: new google.maps.LatLng(orderMarker.position.toJSON()),
			travelMode: google.maps.TravelMode[selectedMode],
			drivingOptions: {
				departureTime: new Date(),
				trafficModel: 'bestguess'
			},
			optimizeWaypoints: true,
			waypoints: [{
				location: new google.maps.LatLng(info.riderLatitude, info.riderLongitude),
				stopover: true
			}]
		}, function (response, status){
			console.log("map response => ");
			console.log(response);
			if (status === 'OK'){
				// 이전에 처리하지 못한 타이머 이벤트를 모두 중단 시킨다.
				routeArray.forEach(function (route){
					clearTimeout(route);
				});

				routeArray = [];            // route Array를 초기화 시킨다
				var firstRoute = response.routes[0].legs[0];            // 이전 위치에서 현재 라이더 위치까지의 경로
				var secondRoute = response.routes[0].legs[1];           // 현재 라이더 위치에서 주문지까지의 경로

				var durationInTraffic = response.routes[0].legs.reduce((sum, leg) => sum + leg.duration.value, 0);      // 모든 경로의 시간 표기 (초)

				durationTime = Math.round(durationInTraffic / 60);          // 분단위로 값 저장

				// 지도 내에 표기할 문구 생성
				var contentString = '<div class="messageBox">';
				contentString += '<span class="bigText">';
				contentString += durationTime < 10 ? '&nbsp;' + durationTime : durationTime;
				contentString += '</span><div><p class="grayText">分鐘</p><p class="grayText">預計到達時間</p></div></div>';

				// 현재 시간 + 경로의 전체 시간
				var arriveTrafficTime = new Date((new Date).getTime() + durationInTraffic * 1000);

				// 화면의 배달 완료 예정 시간을 변경한다.
				$("#reservedTime").text(setHourMin(arriveTrafficTime.getHours()) + ':' + setHourMin(arriveTrafficTime.getMinutes()));

				// 라이더 위치 값을 표기한다. (움직이는 내용 추가
				if (!riderMarker){
					riderMarker = new SlidingMarker({
						position: firstRoute.start_location,
						map: map,
						zIndex: 102,
						icon: {
							url: info.longitude > info.riderLongitude ? '/resources/images/tracker/pin_moto_right.png?ver=0.4' : '/resources/images/tracker/pin_moto_left.png?ver=0.4',
							scaledSize: new google.maps.Size(40, 49)
						},
						duration: durationInTraffic * 1000,
						easing: "linear"
					});
				}
				else{
					var routeTimeout = function (durationCheckTime, pointLocation, direction, stepTime, AllTime){
						var routeTimer = setTimeout(function () {
							riderMarker.setDuration(durationCheckTime);
							// console.log("라이더 마커 있음");
							// console.log(pointLocation);

							if (direction !== 'keep'){
								riderMarker.setIcon({
									url: (direction === 'right') ? '/resources/images/tracker/pin_moto_right.png?ver=0.4' : '/resources/images/tracker/pin_moto_left.png?ver=0.4',
									scaledSize: new google.maps.Size(40, 49)
								});
							}

							riderMarker.setPosition(pointLocation);

							$('.bigText').html((stepTime < 10 ? '&nbsp;' : '') + stepTime );

							var bounds = new google.maps.LatLngBounds();

							bounds.extend(orderMarker.position);
							bounds.extend(pointLocation);

							map.fitBounds(bounds);
							// 좌표값들이 모두 보이도록 적용
							map.panToBounds(bounds);
						}, AllTime);

						routeArray.push(routeTimer);
					}

					//console.log("routeTimeout 성공 ", info.distance);

					// 길찾기 이벤트 작동하도록 작업 (이동 해야될 구간만 가져온다)
					var firstAllRoute = firstRoute.steps.reduce((total, step) => total.concat(step.lat_lngs), []).concat(firstRoute.end_location);
					var secondTimers = secondRoute.steps.reduce((sum, step) => sum + step.duration.value, 0);
					//var restTimers = durationInTraffic;

					var turnTime = refreshMillis / firstAllRoute.length;

					var allDurationTime = 0;        // setTimerout이 작동될 시간을 설정한다.

					// console.log("firstAllRoute => ", firstAllRoute.length, " secondTimers => ", secondTimers);

					// 라이더의 이전 위치에서 현재 위치까지 뺑뻉이를 돌린다.
					firstAllRoute.some(function (route, index){
						// Marker 방향 지정
						var direction = firstAllRoute[index + 1] && firstAllRoute[index + 1].lng() > route.lng() ? 'right' : (firstAllRoute[index + 1] && firstAllRoute[index + 1].lng() < route.lng() ? 'left' : 'keep');

						routeTimeout(turnTime, route, direction, Math.round(secondTimers / 60), allDurationTime);
						allDurationTime += turnTime;

						return index + 1 === firstAllRoute.length;
					});
				}

				// 구글맵에 내용 추가
				myOverlay.prototype.onAdd = function () {
					var div = document.createElement('div');
					div.style.borderStyle = 'none';
					div.style.position = 'absolute';
					div.style.widows = '140px';

					div.innerHTML = this.content_;

					this.div_ = div;

					var panes = this.getPanes();
					panes.overlayLayer.appendChild(div);
				}

				myOverlay.prototype.draw = function () {
					var overlayProjection = this.getProjection();
					var ne = overlayProjection.fromLatLngToDivPixel(this.map_.getCenter());
					var div = this.div_;

					div.style.left = info.longitude > info.storeLongitude ? ne.x - 160 + 'px' : ne.x + 18+ 'px';
					if(info.longitude > info.storeLongitude){
						div.style.top = info.latitude < info.storeLatitude ? ne.y + 92 + 'px' : ne.y - 150 + 'px';
					}else{
						div.style.top = info.latitude < info.storeLatitude ? ne.y + 79 + 'px' : ne.y - 150 + 'px';
					}
				}

				overlay = new myOverlay(orderMarker, contentString, map);

				directionsDisplay.setDirections(response);
			}
			// status !== 'OK'
			else{
				alert('Directions request failed due to ' + status);
			}
		});
	}

	function myOverlay(marker,content, map) {
		this.marker_ = marker;
		this.content_ = content;
		this.map_ = map;

		this.div_ = null;

		this.setMap(this.map_);
	}

	function setHourMin(time1) {
		if(time1===0){
			return "00";
		}else{
			return (time1+'').length>1?time1:'0'+time1;
		}
	}

	function safariSetDate(time) {
		time = time.replace(' ', 'T') + 'Z';

		var changeDate = new Date(time);

		var yyyy = changeDate.getUTCFullYear().toString();
		var mm = (changeDate.getUTCMonth() + 1).toString();
		var dd = changeDate.getUTCDate().toString();

		var hh = changeDate.getUTCHours().toString();
		var nn = changeDate.getUTCMinutes().toString();
		var ss = changeDate.getUTCSeconds().toString();

		return yyyy + '/' + (mm[1] ? mm : '0' + mm[0]) + '/' + (dd[1]?dd:'0' + dd[0]) + ' '+
				(hh[1] ? hh : '0' + hh[0]) + ':' + (nn[1] ? nn : '0' + nn[0]) + ':' + (ss[1] ? ss : '0' + ss[0]);
	}

	function saveStarPoint(){
		var deliveryStarPoint = $("input:radio[name=delStarPoint]:checked").val();
		var speedStarPoint = $("input:radio[name=delSpeedStarPoint]:checked").val();

		if (isNaN(deliveryStarPoint) || isNaN(speedStarPoint)){
			alert('請選擇全部評分。');
			return;
		}

		$.ajax({
			url: '/regStarPoint',
			type: 'get',
			dataType: 'json',
			data: {
				encParam: encParam,
				deliveryPoint: deliveryStarPoint,
				speedPoint: speedStarPoint
			},
			success: function (obj){
				console.log('obj => ', obj);
				if (obj.result){
					alert(obj.message);
				}
			},
			error: function (e){
				//console.log('error');
				alert('系統錯誤');
			},
			complete: function (){
				console.log('complete');
				setUI();
			}
		});



	}

	// 설문조사 탭 띄우기
	function gotoSurvey(regOrderId){
		if (regOrderId){
			window.open('https://www.surveycake.com/s/NYmMe?ssn44='+regOrderId);
		}
	}

	/*]]>*/
</script>

<script type="text/javascript" defer="defer" th:src="@{https://maps.googleapis.com/maps/api/js(key=AIzaSyDjTHhFpKViBPzb7VQ21kh9Dp6KOhtOTBo,language=${#messages.msg('map.language')},region=${#messages.msg('map.region')},callback=initMap)}" layout:fragment="script2" ></script>
<script type="text/javascript" defer="defer" th:src="@{/resources/js/lib/jquery.easing.1.3.js}" layout:fragment="script3" ></script>
<script type="text/javascript" defer="defer" th:src="@{/resources/js/lib/markerAnimate.js}" layout:fragment="script4" ></script>
<script type="text/javascript" defer="defer" th:src="@{/resources/js/lib/SlidingMarker.min.js}" layout:fragment="script5" ></script>
</html>