<!DOCTYPE HTML>
<html xmlns:th="//www.thymeleaf.org" xmlns:layout="//www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/trackerLayout">

<div class="tracker" layout:fragment="content">
    <div class="tracker-top">
        <div class="state">
            <span id="tNew" class="step1" th:text="${#messages.msg('tracker.new')}" />
            <i></i>
            <span id="tAssign" class="kfc" th:text="${#messages.msg('tracker.assign')}"/>
            <i></i>
            <span id="tPickup" class="step3" th:text="${#messages.msg('tracker.pickedup')}"/>
            <i></i>
            <span id="tComplete" class="step4" th:text="${#messages.msg('tracker.completed')}"/>
        </div>
    </div>
    <div class="progress-background kfc" style="display: none;"><span>餐點準備中</span><div id="progressbar"><div class="progress-label"></div></div><br/></div>
    <div class="visual_area_kfc">
        <!--<div id="messageBox" style="display: none;"></div>
        <div id="progressbar" style="display: none;"></div>-->
    </div>
    <div id="map" class="mapCtrl" hidden="hidden"></div>
    <div class="tracker-bottom">
        <table>
            <colgroup>
                <col style="width:20%"/>
                <col />
                <col style="width:27%"/>
                <col style="width:10%"/>
            </colgroup>
            <tbody>
            <tr>
                <th scope="row">外送門市</th>
                <td id="storeName">-</td>
                <th scope="row" class="t_red">預計到達時間</th>
                <td class="t_red bold f22" id="reservedTime">-</td>
            </tr>
            <tr>
                <th scope="row">門市地址</th>
                <td colspan="3" id="storeAddress">-</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">
    /*<![CDATA[*/
    var createdDatetime = /*[[${tracker.createdDatetime}]]*/ 'createdDatetime';
    var reservationDatetime = /*[[${tracker.reservationDatetime}]]*/ 'reservationDatetime';
    var latitude = /*[[${tracker.latitude}]]*/ 'latitude';
    var longitude = /*[[${tracker.longitude}]]*/ 'longitude';
    var storeName = /*[[${tracker.storeName}]]*/ 'storeName';
    var storeLatitude = /*[[${tracker.storeLatitude}]]*/ 'storeLatitude';
    var storeLongitude = /*[[${tracker.storeLongitude}]]*/ 'storeLongitude';
    var distance = /*[[${tracker.distance}]]*/ 'distance';
    var encParam = /*[[${encParam}]]*/ 'encParam';

    var map;
    var marker = [];
    var directionsDisplay;
    var directionsService;
    var checkEnter = 0;
    var checkTime;
    var checkReserveTime;
    var checkProgressValue = 0;
    var durationTime;
    var beforeDurationTime = 60;
    var routeArray = [];
    var AllDurationTime = [];
    let trackerStatus = -1;
    let deliveryThird = undefined;

    function setUI() {
        $.ajax({
            url:"/trackerInfo",
            type:'get',
            data : {
                encParam : encParam
            },
            dataType : 'json',
            success : function(data) {
                trackerStatus = data.status;
                deliveryThird = data.thirdPartyId;

                if (data.reservationDatetime) {
                    var arriveTime = new Date(Date.parse(safariSetDate(data.reservationDatetime)));
                    var createTime = new Date(Date.parse(safariSetDate(data.createdDatetime)));
                    $('#reservedTime').text(setHourMin(arriveTime.getHours()) + ':' + setHourMin(arriveTime.getMinutes()));
                    var nowTime = new Date();
                    checkTime = arriveTime.getTime()-nowTime.getTime();
                    checkReserveTime = arriveTime.getTime()-createTime.getTime();
                    checkProgressValue = 100-Math.round((checkTime/checkReserveTime)*100);
                    if(checkProgressValue == 0){
                        checkProgressValue = 1;
                    }
                }

                if((trackerStatus == 0 || trackerStatus == 5 || trackerStatus == 1) && checkReserveTime - 3600 * 1000 <= 0){//예약시간과 등록시간이 1시간이내인지 체크
                    localStorage.setItem('checkStep','true');
                }
                if(data.storeName){
                    $('#storeName').text(data.storeName);
                }

                $('.state > span').removeClass('on');

                if ((trackerStatus == 0 || trackerStatus == 5 || trackerStatus == 1) && !localStorage.getItem('checkStep')/*!$.cookie('checkStep')*/) {
                    $('.progress-background').hide();
                    $('#tNew').addClass('on');
                    if($(".visual_area_kfc").has('#map').prevObject.length){
                        $(".mapCtrl").attr("id","map");
                        $(".visual_area_kfc").attr("id","");
                        $(".visual_area_kfc").html('<p class="tit_wh">已安排餐廳製作</p>');
                        // // 주문 매장의 브랜드 코드에 따른 문구 색상 변경
                        // switch (data.brandCode) {
                        // 	case "1":
                        // 		$(".visual_area").html('<p class="tit_red">已安排餐廳製作</p>');
                        // 		break;
                        // 	default:
                        // 		$(".visual_area").html('<p class="tit_wh">已安排餐廳製作</p>');
                        // 		break;
                        // }
                    }

                    if(checkTime - 1800 * 1000 <= 0){//예약시간과 현재시간이 30분 이내인지 체크
                        localStorage.setItem('checkStep','true');
                        setUI();
                    }

                } else if ((trackerStatus == 0 || trackerStatus == 5 || trackerStatus == 1)&& localStorage.getItem('checkStep')/*$.cookie('checkStep')*/) {
                    $('#tNew').addClass('on line');
                    $('#tAssign').addClass('on');
                    if(checkEnter==0){
                        $(".mapCtrl").attr("id","");
                        $(".visual_area_kfc").attr("id","map");
                        $("#map").addClass('blurMap');
                        initMap();
                    }
                    checkEnter = 1;
                    startEndPoint();
                    $('.progress-background').show();

                } else if (trackerStatus == 2 && !localStorage.getItem('chkProgress')/*!$.cookie('chkProgress')*/) {
                    $('.progress-background').hide();
                    $('#tNew').addClass('on line');
                    $('#tAssign').addClass('on');
                    if(checkEnter==0||checkEnter==1){
                        $(".mapCtrl").attr("id","");
                        $(".visual_area_kfc").attr("id","map");
                        $("#map").addClass('blurMap');
                        initMap();
                    }
                    checkEnter =1;
                    startEndPoint();
                    $('.progress-background').show();
                    var plusProgress = setInterval(function(){
                        checkProgressValue++;
//                    console.log(checkProgressValue);
                        $("#progressbar").progressbar("value", checkProgressValue);
                        if(checkProgressValue==100){
                            clearInterval(plusProgress);
                        }
                    }, 100);
                } else if ((trackerStatus == 2 || trackerStatus == 6) && localStorage.getItem('chkProgress')/*$.cookie('chkProgress')*/) {
                    $('.progress-background').hide();
                    $('#tNew').addClass('on line');
                    $('#tAssign').addClass('on line');
                    $('#tPickup').addClass('on');
                    if(checkEnter==0||checkEnter==1){
                        $(".mapCtrl").attr("id","");
                        $(".visual_area_kfc").attr("id","map");
                        $("#map").removeClass('blurMap');
                        initMap();
                    }
                    checkEnter =2;
                    //                $.removeCookie('checkStep');
                    localStorage.removeItem('checkStep');
                    calculateAndDisplayRoute(directionsService, directionsDisplay);

//                setInterval('calculateAndDisplayRoute(directionsService, directionsDisplay)', 30000);
                } else if(trackerStatus == 3) {
                    $('.progress-background').hide();
                    $('#tNew').addClass('on line');
                    $('#tAssign').addClass('on line');
                    $('#tPickup').addClass('on line');
                    $('#tComplete').addClass('on');
                    $('.t_red').text('');
                    $(".visual_area_kfc").attr("id","");
                    $(".mapCtrl").attr("id","map");
                    if (deliveryThird.toString().trim().length > 0) {
                        $(".visual_area_kfc").html('<p class="tit_third">謝謝您的訂購，訂單已處理安排中；<br/>由於現有大量訂單，您的訂單會由Foodpanda 代為外送.</p>');
                    }else {
                        $(".visual_area_kfc").html('<p class="tit_wh">請享用熱騰騰<br/>的美味餐點</p>');
                    }

                    localStorage.clear();
                } else if(trackerStatus == 4){
                    location.href ="/error/error-tracker";
                }

                if(data.storeDetailAddress) {
                    $('#storeAddress').text(data.storeDetailAddress);
                }
//    $('#riderName').text(riderName?riderName:"-");
            }
        });
    }

    $(document).ready(function(){
        /*if(navigator.cookieEnabled){
            alert("쿠키허용됨");
        }else{
            alert("쿠키차단됨");
        }*/
        if(self == top){
            location.href ="/error/error-tracker";
        }

        $("#progressbar").progressbar({
            value: checkProgressValue,
            change: function() {
                $(".progress-label").html('');
            },
            complete: function() {
                $(".progress-label").text('');
                if(!localStorage.getItem('chkProgress')/*!$.cookie('chkProgress')*/){
                    localStorage.setItem('chkProgress','true');
//                $.cookie('chkProgress','true',{expires:1});
                    setUI();
                }
            }
        });

        setUI();
        setInterval('setUI()', 20000);
    });

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 1,
            center: new google.maps.LatLng((parseFloat(latitude)+parseFloat(storeLatitude))/2 + '', (parseFloat(longitude)+parseFloat(storeLongitude))/2 + ''),
//        mapTypeControl: false,
            disableDefaultUI: true,
            styles: [
                {
                    "featureType": "administrative",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#d6e2e6"
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#cfd4d5"
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#7492a8"
                        }
                    ]
                },
                {
                    "featureType": "administrative.neighborhood",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "lightness": 25
                        }
                    ]
                },
                {
                    "featureType": "landscape.man_made",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#dde2e3"
                        }
                    ]
                },
                {
                    "featureType": "landscape.man_made",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#cfd4d5"
                        }
                    ]
                },
                {
                    "featureType": "landscape.natural",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#dde2e3"
                        }
                    ]
                },
                {
                    "featureType": "landscape.natural",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#7492a8"
                        }
                    ]
                },
                {
                    "featureType": "landscape.natural.terrain",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#dde2e3"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#588ca4"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "saturation": -100
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#a9de83"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#bae6a1"
                        }
                    ]
                },
                {
                    "featureType": "poi.sports_complex",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#c6e8b3"
                        }
                    ]
                },
                {
                    "featureType": "poi.sports_complex",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#bae6a1"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#41626b"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "saturation": -45
                        },
                        {
                            "lightness": 10
                        },
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#c1d1d6"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#a6b5bb"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "road.highway.controlled_access",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#9fb6bd"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "saturation": -70
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#b4cbd4"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#588ca4"
                        }
                    ]
                },
                {
                    "featureType": "transit.station",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit.station",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#008cb5"
                        },
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "transit.station.airport",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "saturation": -100
                        },
                        {
                            "lightness": -5
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#a6cbe3"
                        }
                    ]
                }
            ]
        });
        myOverlay.prototype = new google.maps.OverlayView();

        var rendererOptions = {
            map: map,
            suppressMarkers: true,//길찾기시 마커 재적용하려면 필요
            preserveViewport : true,//길찾기시 맵 중심 수동지정하려면 필요
            polylineOptions : {visible: false}//길찾기시 선 제거
        };

        directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);
        directionsService = new google.maps.DirectionsService;

        if(trackerStatus == 2 || trackerStatus == 6){
            directionsDisplay.setMap(map);
//        calculateAndDisplayRoute(directionsService, directionsDisplay);
        }

        var bounds = new google.maps.LatLngBounds();
//    bounds.extend(new google.maps.LatLng(latitude>storeLatitude?parseFloat(latitude)+0.003:parseFloat(latitude)-0.003,parseFloat(longitude)));
        bounds.extend(new google.maps.LatLng(parseFloat(latitude),parseFloat(longitude)));
        bounds.extend(new google.maps.LatLng(parseFloat(storeLatitude), parseFloat(storeLongitude)));

        map.fitBounds(bounds);
        map.panToBounds(bounds);

        /*var zoomChangeBoundsListener =
                google.maps.event.addListenerOnce(map, 'bounds_changed', function(event) {
                    if ( this.getZoom() ){   // or set a minimum
                        this.setZoom(this.getZoom() +1);  // set zoom here
                    }
                });

        setTimeout(function(){google.maps.event.removeListener(zoomChangeBoundsListener)}, 2000);*/
    }
    var overlay;
    function myOverlay(marker,content, map) {
        this.marker_ = marker;
        this.content_ = content;
        this.map_ = map;

        this.div_ = null;

        this.setMap(this.map_);
    }
    function startEndPoint() {
        $.ajax({
            url:"/trackerInfo",
            type:'get',
            data : {
                encParam : encParam
            },
            dataType : 'json',
            success : function(data) {
                // console.log(data.brandCode);

                // switch (data.brandCode) {
                //     case "1":
                //         $(".progress-background").addClass("kfc");
                //         break;
                //     default:
                //         break;
                // }

                if(overlay){
                    myOverlay.prototype.onRemove = function () {
                        if(this.div_ && this.div_.parentNode){
                            this.div_.parentNode.removeChild(this.div_);
                        }
                        //this.div_ = null;
                    }
                    overlay.onRemove();
                    overlay == null;
                }

                for (var i = 0; i < marker.length; i++) {
                    marker[i].setMap(null);
                }
                $("#progressbar").progressbar( "value", checkProgressValue>100?100:checkProgressValue);
            }
        });
    }

    function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        $.ajax({
            url: "/trackerInfo",
            type: 'get',
            data: {
                encParam: encParam
            },
            dataType: 'json',
            success: function (data) {
//            $(".messageBox").remove();

                myOverlay.prototype.onRemove = function () {
                    if (this.div_ && this.div_.parentNode) {
                        this.div_.parentNode.removeChild(this.div_);
                    }
//                            this.div_ = null;
                }
                if (overlay) {
                    if ($('.bigText')) {
                        $('.bigText').remove();
                    }
                    overlay.onRemove();
                }
                trackerStatus = data.status;
                if(trackerStatus!=2 && trackerStatus!=6){
                    setUI();
                }else{
                    // // 이미지 경로 저장
                    // let imgRiderLeft;
                    // let imgRiderRight;
                    //
                    // // 브랜드 코드에 따른 이미지 추출
                    // switch (data.brandCode) {
                    //     case "1":
                    //         imgRiderLeft = '/resources/images/tracker/pin_moto_left1.png?ver=0.4';
                    //         imgRiderRight = '/resources/images/tracker/pin_moto_right1.png?ver=0.4';
                    //         break;
                    //     default:
                    //         imgRiderLeft = '/resources/images/tracker/pin_moto_left.png?ver=0.4';
                    //         imgRiderRight = '/resources/images/tracker/pin_moto_right.png?ver=0.4';
                    //         break;
                    // }

                    var selectedMode = 'DRIVING';
                    //		var selectedMode = 'TRANSIT';
                    //      var selectedMode = 'WALKING';
                    directionsService.route({
//                    origin: marker[2]?new google.maps.LatLng(marker[2].gm_accessors_.animationPosition.gd.position.lat(), marker[2].gm_accessors_.animationPosition.gd.position.lng()):new google.maps.LatLng(data.riderLatitude, data.riderLongitude),  // Haight.
                        origin: marker[2]?new google.maps.LatLng(marker[2].position.lat(), marker[2].position.lng()):new google.maps.LatLng(data.riderLatitude, data.riderLongitude),  // Haight.
                        destination: new google.maps.LatLng(data.latitude, data.longitude),
//                    destination: new google.maps.LatLng(data.riderLatitude, data.riderLongitude),
                        // Note that Javascript allows us to access the constant
                        // using square brackets and a string value as its
                        // "property."
                        travelMode: google.maps.TravelMode[selectedMode],
                        drivingOptions: {
                            departureTime: new Date(),
                            trafficModel: 'bestguess'
                        },
                        optimizeWaypoints : true,
                        waypoints: [{location : new google.maps.LatLng(data.riderLatitude, data.riderLongitude)
                            ,stopover:true}]
                    }, function(response, status) {
                        if (status == 'OK') {
                            console.log(response)
                            routeArray.forEach(function(route){
                                return clearTimeout(route);
                            })

                            routeArray = [];
                            AllDurationTime = [];
                            var route = response.routes[0].legs[0];
                            var route2 = response.routes[0].legs[1];

                            var durationInTraffic = response.routes[0].legs.reduce(function (sum, leg) {
                                return sum + leg.duration.value
                            },0)/60;

                            durationTime = Math.round(durationInTraffic);

                            if (beforeDurationTime - durationTime < -2){
                                durationTime = beforeDurationTime;
                            }
                            if (localStorage.getItem('restCheckTime')){
                                durationTime = 0;
                            }
                            var contentString = '<div class="messageBox">'+
                                '<span class="bigText">'+ (durationTime<10?'&nbsp;'+durationTime:durationTime) + '</span>' +
                                '<div><p class="grayText">分鐘</p>'+
                                '<p class="grayText">預計到達時間</p></div></div>';
                            beforeDurationTime = Math.round(durationInTraffic);
//                        var arriveTrafficTime = new Date((new Date).getTime()+route.duration_in_traffic.value*1000);
                            var arriveTrafficTime = new Date((new Date).getTime()+durationInTraffic*60*1000);

                            $('#reservedTime').text(setHourMin(arriveTrafficTime.getHours()) + ':' + setHourMin(arriveTrafficTime.getMinutes()));
                            if(!marker[0]){
                                marker[0] = new google.maps.Marker({
                                    position: response.routes[0].legs[response.routes[0].legs.length-1].end_location,
                                    map: map,
                                    zIndex:101,
                                    /*label:{fontWeight: "bold",
                                        text:tracker_destination},*/
                                    icon: {
                                        url:'/resources/images/tracker/pin_home.png?ver=0.4',
                                        scaledSize: new google.maps.Size(30, 40)
                                    }
                                });
                            }
                            if(!marker[1]){
                                marker[1] = new google.maps.Marker({
                                    position: new google.maps.LatLng(data.storeLatitude, data.storeLongitude),
                                    map: map,
                                    zIndex:103,
                                    /*label:{fontWeight: "bold", text:data.storeName},*/
                                    icon: {
                                        url:'/resources/images/tracker/pin_store1.png?ver=0.4',
                                        // url: data.brandImg,
                                        scaledSize: new google.maps.Size(35, 35)
                                    }
                                });
                            }

                            if(!marker[2]){
                                marker[2] = new SlidingMarker({
                                    // position: new google.maps.LatLng(route.start_location.lat(), route.start_location.lng() + (data.distance>0.1?0.00000:0.00100)),
                                    position: new google.maps.LatLng(route.start_location.lat(), route.start_location.lng()),
                                    map: map,
                                    zIndex:102,
                                    icon: {
                                        // url: data.longitude>data.riderLongitude?'/resources/images/tracker/pin_moto_right.png?ver=0.4':'/resources/images/tracker/pin_moto_left.png?ver=0.4',
                                        url: data.longitude>data.riderLongitude?'/resources/images/tracker/pin_moto_right1.png?ver=0.4':'/resources/images/tracker/pin_moto_left1.png?ver=0.4',
                                        scaledSize: new google.maps.Size(40, 49)
                                    },
                                    duration: durationInTraffic*60*1000,
//								duration: (route.duration_in_traffic).value * 1000,
                                    easing: "linear"
//								easing: "easeOutCirc"
// 								easing: "easeOutExpo"
                                });
                            }else {
                                var tempDurationTime = 0;
                                var routeTimeout = function(durationCheckTime, pointLocation, direction, restStepTime, AllTime){
                                    var routeSetTime = setTimeout(function () {
                                        marker[2].setDuration(durationCheckTime);
                                        if(direction != 'keep'){
                                            // marker[2].setIcon({url:(direction == 'right')?'/resources/images/tracker/pin_moto_right.png?ver=0.4':'/resources/images/tracker/pin_moto_left.png?ver=0.4', scaledSize: new google.maps.Size(40, 49)});
                                            marker[2].setIcon({url:(direction == 'right')?'/resources/images/tracker/pin_moto_right1.png?ver=0.4':'/resources/images/tracker/pin_moto_left1.png?ver=0.4', scaledSize: new google.maps.Size(40, 49)});
                                        }
                                        marker[2].setPosition(pointLocation);
                                        if(restStepTime == 0){
                                            localStorage.setItem('restCheckTime','true');
                                        }
                                        $('.bigText').html(restStepTime<10?'&nbsp;'+restStepTime:restStepTime);
                                    },AllTime);
                                    routeArray.push(routeSetTime);
                                };

                                if(data.distance > 0.1 && !localStorage.getItem('restCheckTime')){
                                    var stepTimes = route.steps.concat(route2.steps).reduce(function (total, step, index) {
                                        return total.concat(step.lat_lngs.map(function(lat_lng){
                                            return JSON.stringify({duration : step.duration.value, index : index});// 배열안의 객체 비교 편하게 하려고 문자열로 변환
                                        }));
                                    },[]);// 구간별 걸리는 시간

                                    var restStepTime = stepTimes.map(function (stepTime1) {
                                        return stepTimes.filter(function(step, index) {
                                            return stepTimes.indexOf(step) === index;
                                        }).reduce(function (total, stepTime2) {
                                            if(JSON.parse(stepTime1).index > JSON.parse(stepTime2).index){
                                                return total;
                                            }else {
                                                return total + JSON.parse(stepTime2).duration;
                                            }
                                        },0);
                                    });// 구간별 남은 누적 시간

                                    var allRoute = route.steps.reduce(function (total, step) {
                                        return total.concat(step.lat_lngs);
                                    },[]).concat(route.end_location); // 총 경로

                                    var turnTime = 50 * 1000/ allRoute.length; //각 경로당 이동시간

                                    // console.log(allRoute.map(route => {return {lat : route.lat(), lng : route.lng()} }))
                                    allRoute.some(function (route, index) {
                                        var direction = allRoute[index + 1] && allRoute[index + 1].lng() > route.lng() ? 'right':(allRoute[index + 1] && allRoute[index + 1].lng() < route.lng()?'left':'keep'); //마커 방향

                                        routeTimeout(turnTime, route, direction, Math.round(restStepTime[index]/60), AllDurationTime[index - 1]);
                                        tempDurationTime += turnTime;
                                        AllDurationTime[index] = tempDurationTime;

                                        return index + 1 == allRoute.length;
                                    });
                                }
                            }
                            myOverlay.prototype.onAdd = function () {
                                var div = document.createElement('div');
                                div.style.borderStyle = 'none';
                                div.style.position = 'absolute';
                                div.style.width = '140px';

                                div.innerHTML = this.content_;

                                this.div_ = div;
                                var panes = this.getPanes();
                                panes.overlayLayer.appendChild(div);
//                            panes.floatPane.appendChild(div);
                            }
                            myOverlay.prototype.draw = function () {
                                var overlayProjection = this.getProjection();

                                var ne = overlayProjection.fromLatLngToDivPixel(this.map_.getCenter());

                                var div = this.div_;

                                div.style.left = data.longitude>data.storeLongitude?ne.x - 160 + 'px':ne.x + 18+ 'px';
                                if(data.longitude>data.storeLongitude){
                                    div.style.top = data.latitude<data.storeLatitude?ne.y + 92 + 'px':ne.y - 150 + 'px';
                                }else{
                                    div.style.top = data.latitude<data.storeLatitude?ne.y + 79 + 'px':ne.y - 150 + 'px';
                                }
                            }

                            overlay = new myOverlay(marker[0],contentString,map);

                            directionsDisplay.setDirections(response);
                        } else {
                            window.alert('Directions request failed due to ' + status);
                        }
                    });
                }
            }/*,
        error : function (request,status,error) {
            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }*/
        })
    }

    function setHourMin(time1) {
//    console.log(time1);
        if(time1==0){
            return "00";
        }else{
            return (time1+'').length>1?time1:'0'+time1;
        }
    }

    function safariSetDate(time) {
        time = time.replace(' ', 'T') + 'Z';

        var changeDate = new Date(time);

        var yyyy = changeDate.getUTCFullYear().toString();
        var mm = (changeDate.getUTCMonth() + 1).toString();
        var dd = changeDate.getUTCDate().toString();

        var hh = changeDate.getUTCHours().toString();
        var nn = changeDate.getUTCMinutes().toString();
        var ss = changeDate.getUTCSeconds().toString();

        return yyyy + '/' + (mm[1] ? mm : '0' + mm[0]) + '/' + (dd[1]?dd:'0' + dd[0]) + ' '+
            (hh[1] ? hh : '0' + hh[0]) + ':' + (nn[1] ? nn : '0' + nn[0]) + ':' + (ss[1] ? ss : '0' + ss[0]);
    }

    /*]]>*/
</script>

<script type="text/javascript" defer="defer" th:src="@{https://maps.googleapis.com/maps/api/js(key=AIzaSyDjTHhFpKViBPzb7VQ21kh9Dp6KOhtOTBo,language=${#messages.msg('map.language')},region=${#messages.msg('map.region')},callback=initMap)}" layout:fragment="script2" ></script>
<script type="text/javascript" defer="defer" th:src="@{/resources/js/lib/jquery.easing.1.3.js}" layout:fragment="script3" ></script>
<script type="text/javascript" defer="defer" th:src="@{/resources/js/lib/markerAnimate.js}" layout:fragment="script4" ></script>
<script type="text/javascript" defer="defer" th:src="@{/resources/js/lib/SlidingMarker.min.js}" layout:fragment="script5" ></script>
</html>