<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout">

	<!-- 컨텐츠 영역 -->
	<section id="container" layout:fragment="content">
		<h2 id="pageTit" class="blind" th:text="${#messages.msg('gnb.setting')}" />
		<div class="tabmenu">
			<ul>
				<li><a href="/setting-account" th:text="${#messages.msg('gnb.setting.account')}" /></li>
				<li class="on"><a href="/setting-assign" th:text="${#messages.msg('gnb.setting.assign')}" /></li>
				<li><a href="/setting-rider" th:text="${#messages.msg('gnb.setting.rider')}" /></li>
				<li><a href="/setting-alarm" th:text="${#messages.msg('gnb.setting.alarm')}" /></li>
				<li><a href="/setting-notice" th:text="${#messages.msg('gnb.notice')}" /></li>
			</ul>
		</div>
		<div id="contents">
			<div class="cont_box">
				<div class="top"><strong th:text="${#messages.msg('gnb.setting.assign')}" /></div>
				<div class="cont">
					<ul class="form_list" th:object="${store}">
						<li>
							<strong th:text="${#messages.msg('order.assign.mode')}" />
							<div>
								<label class="radio"><input name="assign" value="1" type="radio"  th:checked="${store.assignmentStatus} == 1" th:disabled="${!#strings.contains(store.adminAssignmentStatus, '1')}"/><i></i>
									<span class="lbl"  th:text="${#messages.msg('order.assign.mode.auto')}"/>
								</label>
								<label class="radio"><input name="assign" value="0" type="radio"  th:checked="${store.assignmentStatus} == 0" th:disabled="${!#strings.contains(store.adminAssignmentStatus, '0')}"/><i></i>
									<span class="lbl" th:text="${#messages.msg('order.assign.mode.manual.store')}" />
								</label>
								<label class="radio"><input name="assign" value="2" type="radio" th:checked="${store.assignmentStatus} == 2" th:disabled="${!#strings.contains(store.adminAssignmentStatus, '2')}"/><i></i>
									<span class="lbl" th:text="${#messages.msg('order.assign.mode.manual.rider')}" />
								</label>
							</div>
						</li>
						<li>
							<strong th:text="${#messages.msg('order.assign.max')}" />
							<div>
								<select name="" id="maxSelect" class="select">
									<option value="0" th:selected="${store.assignmentLimit} == null" >-</option>
									<option th:each="i : ${#numbers.sequence(1, store.adminAssignmentLimit)}" th:value="${i}" th:selected="${store.assignmentLimit} == ${i}" th:text="${i}"></option>
								</select>
								<span  th:text="${#messages.msg('order.assign.count.label')}" />
							</div>
						</li>
						<li class="clear full">
							<strong th:text="${#messages.msg('order.assign.third')}" />
							<div>
								<label class="checkbox" th:each="test: ${thirdParty}">
									<input name="" type="checkbox" id="thirdPartyId" th:value="${test.id}" th:checked="${#lists.isEmpty(store.thirdParty) ? 'false':#strings.contains(store.thirdParty, test.id)}" /><i></i>
									<span class="lbl" th:text="${test.name}"/>
								</label>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="button_box">
				<a href="#" class="button btn_blue w120 h30" th:text="${#messages.msg('btn.confirm')}" id="putAssign" onclick="javascript:putStoreAssignInfo();"/>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/resources/js/site/setting/setting.js}" layout:fragment="script2"></script>
	</section>
	<!-- //컨텐츠 영역 -->
	<script layout:fragment="script" th:inline="javascript">
        /*<![CDATA[*/
        var my_store = /*[[${store}]]*/ 'my_store';
        $(document).ready(function() {
            var supportsWebSockets = 'WebSocket' in window || 'MozWebSocket' in window;
            if (supportsWebSockets) {
                var socket = io(websocketHost, {
                    path: '/socket.io', // 서버 사이드의 path 설정과 동일해야 한다
                    transports: ['websocket'] // websocket만을 사용하도록 설정
                });
                socket.on('message', function (data) {
                    var subgroup_id = data.substring(data.indexOf("subgroup_id:")+12, data.lastIndexOf('}'));
                    var store_id = data.substring(data.indexOf("store_id:")+9,
                        (data.substring(data.indexOf("store_id:")+9, data.length)).indexOf(',') + data.indexOf("store_id:")+9);
                    if((!my_store.subGroup && my_store.id == store_id)||subgroup_id == my_store.subGroup.id){
                        if(data.match('rider_')=='rider_'){
                            footerRiders();
                        }
                        if(data.match('order_')=='order_'){
                            footerOrders()
                        }
                        alarmSound(data);
                    }
                    if (data.match('config_') == 'config_') {
                        location.href = "/setting-assign";
                    }
                    if(data.match('notice_')=='notice_'){
                        noticeAlarm();
                    }
                });
                $(function () {
                    /*$('#putAssign').click(function () {
                        socket.emit('message', "push_data:{type:assign_updated, id:"+$('#riderId').val()+"}");
                    });*/
                })
            } else {
                alert('websocket을 지원하지 않는 브라우저입니다.');
            }
        });
        /*]]>*/
	</script>
</html>