<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org" xmlns:layout="//www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout">

<!-- 컨텐츠 영역 -->
	<section id="container" layout:fragment="content">
		<input type="hidden" id="storeId"/>
		<h2 id="pageTit" class="blind" th:text="${#messages.msg('gnb.setting')}" />
		<div class="tabmenu">
			<ul>
				<li><a href="/setting-account" th:text="${#messages.msg('gnb.setting.account')}" /></li>
				<li><a href="/setting_assign" th:text="${#messages.msg('gnb.setting.assign')}" /></li>
				<li><a href="/setting-rider" th:text="${#messages.msg('gnb.setting.rider')}" /></li>
				<li class="on"><a href="/setting-alarm" th:text="${#messages.msg('gnb.setting.alarm')}" /></li>
				<li><a href="/setting-notice" th:text="${#messages.msg('gnb.notice')}" /></li>
			</ul>
		</div>
		<div id="contents">
			<div class="cont_box">
				<div class="top"><strong th:text="${#messages.msg('gnb.setting.alarm')}" /></div>
				<div class="cont">
					<ul class="form_list">
						<li id="newAlarm" class="full">
							<strong th:text="${#messages.msg('alarm.new')}" />
							<div>
								<label class="radio"><input name="newAlarm" value="0" type="radio" th:checked="${#lists.isEmpty(store.alarm) ? 'false' : #strings.contains(store.alarm, '0')}" /><i></i>
									<span class="lbl" th:text="${#messages.msg('answer.used')}" />
								</label>
								<label class="radio"><input name="newAlarm" value="" type="radio" th:checked="${#lists.isEmpty(store.alarm) ? 'false' : !#strings.contains(store.alarm, '0')}"/><i></i>
									<span class="lbl" th:text="${#messages.msg('answer.unused')}" />
								</label>
								<a class="button" id="newAlarmBtn" onclick="javascript:newClick()"><i class="fa fa-play" aria-hidden="true" th:text="'&nbsp;' + ${#messages.msg('alarm.preview')}"></i></a>
							</div>
						</li>
						<li id="assignAlarm" class="full">
							<strong th:text="${#messages.msg('alarm.assigned')}" />
							<div>
								<label class="radio"><input name="assignAlarm" value="1" type="radio" th:checked="${#lists.isEmpty(store.alarm) ? 'false' : #strings.contains(store.alarm, '1')}"/><i></i>
									<span class="lbl" th:text="${#messages.msg('answer.used')}" />
								</label>
								<label class="radio"><input name="assignAlarm" value="" type="radio" th:checked="${#lists.isEmpty(store.alarm) ? 'false' : !#strings.contains(store.alarm, '1')}"/><i></i>
									<span class="lbl" th:text="${#messages.msg('answer.unused')}" />
								</label>
								<a href="#" class="button" id="assignAlarmBtn" onclick="javascript:assignClick()"><i class="fa fa-play" aria-hidden="true" th:text="'&nbsp;' + ${#messages.msg('alarm.preview')}"></i></a>
							</div>
						</li>
						<li id="assignCancelAlarm" class="full">
							<strong th:text="${#messages.msg('alarm.assigned.canceled')}" />
							<div>
								<label class="radio"><input name="assignCancelAlarm" value="2" type="radio" th:checked="${#lists.isEmpty(store.alarm) ? 'false' : #strings.contains(store.alarm, '2')}"/><i></i>
									<span class="lbl" th:text="${#messages.msg('answer.used')}" />
								</label>
								<label class="radio"><input name="assignCancelAlarm" value="" type="radio" th:checked="${#lists.isEmpty(store.alarm) ? 'false' : !#strings.contains(store.alarm, '2')}"/><i></i>
									<span class="lbl" th:text="${#messages.msg('answer.unused')}" />
								</label>
								<a href="#" class="button" id="assignCancelAlarmBtn" onclick="javascript:assignCancelClick()"><i class="fa fa-play" aria-hidden="true" th:text="'&nbsp;' + ${#messages.msg('alarm.preview')}"></i></a>
							</div>
						</li>
						<li id="completeAlarm" class="full">
							<strong th:text="${#messages.msg('alarm.completed')}" />
							<div>
								<label class="radio"><input name="completeAlarm" type="radio" value="3" th:checked="${#lists.isEmpty(store.alarm) ? 'false' : #strings.contains(store.alarm, '3')}"/><i></i>
									<span class="lbl" th:text="${#messages.msg('answer.used')}" />
								</label>
								<label class="radio"><input name="completeAlarm" type="radio" value="" th:checked="${#lists.isEmpty(store.alarm) ? 'false' : !#strings.contains(store.alarm, '3')}"/><i></i>
									<span class="lbl" th:text="${#messages.msg('answer.unused')}" />
								</label>
								<a href="#" class="button" id="completeAlarmBtn" onclick="javascript:completeClick()"><i class="fa fa-play" aria-hidden="true" th:text="'&nbsp;' + ${#messages.msg('alarm.preview')}"></i></a>
							</div>
						</li>
						<li id="cancelAlarm" class="full">
							<strong th:text="${#messages.msg('alarm.canceled')}" />
							<div>
								<label class="radio"><input name="cancelAlarm" type="radio" value="4" th:checked="${#lists.isEmpty(store.alarm) ? 'false' : #strings.contains(store.alarm, '4')}"/><i></i>
									<span class="lbl" th:text="${#messages.msg('answer.used')}" />
								</label>
								<label class="radio"><input name="cancelAlarm" type="radio" value="" th:checked="${#lists.isEmpty(store.alarm) ? 'false' : !#strings.contains(store.alarm, '4')}"/><i></i>
									<span class="lbl" th:text="${#messages.msg('answer.unused')}" />
								</label>
								<a href="#" class="button" id="cancelAlarmBtn" onclick="javascript:cancelClick()"><i class="fa fa-play" aria-hidden="true" th:text="'&nbsp;' + ${#messages.msg('alarm.preview')}"></i></a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="button_box">
				<a href="#" class="button btn_blue w120 h30" th:text="${#messages.msg('btn.confirm')}" id="alarmUpdate" onclick="javascript:putStoreAlarm();"/>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/resources/js/site/setting/setting.js}" layout:fragment="script2"></script>
	</section>
	<!-- //컨텐츠 영역 -->

<script layout:fragment="script" th:inline="javascript">
    /*<![CDATA[*/
    var store = /*[[${store}]]*/ 'store';
    var newAlarm = /*[[${newAlarm}]]*/ 'newAlarm';
    var assignAlarm = /*[[${assignAlarm}]]*/ 'assignAlarm';
    var assignCancelAlarm = /*[[${assignCancelAlarm}]]*/ 'assignCancelAlarm';
    var completeAlarm = /*[[${completeAlarm}]]*/ 'completeAlarm';
    var cancelAlarm = /*[[${cancelAlarm}]]*/ 'cancelAlarm';
    var my_store = /*[[${store}]]*/ 'my_store';
    var alert_confirm_mod_success = /*[[#{alert.confirm.mod.success}]]*/ 'alert_confirm_mod_success';
    $(document).ready(function () {
        var supportsWebSockets = 'WebSocket' in window || 'MozWebSocket' in window;
        $.ajax({
            url : "/websocketHost",
            success : function (websocketHost) {
                if (supportsWebSockets) {
                    var socket = io(websocketHost, {
                        path: '/socket.io', // 서버 사이드의 path 설정과 동일해야 한다
                        transports: ['websocket'] // websocket만을 사용하도록 설정
                    });
                    socket.on('message', function (data) {
                        var objData = JSON.parse(data);
                        var subgroup_id = objData.subGroupId;
                        var store_id = objData.storeId;
                        if(!my_store.subGroup && my_store.id == store_id){
                            alarmSound(data);
                        }else if(my_store.subGroup){
                            if(subgroup_id == my_store.subGroup.id){
                                alarmSound(data);
                            }
                        }
                        if(data.match('rider_')=='rider_'){
                            if(map_region){
                                if(map_region=="hk"){
                                    footerRiders();
                                }
                            }
                        }
                        if(data.match('order_')=='order_'){
                            footerOrders()
                        }
                        if (data.match('config_') == 'config_') {
                            location.href = "/setting-account";
                        }
                        if(data.match('notice_')=='notice_'){
                            noticeAlarm();

                        }
                    });
                    $(function () {
                        /*$('#alarmUpdate').click(function () {
                            socket.emit('message', "push_data:{type:alarm_updated, id:"+my_store.id+"}");
                        });*/
                    })
                } else {
                    alert('websocket을 지원하지 않는 브라우저입니다.');
                }
            }
        });

        $('#storeId').val(store.id);
        if(newAlarm == null){
            $('input[name="newAlarm"]').attr('disabled', true);
            $('input[name="newAlarm"]').attr('checked', false);
            $('#newAlarmBtn').css('display', 'none');
		}
		if(assignAlarm == null){
            $('input[name="assignAlarm"]').attr('disabled', true);
            $('input[name="assignAlarm"]').attr('checked', false);
            $('#assignAlarmBtn').css('display', 'none');
		}
		if(assignCancelAlarm == null){
            $('input[name="assignCancelAlarm"]').attr('disabled', true);
            $('input[name="assignCancelAlarm"]').attr('checked', false);
            $('#assignCancelAlarmBtn').css('display', 'none');
		}
		if(completeAlarm == null){
            $('input[name="completeAlarm"]').attr('disabled', true);
            $('input[name="completeAlarm"]').attr('checked', false);
            $('#completeAlarmBtn').css('display', 'none');
		}
		if(cancelAlarm == null){
            $('input[name="cancelAlarm"]').attr('disabled', true);
            $('input[name="cancelAlarm"]').attr('checked', false);
            $('#cancelAlarmBtn').css('display', 'none');
		}
	})

	function newClick() {
        var audio = new Audio('/alarmFiles/alarm/'+newAlarm.fileName);
        audio.play();
    }
    function assignClick() {
        var audio = new Audio('/alarmFiles/alarm/'+assignAlarm.fileName);
        audio.play();
    }
    function assignCancelClick() {
        var audio = new Audio('/alarmFiles/alarm/'+assignCancelAlarm.fileName);
        audio.play();
    }
    function completeClick() {
        var audio = new Audio('/alarmFiles/alarm/'+completeAlarm.fileName);
        audio.play();
    }
    function cancelClick() {
        var audio = new Audio('/alarmFiles/alarm/'+cancelAlarm.fileName);
        audio.play();
    }
    /*]]>*/
</script>
</html>
