<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout">

<!-- 컨텐츠 영역 -->
	<section id="container" layout:fragment="content">
		<h2 id="pageTit" class="blind" th:text="${#messages.msg('gnb.setting')}" />
		<div class="tabmenu">
			<ul>
				<li class="on"><a href="/setting-account" th:text="${#messages.msg('gnb.setting.account')}" /></li>
				<li><a href="/setting-assign" th:text="${#messages.msg('gnb.setting.assign')}" /></li>
				<li><a href="/setting-rider" th:text="${#messages.msg('gnb.setting.rider')}" /></li>
				<li><a href="/setting-alarm" th:text="${#messages.msg('gnb.setting.alarm')}" /></li>
				<li><a href="/setting-notice" th:text="${#messages.msg('gnb.notice')}" /></li>
			</ul>
		</div>
		<div id="contents">
			<div class="cont_box" >
				<div class="top"><strong th:text="${#messages.msg('gnb.setting.account.store')}" /></div>
				<div class="cont">
					<ul class="form_list">
						<li>
							<strong th:text="${#messages.msg('login.id')}" />
							<div><input type="text" name="" class="input readonly" readonly="readonly" th:value="${store.loginId}"/></div>
						</li>
						<li>
							<strong th:text="${#messages.msg('login.password')}" />
							<div><input type="password" name="" id="storePw" class="input"/></div>
						</li>
						<li>
							<strong th:text="${#messages.msg('store.code')}" />
							<div><input type="text" name="" id="storeId" class="input readonly" readonly="readonly" th:value="${store.code}"/></div>
						</li>
						<li>
							<strong th:text="${#messages.msg('store.name')}" />
							<div><input type="text" name="" id="name" class="input readonly" readonly="readonly" th:value="${store.storeName}"/></div>
						</li>
						<li>
							<strong th:text="${#messages.msg('store.phone')}" />
							<div><input type="text" name="" id="storePhone" class="input" th:value="${store.storePhone}"/></div>
						</li>

						<li>
							<strong th:text="${#messages.msg('store.belong.group')}" />
							<div>
								<select name="" class="select readonly" disabled="disabled">
									<option th:value="${#lists.isEmpty(store.group)  ? '미지정' : store.group.name}" th:text="${#lists.isEmpty(store.group) ? '미지정' : store.group.name}"></option>
								</select>
								<select name="" class="select readonly" disabled="disabled">
									<option th:value="${#lists.isEmpty(store.subGroup) ? '미지정' : store.subGroup.name}" th:text="${#lists.isEmpty(store.subGroup) ? '미지정' : store.subGroup.name}"></option>
								</select>
							</div>
						</li>
						
						<li>
							<strong th:text="${#messages.msg('store.manager.name')}" />
							<div><input type="text" name="" class="input" id="mangerName" th:value="${store.name}" /></div>
						</li>
						
						<li>
							<strong th:text="${#messages.msg('store.manager.phone')}" />
							<div><input type="text" name="" class="input" id="phone" th:value="${store.phone}"/></div>
						</li>
						
						<li>
							<strong th:text="${#messages.msg('store.address')}" />
							<div><input type="text" name="" id="address" class="input w_100" th:value="${store.address}"/></div>
						</li>
						<li>
							<strong th:text="${#messages.msg('store.address.detail')}" />
							<div><input type="text" name="" id="detailAddress" class="input w_100" th:value="${store.detailAddress}"/></div>
						</li>
					</ul>
				</div>
			</div>
			<div class="button_box">
				<a href="#" class="button btn_blue w120 h30" th:text="${#messages.msg('btn.confirm')}" id="accountUpdate" onclick="javascript:putStoreInfo();"/>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/resources/js/site/setting/setting.js}" layout:fragment="script2"></script>
	</section>
	<!-- //컨텐츠 영역 -->
<script layout:fragment="script" th:inline="javascript">
	/*<![CDATA[*/
    var my_store = /*[[${store}]]*/ 'my_store';
    var websocket_localhost = /*[[#{websocket.localhost}]]*/ 'websocket_localhost';
    var footerRiderList = /*[[${footerRiderList}]]*/ 'footerRiderList';
    var footerOrderList = /*[[${footerOrderList}]]*/ 'footerOrderList';
    $(document).ready(function() {
        var supportsWebSockets = 'WebSocket' in window || 'MozWebSocket' in window;
        if (supportsWebSockets) {
            var socket = io(websocket_localhost, {
                path: '/socket.io', // 서버 사이드의 path 설정과 동일해야 한다
                transports: ['websocket'] // websocket만을 사용하도록 설정
            });
            socket.on('message', function (data) {
                if (data.match('assign_') == 'assign_') {
                    location.href = "/setting-account";
                }
                if(data.match('notice_')=='notice_'){
                    noticeAlarm();
                }
                if(data.match('rider_')=='rider_'){
                    footerRiders();
                }
                if(data.match('order_')=='order_'){
                    footerOrders()
                }
            });
            $(function () {
                $('#accountUpdate').click(function () {
                    socket.emit('message', "push_data:{type:account_updated, id:"+my_store.id+"}");
                });
            })
        } else {
            alert('websocket을 지원하지 않는 브라우저입니다.');
        }
    });
    /*]]>*/
</script>
</html>