<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layout">

<!-- 컨텐츠 영역 -->
<section id="container" layout:fragment="content">
    <input type="hidden" id="storeName" th:value="${store.storeName}"/>
    <input type="hidden" id="riderId"/>
    <h2 id="pageTit" class="blind" th:text="${#messages.msg('gnb.setting')}"/>
    <div class="tabmenu">
        <ul>
            <li><a href="/setting-account" th:text="${#messages.msg('gnb.setting.account')}"/></li>
            <li><a href="/setting-assign" th:text="${#messages.msg('gnb.setting.assign')}"/></li>
            <li class="on"><a href="/setting-rider" th:text="${#messages.msg('gnb.setting.rider')}"/></li>
            <li><a href="/setting-alarm" th:text="${#messages.msg('gnb.setting.alarm')}"/></li>
            <li><a href="/setting-notice" th:text="${#messages.msg('gnb.notice')}"/></li>
        </ul>
    </div>
    <div id="contents">
        <div class="jq_grid">
            <div>
                <table id="jqGrid"></table>
            </div>
        </div>
        <div id="jqGridPager"></div>
    </div>
    <script type="text/javascript" th:src="@{/resources/js/site/setting/setting.js}" layout:fragment="script2"></script>
</section>
<!-- //컨텐츠 영역 -->

<!-- 팝업영역 -->
<div id="popStaff" class="pop_wrap" layout:fragment="popup">
    <article class="popup">
        <div class="pop_head">
            <h1 th:text="${#messages.msg('rider.detail')}"/>
        </div>
        <div class="pop_cont">
            <div class="tbl_wrap">
                <table class="table tbl_left">
                    <colgroup>
                        <col width="13%"/>
                        <col width="37%"/>
                        <col width="13%"/>
                        <col width="37%"/>
                    </colgroup>
                    <tbody>
                    <tr>
                        <th th:text="${#messages.msg('login.id')}"/>
                        <td>
                            <input type="text" name="" id="userId" class="input readonly" value="" readonly="readonly"/>
                        </td>
                        <th th:text="${#messages.msg('rider.phone.emergency')}"/>
                        <td><input type="text" name="" id="emergencyPhone" class="input" value=""/></td>
                    </tr>
                    <tr>
                        <th th:text="${#messages.msg('login.password')}"/>
                        <td><input type="password" name="" id="loginPw" class="input" value=""/></td>
                        <th th:text="${#messages.msg('rider.address')}"/>
                        <td><input type="text" name="" id="address" class="input w_100" value=""/></td>
                    </tr>
                    <tr>
                        <th th:text="${#messages.msg('rider.code')}"/>
                        <td><input type="text" name="" id="code" class="input readonly" value="" readonly="readonly"/></td>
                        <th th:text="${#messages.msg('rider.belong.store')}"/>
                        <td id="riderStoreName"></td>
                    </tr>
                    <tr>
                        <th th:text="${#messages.msg('rider.name')}"/>
                        <td><input type="text" id="riderName" name="" class="input" value=""/></td>
                        <th th:text="${#messages.msg('rider.time.work')}"/>
                        <td>
                            <select name="" id="workingHour1" class="select">
                                <option value="empty">없음</option>
                                <option th:each="i : ${#numbers.sequence(0, 23)}" th:value="${i}" th:text="${i}"></option>
                            </select><span th:text="${#messages.msg('rider.time.label')}"/> ~
                            <select name="" id="workingHour2" class="select">
                                <option value="empty">없음</option>
                                <option th:each="i : ${#numbers.sequence(1, 24)}" th:value="${i}" th:text="${i}"></option>
                            </select><span th:text="${#messages.msg('rider.time.label')}"/>
                        </td>
                    </tr>
                    <tr>
                        <th th:text="${#messages.msg('rider.gender')}"/>
                        <td>
                            <label class="radio">
                                <input name="gender" value="0" type="radio"/><i></i>
                                <span class="lbl" th:text="${#messages.msg('rider.gender.male')}"/>
                            </label>
                            <label class="radio">
                                <input name="gender" value="1" type="radio"/><i></i>
                                <span class="lbl" th:text="${#messages.msg('rider.gender.female')}"/>
                            </label>
                        </td>
                        <th rowspan="2" th:text="${#messages.msg('rider.time.rest')}"/>
                        <td rowspan="2">
                            <label class="checkbox" th:each="i : ${#numbers.sequence(10, 18)}">
                                <input th:name="restChk" th:value="${i}" th:class="${i}" type="checkbox"/><i></i>
                                <span class="lbl" th:text="${#messages.msg('rider.time.label.rest', i)}"/>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th th:text="${#messages.msg('rider.teenager')}"/>
                        <td>
                            <label class="radio"><input name="teenager" value="1" type="radio"/><i></i>
                                <span class="lbl" th:text="${#messages.msg('answer.yes')}"/>
                            </label>
                            <label class="radio"><input name="teenager" value="0" type="radio"/><i></i>
                                <span class="lbl" th:text="${#messages.msg('answer.no')}"/>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th th:text="${#messages.msg('rider.phone')}"/>
                        <td><input type="text" name="" id="phone" class="input" value=""/></td>
                        <th th:text="${#messages.msg('rider.vehicle.number')}"/>
                        <td><input type="text" name="" id="vehicleNumber" class="input" value=""/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pop_foot">
            <div class="left"><a href="#" class="button h40 btn_gray pop_close"
                                 th:text="${#messages.msg('btn.cancel')}"/></div>
            <div class="right">
                <a href="#" class="button h40 btn_blue" onclick="javascript:putRIderInfo()" th:text="${#messages.msg('btn.confirm')}"/>
            </div>
        </div>
        <a href="#" class="btn_close pop_close" th:text="${#messages.msg('btn.close.pop')}"/>
    </article>
</div>
<!-- //팝업영역 -->

<script layout:fragment="script" th:inline="javascript">
    /*<![CDATA[*/
    var rider_name = /*[[#{rider.name}]]*/ 'rider_name';
    var rider_code = /*[[#{rider.code}]]*/ 'rider_code';
    var rider_gender = /*[[#{rider.gender}]]*/ 'rider_gender';
    var rider_gender_male = /*[[#{rider.gender.male}]]*/ 'rider_gender_male';
    var rider_gender_female = /*[[#{rider.gender.female}]]*/ 'rider_gender_female';
    var rider_phone = /*[[#{rider.phone}]]*/ 'rider_phone';
    var rider_phone_emergency = /*[[#{rider.phone.emergency}]]*/ 'rider_phone_emergency';
    var rider_address = /*[[#{rider.address}]]*/ 'rider_address';
    var rider_vehicle_number = /*[[#{rider.vehicle.number}]]*/ 'rider_vehicle_number';
    var rider_teenager = /*[[#{rider.teenager}]]*/ 'rider_teenager';
    var rider_login_id = /*[[#{login.id}]]*/ 'rider_login_id';
    var mydata = /*[[${riderList}]]*/ 'riderList';
    $(document).ready(function () {
        for (var i = 0; i < mydata.length; i++) {
            var a = mydata[i];
            if (a.gender != "") {
                a.gender = a.gender == "0" ? '남' : '여';
            }
        }
        console.log(mydata);
        $("#jqGrid").jqGrid({
            datatype: "local",
            data: mydata,
            colModel: [
                {label: 'No', name: 'id', width: 25, key: true, align: 'center'},
                {label: rider_name, name: 'name', width: 80, align: 'center'},
                {label: rider_code, name: 'code', width: 60, align: 'center'},
                {label: rider_gender, name: 'gender', width: 40, align: 'center'},
                {label: rider_phone, name: 'phone', width: 100, align: 'center'},
                {label: rider_phone_emergency, name: 'emergencyPhone', width: 100, align: 'center'},
                {label: rider_address, name: 'address', width: 200},
                {label: rider_vehicle_number, name: 'vehicleNumber', width: 80, align: 'center'},
                {label: rider_teenager, name: 'teenager', width: 60, align: 'center'},
                {label: rider_login_id, name: 'loginId', width: 80, align: 'center'}
            ],
            width: 'auto',
            height: 700,
            autowidth: true,
            rowNum: 20,

            pager: "#jqGridPager",
            onCellSelect: function (rowid, icol, cellcontent, e) {
                var rowData = jQuery(this).getRowData(rowid);
                var riderId = rowData['id'];
                getRiderInfo(riderId);
                popOpen('#popStaff') //상세보기 열기
            }
        });

        resizeJqGrid('#jqGrid'); //그리드 리사이즈

        $('.store_chk .open').click(function (e) {
            e.preventDefault();
            $(this).next().slideDown();
        });

        $('.store_chk .close').click(function (e) {
            e.preventDefault();
            $(this).closest('div').slideUp();
        });
    });
    /*]]>*/
</script>
</html>