<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org" xmlns:layout="//www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layout">

<!-- 컨텐츠 영역 -->
<section id="container" layout:fragment="content">
    <form name="searchForm" id="filter-form" class="form-horizontal" role="form" action="">
        <h2 id="pageTit" class="blind" th:text="${#messages.msg('gnb.statistics')}"/>
        <div class="search_box">
            <div class="left">
                <span class="lbl" th:text="${#messages.msg('statistics.3rd.title')}" style="font-size: 15px; font-weight: bold; color:black" />
            </div>
            <div class="right">
                <input type="hidden" name="startDate"/>
                <input type="hidden" name="endDate"/>
                <input type="text" name="datepicker" id="day1" class="input picker"/>
                ~
                <input type="text" name="datepicker" id="day2" class="input picker"/>
                <button type="button" class="button btn_green"><i class="fa fa-file-excel-o" aria-hidden="true" onclick="excelDownloadByInterval();" th:text="'&nbsp;' + ${#messages.msg('list.excel')}"/></button>
            </div>
        </div>
    </form>
    <div id="contents">
        <div class="state_wrap" style="background: white;">
            <div class="interval_graph_layer" style="">
                <div class="interval_graph_inner" style="height: 600px;">
                    <div class="interval_graph_content">
                        <div id="avg_30minute"></div>
                    </div>
                    <div class="interval_graph_content" style="width: 100%;float: right;height: 300px;padding-top: 20px;">
                        <div id="chart_30minute" style="width: 100%;height: 300px;"></div>
                    </div>
                    <div class="interval_graph_content" style="width: 35%;float: left;padding-top: 20px;">
                        <div id="chart_percentage" style="width: 100%;height: 600px;"></div>
                    </div>
                    <div class="interval_graph_content" style="width: 65%;float: right;padding-top: 20px;">
                        <div id="chart_tc" style="width: 100%;height: 600px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/resources/js/lib/chart/core.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/lib/chart/charts.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/lib/chart/animated.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/site/statistics/interval.js}" layout:fragment="script2"></script>
</section>
<!-- //컨텐츠 영역 -->
<!-- //컨텐츠 영역 -->
<script layout:fragment="script" th:inline="javascript">
    /*<![CDATA[*/

    var label_interval = /*[[#{statistics.3rd.label.interval}]]*/ 'label_interval';
    var label_count = /*[[#{statistics.3rd.label.count}]]*/ 'label_count';
    var label_percentage = /*[[#{statistics.3rd.label.percentage}]]*/ 'label_percentage';
    var label_cumulative = /*[[#{statistics.3rd.label.cumulative}]]*/ 'label_cumulative';
    var label_percent_completed = 'label_percent_completed';

    var status_new = /*[[#{status.new}]]*/ 'status_new';
    var status_assigned = /*[[#{status.assigned}]]*/ 'status_assigned';
    var status_pickedup = /*[[#{status.pickedup}]]*/ 'status_pickedup';
    var status_completed = /*[[#{status.completed}]]*/ 'status_completed';
    var status_canceled = /*[[#{status.canceled}]]*/ 'status_canceled';

    var my_store = /*[[${store}]]*/ 'my_store';
    var result_none = /*[[#{result.none}]]*/ 'result_none';

    $(document).ready(function () {
        var supportsWebSockets = 'WebSocket' in window || 'MozWebSocket' in window;
        $.ajax({
            url : "/websocketHost",
            success : function (websocketHost) {
                if (supportsWebSockets) {
                    var socket = io(websocketHost, {
                        path: '/socket.io', // 서버 사이드의 path 설정과 동일해야 한다
                        transports: ['websocket'] // websocket만을 사용하도록 설정
                    });
                    socket.on('message', function (data) {
                        var objData = JSON.parse(data);
                        var subgroup_id = objData.subGroupId;
                        var store_id = objData.storeId;
                        if (!my_store.subGroup && my_store.id == store_id) {
                            statementAlarmMessage(data);
                        } else if (my_store.subGroup) {
                            if (subgroup_id == my_store.subGroup.id) {
                                statementAlarmMessage(data);
                            }
                        }
                    });
                } else {
                    alert('websocket을 지원하지 않는 브라우저입니다.');
                }
            }
        });
    });
    function statementAlarmMessage(data) {
        if (data.match('rider_') == 'rider_') {
            if(map_region){
                if(map_region!="tw"){
                    footerRiders();
                }
            }
        }
        if (data.match('order_') == 'order_') {
            footerOrders();
        }
        if (data.match('notice_') == 'notice_') {
            noticeAlarm();
        }
        alarmSound(data);
    }
    /*]]>*/
</script>
</html>
