<!DOCTYPE html> 
<!--[if lt IE 8]> <html class="lt-ie10 lt-ie9 lt-ie8" lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie10 lt-ie9" lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> <![endif]-->
<!--[if IE 9]>    <html class="lt-ie10" lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> <!--<![endif]-->

	<head th:replace="/common/head :: head"></head>
	
	<body>
		<div id="skipNavi">
			<a href="#container">본문 바로가기</a>
			<a href="#gnb">주메뉴 바로가기</a>
			<a href="#footer">사이트정보 바로가기</a>
		</div>
		<!-- 
		<div class="top_banner">
			<div class="inner">
				<a href="/menu/BreakFast"><img src="/resources/images/main/top_banner140126.jpg" alt="버거킹에서 아침을! 24시간 매장에서 즐겨보세요!" /></a>
				<a href="#" class="btn_close">닫기</a>
			</div>
		</div> 
		-->
		<div id="wrap" class="main">
			<header th:replace="/common/header :: header"></header>
			<div layout:fragment="content"></div>
			<!-- 
			<div layout:fragment="popup"></div>
			<article id="pop_main" class="pop_wrap pop_layer pop_main" data-end="20161231">
				<div class="img">
					<img src="/resources/images/popup/pop_main_20160913.jpg" alt="버거킹 딜리버리킹서비스 추석연휴 영업안내" />
				</div>
				<a href="#" class="btn_close pop_close">닫기</a>
				<p class="chk_wrap">
					<label>
						<input type="checkbox" class="checkbox todayChk" />
						<span class="lbl">오늘은 그만보기</span>
					</label>
					<a href="#" class="pop_close">CLOSE</a>
				</p>
			</article>
			-->
			<footer th:replace="/common/footer:: footer"></footer>
		</div>
	</body>
</html>