<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/mainLayout">
 
	<!-- container -->
	<div id="container" layout:fragment="content">
		<!-- contents -->
		<section id="contents">
			<!-- main_banner -->
			<div class="main_banner">					
				<div class="swiper-container">
					<ul class="swiper-wrapper">
				    	<li class="swiper-slide" 
				    		th:each="list : ${bannerList}"
				    		th:style="'background-image:url(' + @{${list.imagePathBg}} + ');'">
				    		<div class="inner">
				    			<a href="javascript:void(0);" class="bannerLink" th:attr="data-link=${list.bannerLink}">
				    				<img class="w_img" th:src="${list.imagePath}" th:alt="${list.imageName}" />
				    				<img class="m_img" th:src="${list.imagePathMobile}" th:alt="${list.imageNameMobile}" />
				    			</a>
				    		</div>
				    	</li>
				    </ul>
				</div>
				<div class="navi">
					<button class="btn btn_prev">이전</button>
					<button class="btn btn_next">다음</button>
					<div class="pagination"></div>
				</div>
			</div>
			
			<div class="inner">
				<div class="main_best">
					<h2 class="main_tit"><span>Best Seller</span></h2>
					<ul class="menu_list">
						<li th:each="list : ${menuList}">
							<a th:href="'javascript:PageFunction.openDetailPopup(\''+${list.pCode}+'\')'" class="openDetailPopup">
								<figure>
									<img th:src="${list.imgPath}" th:alt="${list.productNm}"/>
									<figcaption>
										<span class="tit" th:text="${list.productNm}">붉은대게와퍼세트</span>
										<strong th:text="${#numbers.formatInteger(list.price,0,'COMMA')}+'원'">8,400원</strong>
									</figcaption>
								</figure>
								<i></i>
							</a>
							<div class="list_cont">
								<a th:href="'javascript:PopupFunction.addProduct(\''+${list.pCode}+'\',1)'" class="btn_cart addProduct" th:attr="data-pcode=${list.pCode}"><span>담기</span></a>
								<a th:href="'javascript:PageFunction.openDetailPopup(\''+${list.pCode}+'\')'" class="btn_view openDetailPopup" th:attr="data-pcode=${list.pCode}"><span>상세보기</span></a>
							</div>
						 </li>
					</ul>
				</div>
				
				<div class="main_info">
					<div class="main_app">
						<p>TASTE IS KING</p>
						<p><strong>SMART APP</strong></p>
						<p class="img">	
							<a th:href="@{https://itunes.apple.com/us/app/beogeoking/id1017567032(l='es', mt='8')}" target="_blank" title="새창열림"><img src="/resources/images/main/btn_ios.png" alt="ios 버거킹 앱 다운" /></a>
							<a th:href="@{https://play.google.com/store/apps/details?id=kr.co.burgerkinghybrid}" target="_blank" title="새창열림"><img src="/resources/images/main/btn_android.png" alt="안드로이드 버거킹 앱 다운" /></a>
						</p>
						<p><span>버거킹 앱 바로받기</span></p>
					</div>
					<div class="main_sns">
						<p>BURGERKING</p>
						<p><strong>SNS</strong></p>
						<p class="img">
							<a href="//twitter.com/burgerking_kor" target="_blank" title="새창열림"><img src="/resources/images/main/btn_twt.png" alt="버거킹 트위터" /></a>
							<a href="//www.facebook.com/burgerkingkorea" target="_blank" title="새창열림"><img src="/resources/images/main/btn_fb.png" alt="버거킹 페이스북" /></a>
							<a href="//www.youtube.com/channel/UCEKRI0fipK4LEgV98nI2CQA " target="_blank" title="새창열림"><img src="/resources/images/main/btn_ytv.png" alt="버거킹 유튜브" /></a>
						</p>
						<p><span>버거킹 소셜네트워크 바로가기</span></p>
					</div>
					<a href="//www.burgerking.co.kr/ " class="main_brand" target="_blank" title="새창열림">
						<span>GO TO</span>
						<span><strong>BURGERKING</strong></span>
						<span class="img">
							<img src="/resources/images/main/main_logo.png" alt="버거킹 브랜드사이트" />
						</span>
						<span><span>브랜드 사이트 바로가기</span></span>
					</a>
					<div class="main_call">
						<p>딜리버리 전화주문</p>
						<p><strong>10:00 – 22:00 연중무휴</strong></p>
						<p class="img">
							<img src="/resources/images/main/main_call.png" alt="집에서 만나는 버거킹 1599-0505" />
						</p>
					</div>
				</div>
			</div>
			<!-- 자세히 보기 -->
			<div th:replace="/common/popup/popMenuDetail :: #popMenuDetail"></div>
			<!-- //자세히 보기 -->
		</section>
		<!-- //contents -->
		<script type="text/javascript">
			// page parameter
			var PageParam = {};
			// page function
			var PageFunction = (function(pf) {
				// document ready
				pf.init = function() { 
					//<![CDATA[  
					// 퍼블리싱 start
					//메인배너
					if($('.main_banner li').length > 1){
						$('.main_banner .w_img').css({'opacity':0});
						var mainBanner = $('.main_banner .swiper-container').swiper({
						    	pagination:'.main_banner .pagination',
						    	calculateHeight:true,
						    	autoplay:5000,
						    	speed : 600,
						    	paginationClickable:true,
						    	loop:true,
						    	onFirstInit:function(){
						    		$('.main_banner .w_img').stop().animate({'opacity':1},1000);
						    	},
						    	onSlideChangeStart:function(){
						    		$('.main_banner .w_img').stop().css({'opacity':0});
						    	},
						    	onSlideChangeEnd:function(){
						    		$('.main_banner .w_img').stop().animate({'opacity':1},1000);
						    	}
						    });
						$('.main_banner .btn_prev').click(function(){
							mainBanner.swipePrev();
						});

						$('.main_banner .btn_next').click(function(){
							mainBanner.swipeNext();
						});
						
					}
					// 퍼블리싱 end
					//제품 상세보기 팝업
					/* 
					pf.openDetailPopup = function() {
						var pCode = $(this).data('pcode');
						$('#popMenuDetail').getLoad('/menu/getMenuDetail?pCode=' + pCode, function(){
							PopupFunction.init();
							menuOpen();
						});
					}; 
					*/
					pf.openDetailPopup = function(pCode){
						$('#popMenuDetail').getLoad('/menu/getMenuDetail?pCode=' + pCode, function(){
							PopupFunction.init();
							menuOpen();
						});
					};
					// 배너 링크
					pf.bannerLink = function() {
						var bannerLink = $(this).data('link');
						cntt.goPage(bannerLink);
						/*var indexResult = bannerLink.indexOf('http');
						if (indexResult == -1) {
							cntt.goPage(bannerLink);
						} else {
							window.open(bannerLink);							
						}*/
					};
					//]]>
				};
				return pf;
			}(window.pf || {}));
			// 이벤트
			(function(){
				/* 
				// 담기 버튼
				$('.addProduct').click(function(){
					PopupFunction.addProduct($(this).data('pcode'), 1);
				});
				// 상세보기
				$('.openDetailPopup').click(function(){
					PageFunction.openDetailPopup.call(this);
				}); 
				*/
				// 배너 클릭
				$('.main_banner').on('click', '.bannerLink', function(){
					PageFunction.bannerLink.call(this);
				});
			}());
		</script>
	</div>
	
</html>