<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org" xmlns:layout="//www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layout">

<!-- 컨텐츠 영역 -->
<section id="container" layout:fragment="content">

    <div th:object="${store}" style="display:none">
        <input type="hidden" id="storeId" th:value="*{id}"/>
        <input type="hidden" id="statusArray"/>
        <input type="hidden" id="assignmentStatus" th:value="*{assignmentStatus}"/>
        <input type="hidden" id="adminId" th:value="*{adminId}" />
    </div>

        <h2 id="pageTit" class="blind" th:text="${#messages.msg('gnb.rider')}"/>
        <div class="search_box">
            <div class="left">
                <span class="lbl" th:text="${#messages.msg('rider.approval.title')}" style="font-size: 15px; font-weight: bold; color:black" />
            </div>
            <div class="right">
                <button type="button" class="button btn_green"><i class="fa fa-file-excel-o" aria-hidden="true" onclick="getApprovalRiderList()" th:text="'&nbsp;' + ${#messages.msg('list.excel')}"/></button>
            </div>
        </div>

    <div id="contents">
        <div class="jq_grid">
            <div>
                <table id="jqGrid"></table>
            </div>
        </div>
        <div id="jqGridPager">

        </div>
    </div>

    <!-- POPUP 관련 S -->
    <div id="popRiderInfo" class="pop_wrap" layout:fragment="popup">
        <article class="popup">
            <div class="pop_head">
                <h1 th:text="${#messages.msg('rider.approval.popup.title')}"></h1>
            </div>
            <div class="pop_cont">
                <div class="tbl_wrap">
                    <table class="table tbl_left">
                        <colgroup>
                            <col width="13%" />
                            <col width="37%" />
                            <col width="13%" />
                            <col width="37%" />
                        </colgroup>
                        <tbody>
                        <tr>
                            <th th:text="${#messages.msg('login.id')}"/>
                            <td>
                                <input type="text" name="" id="storeDetailLoginId" class="input" value="" readonly="true"/>

                            </td>
                            <th th:text="${#messages.msg('store.belong.group')}"/>
                            <td>
                                <select name="" class="select" id="storeDetailGroup">
                                    <option value="empty">group_choise</option>
                                </select>
                                <select name="" class="select" id="storeDetailSubGroup">
                                    <!--<option value="empty">-</option>-->
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <!--<th th:text="${#messages.msg('login.password')}"></th>-->
                            <!--<td><input type="password" name="" class="input" value="" id="storeDetailPassword" readonly="true"/></td>-->
                            <!--<th th:text="${#messages.msg('store.manager.name')}"></th>-->
                            <!--<td><input type="text" name="" class="input" value="" id="storeDetailStoreUserName"/></td>-->
                            <th th:text="${#messages.msg('store.code')}"/>
                            <td><input type="text" name="" class="input" value="" id="storeDetailStoreCode"/></td>
                            <th th:text="${#messages.msg('store.address')}"/>
                            <td><input type="text" name="" class="input w_100" value="" id="storeDetailStoreAddress"/></td>
                        </tr>
                        <tr>
                            <!--<th th:text="${#messages.msg('store.manager.phone')}"></th>-->
                            <!--<td><input type="text" name="" class="input" value="" id="storeDetailStoreUserPhone" /></td>-->
                            <th th:text="${#messages.msg('store.name')}"/>
                            <td><input type="text" name="" class="input" value="" id="storeDetailStoreName"/></td>
                            <th th:text="${#messages.msg('store.address.detail')}"/>
                            <td><input type="text" name="" class="input w_100" value="" id="storeDetailStoreDetailAddress"/></td>
                        </tr>
                        <tr>
                            <th th:text="${#messages.msg('store.phone')}"/>
                            <td><input type="text" name="" class="input" value="" id="storeDetailStorePhone"/></td>
                            <!--0: 수동배정, 1: 자동배정, 2: 기사배정-->
                            <th th:text="${#messages.msg('order.assign.mode')}"/>
                            <td>
                                <select name="" class="select" id="storeDetailAssignStatusSelectBox">
                                    <option value="0" th:text="${#messages.msg('order.assign.mode.store')}"></option>
                                    <option value="1" th:text="${#messages.msg('order.assign.mode.auto')}"></option>
                                    <option value="2" th:text="${#messages.msg('order.assign.mode.rider')}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>access_token</th>
                            <td><input id="storeAccessToken" style="position:absolute;top:-9999em;"/><a class="button btn_green" th:text="${#messages.msg('store.token.copy')}" onclick="javascript:copyAccessToken()"/></td>
                            <!-- input 박스 hidden 시키지말 것!(클립보드 복사시 크롬에서 사용가능하려면 hidden이나 display:none을 하면 안된다 -> 스타일로 안보이게 해놓음) -->
                            <th th:text="${#messages.msg('login.password')}"/>
                            <td><a class="button btn_blue2" th:text="${#messages.msg('reset.password')}" onclick="javascript:resetStorePw()"/></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="pop_foot">
                <div class="left"><a href="#" class="button h30 btn_gray pop_close" th:text="${#messages.msg('btn.cancel')}"></a></div>
                <div class="right">
                    <a href="" class="button h30 btn_blue" th:text="${#messages.msg('rider.approval.button.disapproval')}"></a>
                    <a href="#" class="button h30 btn_gray" th:text="${#messages.msg('btn.save')}"></a>
                </div>
            </div>
            <a href="#" class="btn_close pop_close" th:text="${#messages.msg('btn.close.pop')}"></a>
        </article>
    </div>
    <!-- POPUP 관련 F -->

    <script type="text/javascript" th:src="@{/resources/js/site/rider/rider_approval.js}" layout:fragment="script2">
    </script>
</section>
<!-- //컨텐츠 영역 -->
<script layout:fragment="script" th:inline="javascript">
    var my_store = /*[[${store}]]*/ 'my_store';

    var tmpTitle = /*[[#{statistics.4th.title}]]*/ 'tmpTitle';
</script>
</html>