<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<meta charset="UTF-8" />
	<!-- 푸터영역 -->
	<footer id="footer">
		<div class="f_left">
			<span class="inblock" th:text="${#messages.msg('rider.work', '3')}" />
			<span class="inblock" th:text="${#messages.msg('rider.standby', '1')}" />
			<span class="inblock" th:text="${#messages.msg('rider.rest', '1')}" />
		</div>
		<div class="f_right">
			<span class="inblock" th:text="${#messages.msg('order.count.new', ': 2')}" />
			<span class="inblock" th:text="${#messages.msg('order.count.assigned', ': 1')}" />
			<span class="inblock" th:text="${#messages.msg('order.count.completed', ': 1')}" />
			<span class="inblock" th:text="${#messages.msg('order.count.canceled', ': 1')}" />
		</div>
	</footer>
<!-- //푸터영역 -->
	<script th:fragment="script">
	</script>
</html>