<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<meta charset="UTF-8" />
	<!-- 푸터영역 -->
	<footer id="footer">
		<div class="f_left">
			<span class="inblock">근무중 기사: 3명</span>
			<span class="inblock">대기 기사: 1명</span>
			<span class="inblock">휴식 기사: 1명</span>
		</div>
		<div class="f_right">
			<span class="inblock">신규: 2</span>
			<span class="inblock">배정: 1</span>
			<span class="inblock">완료: 1</span>
			<span class="inblock">취소: 1</span>
		</div>
	</footer>
	<!-- //푸터영역 -->

	<script th:fragment="script">
	</script>
</html>