<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org">
<meta charset="UTF-8" />
	<!-- 헤더영역 -->
	<header id="header" th:fragment="commonHeader">
        <input id="tempLocale" hidden="hidden"/>
		<div class="mobile_head">
			<h2 class="head_tit"><img src="../resources/images/common/logo.png" alt="KFC" /></h2>
			<a href="/setting-notice" id="notice_alarm_mobile" class="head_notice" th:text="${#messages.msg('gnb.notice')}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
		</div>
		<a href="#" class="btn_gnb"><i></i><span class="blind">GNB 메뉴</span></a>
		<div class="web_head">
			<div>
				<div class="head_top">
					<div class="head_timer">
						<div class="date"></div>
						<div class="clock"></div>
					</div>
					<div class="head_info">
						<select th:if="*{regionLocale} != null and *{regionLocale.toString()} neq zh_TW" id="selectLang" class="select" style="height: 20px; font-size: 11px" onchange="window.open(value,'_self')">
							<option th:text="${#messages.msg('gnb.select.language')}" />
							<option th:if="*{regionLocale.toString()} eq zh_HK or *{regionLocale.toString()} eq ko_KR" id="langHK" th:text="${#messages.msg('gnb.language.hk')}" value="?lang=zh_HK"/>
							<option th:if="*{regionLocale.toString()} eq zh_TW or *{regionLocale.toString()} eq ko_KR" id="langTW" th:text="${#messages.msg('gnb.language.tw')}" value="?lang=zh_TW"/>
							<option id="langUS" th:text="${#messages.msg('gnb.language.us')}" value="?lang=en_US"/>
							<option th:if="*{regionLocale.toString()} eq ko_KR" id="langKR" th:text="${#messages.msg('gnb.language.kr')}" value="?lang=ko_KR"/>
						</select>
						<a href="/setting-notice" class="head_notice" id="notice_alarm" th:text="${#messages.msg('gnb.notice')}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
						<a href="/setting-account" class="user_id"><i class="fa fa-user-circle-o" aria-hidden="true"></i><span id="myStoreName"/></a>
						<a href="#" id="logout" class="button btn_gray h20" th:text="${#messages.msg('gnb.logout')}" />
					</div>
				</div>
				<h1 id="logo"><img src="../resources/images/common/logo.png" alt="KFC" /></h1>
				<div class="gnb_wrap">
					<nav id="gnb">
						<ul>
							<li><a href="/order"><img src="../resources/images/common/gnb_order.png" alt="" /><strong th:text="${#messages.msg('gnb.order')}" /></a></li>
							<li><a href="/rider"><img src="../resources/images/common/gnb_rider.png" alt="" /><strong th:text="${#messages.msg('gnb.rider')}" /></a></li>
							<li>
								<a href="/statisticsByOrder" class="1depth"><img src="../resources/images/common/gnb_statement.png" alt="" /><strong th:text="${#messages.msg('gnb.statistics')}" /></a>
								<dl>
									<dt>하위메뉴</dt>
									<dd><a href="/statisticsByOrder" th:text="${#messages.msg('statistics.1st.title')}" /></dd>
									<dd><a href="/statisticsByDate" th:text="${#messages.msg('statistics.2nd.title')}" /></dd>
									<dd><a href="/statisticsByInterval" th:text="${#messages.msg('statistics.3rd.title')}" /></dd>
								</dl>
							</li>
							<li><a href="/setting-account"><img src="../resources/images/common/gnb_setting.png" alt="" /><strong th:text="${#messages.msg('gnb.setting')}" /></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

	</header>
	<!-- //헤더영역 -->
</html>