<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<meta charset="UTF-8" />
	<!-- 헤더영역 -->
	<header id="header" th:fragment="commonHeader">
		<div class="mobile_head">
			<h2 class="head_tit"><img src="../resources/images/common/logo.png" alt="KFC" /></h2>
			<a href="#" class="head_notice new" th:text="${#messages.msg('gnb.notice')}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
		</div>
		<a href="#" class="btn_gnb"><i></i><span class="blind">GNB 메뉴</span></a>
		<div class="web_head">
			<div>
				<div class="head_top">
					<div class="head_timer">
						<div class="date"></div>
						<div class="clock"></div>
					</div>
					<div class="head_info">
						<a href="#" class="head_notice new" th:text="${#messages.msg('gnb.notice')}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
						<a href="#" class="user_id"><i class="fa fa-user-circle-o" aria-hidden="true"></i>본사관리자</a>
						<a href="/logout" class="button btn_gray h20" th:text="${#messages.msg('gnb.logout')}" />
					</div>
				</div>
				<h1 id="logo"><img src="../resources/images/common/logo.png" alt="KFC" /></h1>
				<div class="gnb_wrap">
					<nav id="gnb">
						<ul>
							<li><a href="/order"><img src="../resources/images/common/gnb_order.png" alt="" /><strong th:text="${#messages.msg('gnb.order')}" /></a></li>
							<li><a href="/rider"><img src="../resources/images/common/gnb_rider.png" alt="" /><strong th:text="${#messages.msg('gnb.rider')}" /></a></li>
							<li><a href="/statistics"><img src="../resources/images/common/gnb_statement.png" alt="" /><strong th:text="${#messages.msg('gnb.statistics')}" /></a></li>
							<li><a href="/setting-account"><img src="../resources/images/common/gnb_setting.png" alt="" /><strong th:text="${#messages.msg('gnb.setting')}" /></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- //헤더영역 -->
</html>