<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout">

<!-- container -->
<div id="container" layout:fragment="content" class="full">

	<!-- contents -->
	<section id="contents">
		<ul id="location">
			<li><a class="home" href="/main">HOME</a></li>
			<li><strong>사이트맵</strong></li>
		</ul>
		<div id="cont_tit">
			<h1>사이트맵</h1>
		</div>

		<ul class="sitemap">
			<li>
				<h2>STORE</h2>
				<ul>
					<li><a href="/store/search">배달매장찾기</a></li>
				</ul>
			</li>

			<li>
				<h2>CS CENTER</h2>
				<ul>
					<li><a href="/customer/faqList">FAQ</a></li>
					<li><a href="/customer/noticeList">공지사항</a></li>
				</ul>
			</li>
			<li>
				<h2>마이페이지</h2>
				<ul>
					<li><a href="/mypage">나의 정보</a></li>
					<li><a href="/mypage/memberUpdate">내 정보수정</a></li>
					<li><a href="/mypage/memberWithdraw">회원탈퇴</a></li>
				</ul>
			</li>
			<li>
				<h2>버거킹 회원</h2>
				<ul> 
					<li><a href="/member/login">로그인</a></li>
					<li><a href="/member/joinAgree">회원가입</a></li>
				</ul>
			</li>
			<li>
				<h2>ETC</h2>
				<ul>
					<li><a href="/etc/terms">이용약관</a></li>
					<li><a href="/etc/privacy">개인정보처리방침</a></li>
				</ul>
			</li>
		</ul>
	</section>
	<!-- //contents -->
</div>
<!-- //container -->
</html>
