<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8" />
	<!-- 헤더영역 -->
	<header id="header" th:fragment="commonHeader">
		<div class="mobile_head">
			<h2 class="head_tit"><img src="./resources/images/common/logo.jpg" onerror="this.src='./resources/images/common/logo.jpg'" alt="JD" class="imgTitle" /></h2>
			<a href="#" class="head_notice new" th:text="${#messages.msg('gnb.notice')}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
		</div>
		<a href="#" class="btn_gnb"><i></i><span class="blind">GNB 메뉴</span></a>
		<div class="web_head">
			<div>
				<div class="head_top">
					<div class="head_timer">
						<div class="date"></div>
						<div class="clock"></div>
					</div>
					<div class="head_info">
						<!--본사 관리자 부분-->
						<a href="/setting-account" class="user_id"><i class="fa fa-user-circle-o" aria-hidden="true"></i><span id="myAdminName"/></a>
						<a href="/logout" class="button btn_gray h20" id="logout" th:text="${#messages.msg('gnb.logout')}" />
						<input type="hidden" id="defaultSoundStatus" />
					</div>
				</div>
				<h1 id="logo"><img src="./resources/images/common/logo.jpg" onerror="this.src='./resources/images/common/logo.jpg'" alt="JD" class="imgTitle" /></h1>
				<div class="gnb_wrap">
					<nav id="gnb">
						<ul>
							<li><a href="/store"><img src="../resources/images/common/gnb_store.png" alt="" /><strong th:text="${#messages.msg('gnb.store')}" /></a></li>
							<li><a href="/group"><img src="../resources/images/common/gnb_group.png" alt="" /><strong th:text="${#messages.msg('gnb.group')}" /></a></li>
							<li><a href="/staff"><img src="../resources/images/common/gnb_staff.png" alt="" /><strong th:text="${#messages.msg('gnb.staff')}" /></a></li>




							<!-- 20.04.23 스토어 통계 페이지 추가 -->
							<!-- 20.06.08 분기처리 -->
							<li id="menu_kfc" style="display: none">
								<a href="/statistics" class="1depth"><img src="../resources/images/common/gnb_statement.png" alt="" /><strong th:text="${#messages.msg('gnb.statistics')}" /></a>
								<dl>
									<dt>하위메뉴</dt>
									<dd><a href="/statistics" th:text="${#messages.msg('gnb.statistics')}"></a></dd>
									<dd><a href="/statisticsByOrder" th:text="${#messages.msg('statistics.1st.title')}"></a></dd>
									<dd><a href="/statisticsByDate" th:text="${#messages.msg('statistics.2nd.title')}"></a></dd>
									<dd><a href="/statisticsByInterval" th:text="${#messages.msg('statistics.3rd.title')}"></a></dd>
								</dl>
							</li>
							<li id="menu_default" style="display: none">
								<a href="/statistics">
									<img src="../resources/images/common/gnb_statement.png" alt="" /><strong th:text="${#messages.msg('gnb.statistics')}" />
								</a>
							</li>

							<li><a href="/setting-account"><img src="../resources/images/common/gnb_setting.png" alt="" /><strong th:text="${#messages.msg('gnb.setting')}" /></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- //헤더영역 -->
</html>