<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout">
<script type="text/javascript" th:src="@{/resources/js/site/store/store.js}" layout:fragment="script"></script>
	<!-- 컨텐츠 영역 -->
	<section id="container" layout:fragment="content">

		<!-- 데티아 출력 JSON -->
		<!--<div th:text="${jsonList}">${jsonList}</div>-->
		<!-- hidden 으로 storeid 를 가지고 있는다. -->
		<input type="hidden" id="selectedStoreId"/>
		<input type="hidden" id="selectedGroupId"/>
		<input type="hidden" id="selectedSubGroupId"/>
		<input type="hidden" id="hasGroup"/>


		<h2 id="pageTit" class="blind">매장관리</h2>
		<div class="search_box">
			<div class="left">
				<select name="" class="select">
					<option value="">전체</option>
				</select>
				<input type="text" class="input" placeholder="검색명을 입력하세요" />
				<button class="button"><i class="fa fa-search" aria-hidden="true"></i> 검색</button>
			</div>
			<div class="right">
				<a href="#popStore" class="button btn_blue pop_open"><i class="fa fa-plus" aria-hidden="true" onClick="javascript:getGroupList()"></i> 신규매장</a>
			</div>
		</div>
		<div id="contents">
			<div class="jq_grid">
				<div>
					<table id="jqGrid"></table>
				</div>
			</div>
			<div id="jqGridPager"></div>
		</div>
	</section>
	<!-- //컨텐츠 영역 -->



<!--  신규 매장 등록 팝업영역 -->
<div id="popStore" class="pop_wrap" layout:fragment="popup">
	<article class="popup">
		<div class="pop_head">
			<h1>매장 정보</h1>
		</div>
		<div class="pop_cont">
			<div class="tbl_wrap">
				<table class="table tbl_left">
					<colgroup>
						<col width="13%" />
						<col width="37%" />
						<col width="13%" />
						<col width="37%" />
					</colgroup>
					<tbody>
					<tr>
						<th>아이디</th>
						<td>
							<input type="text" name="" id="postStoreLoginId" class="input" value="" />
							<button class="button btn_black" onclick="alertTip('#postStoreLoginId','중복된 아이디 입니다.')">중복확인</button>
						</td>
						<th>소속그룹</th>
						<td>
							<select name="" class="select" id="postStoreGroup">
								<!--<option value="">서초동부</option>-->
							</select>
							<select name="" class="select" id="postStoreSubGroup">
								<!--<option value="">서초A</option>-->
							</select>
						</td>
					</tr>
					<tr>
						<th>패스워드</th>
						<td><input type="password" name="" class="input" value="" id="postStoreloginPw"/></td>
						<th>점장명</th>
						<td><input type="text" name="" class="input" value="" id="postStoreUserName"/></td>
					</tr>
					<tr>
						<th>매장코드</th>
						<td><input type="text" name="" class="input" value="" id="postStoreCode"/></td>
						<th>점장 전화번호</th>
						<td><input type="text" name="" class="input" value="" id="postStoreUserPhone"/></td>
					</tr>
					<tr>
						<th>매장명</th>
						<td><input type="text" name="" class="input" value="" id="postStoreName"/></td>
						<th>매장주소</th>
						<td><input type="text" name="" class="input w_100" value="" id="postStoreAddress"/></td>
					</tr>
					<tr>
						<th>매장 전화번호</th>
						<td><input type="text" name="" class="input" value="" id="postStorePhone"/></td>
						<th>매장 상세주소</th>
						<td><input type="text" name="" class="input w_100" value="" id="postStoreDetailAddress"/></td>
					</tr>
					<tr>
						<th>배정 모드</th>
						<td>
							<select name="" class="select" id="postStoreAssignStatusSelectBox">
								<option value="0">수동</option>
								<option value="1">자동</option>
								<option value="2">기사배정</option>
							</select>
						</td>
						<th></th>
						<td></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="pop_foot">
			<div class="left"><a href="#" class="button h30 btn_gray pop_close">취소</a></div>
			<div class="right">
				<!--<a href="#" class="button h30 btn_red">삭제</a>-->
				<a href="" class="button h30 btn_blue" onClick="javascript:postStore()">확인</a>
			</div>
		</div>
		<a href="#" class="btn_close pop_close">팝업닫기</a>
	</article>
</div>
<!-- //팝업영역 -->



<!-- 매장 상세보기 팝업영역 -->
<div id="popStoreDetail" class="pop_wrap" layout:fragment="popup_2">
	<article class="popup">
		<div class="pop_head">
			<h1>매장 정보</h1>
		</div>
		<div class="pop_cont">
			<div class="tbl_wrap">
				<table class="table tbl_left">
					<colgroup>
						<col width="13%" />
						<col width="37%" />
						<col width="13%" />
						<col width="37%" />
					</colgroup>
					<tbody>
					<tr>
						<th>아이디</th>
						<td>
							<input type="text" name="" id="storeDetailLoginId" class="input" value="" readonly="true"/>

						</td>
						<th>소속그룹</th>
						<td>
							<select name="" class="select" id="storeDetailGroup">
								<!--<option value="">서초동부</option>-->
							</select>
							<select name="" class="select" id="storeDetailSubGroup">
								<!--<option value="">서초A</option>-->
							</select>
						</td>
					</tr>
					<tr>
						<th>패스워드</th>
						<td><input type="password" name="" class="input" value="" id="storeDetailPassword" readonly="true"/></td>

						<th>점장명</th>
						<td><input type="text" name="" class="input" value="" id="storeDetailStoreUserName"/></td>
					</tr>
					<tr>
						<th>매장코드</th>
						<td><input type="text" name="" class="input" value="" id="storeDetailStoreCode"/></td>
						<th>점장 전화번호</th>
						<td><input type="text" name="" class="input" value="" id="storeDetailStoreUserPhone" /></td>
					</tr>
					<tr>
						<th>매장명</th>
						<td><input type="text" name="" class="input" value="" id="storeDetailStoreName"/></td>
						<th>매장주소</th>
						<td><input type="text" name="" class="input w_100" value="" id="storeDetailStoreAddress"/></td>
					</tr>
					<tr>
						<th>매장 전화번호</th>
						<td><input type="text" name="" class="input" value="" id="storeDetailStorePhone"/></td>
						<th>매장 상세주소</th>
						<td><input type="text" name="" class="input w_100" value="" id="storeDetailStoreDetailAddress"/></td>
					</tr>
					 <!--0: 수동배정, 1: 자동배정, 2: 기사배정-->
					<tr>
						<th>배정 모드</th>
						<td>
							<select name="" class="select" id="storeDetailAssignStatusSelectBox">
								<option value="0">수동</option>
								<option value="1">자동</option>
								<option value="2">기사배정</option>
							</select>
						</td>
						<th></th>
						<td></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="pop_foot">
			<div class="left"><a href="#" class="button h30 btn_gray pop_close">취소</a></div>
			<div class="right">
				<a href="" class="button h30 btn_red" onClick="javascript:deleteStore()">삭제</a>
				<a href="" class="button h30 btn_blue" onClick="javascript:putStoreDetail()">확인</a>
			</div>
		</div>
		<a href="#" class="btn_close pop_close">팝업닫기</a>
	</article>
</div>






</html>