<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout">
<script type="text/javascript" th:src="@{/resources/js/site/store/store.js}" layout:fragment="script2"></script>
<script layout:fragment="script" th:inline="javascript">
    /*<![CDATA[*/
    var gnb_store = /*[[#{gnb.store}]]*/ 'gnb_store';
    var list_search_all = /*[[#{list.search.all}]]*/ 'list_search_all';
    var list_search_placeholder = /*[[#{list.search.placeholder}]]*/ 'list_search_placeholder';
    var list_search = /*[[#{list.search}]]*/ 'list_search';
    var btn_store = /*[[#{btn.store}]]*/ 'btn_store';
    var store_detail  = /*[[#{store.detail}]]*/ 'store_detail';
    var login_id = /*[[#{login.id}]]*/ 'login_id';
    var btn_duplicated = /*[[#{btn.duplicated}]]*/ 'btn_duplicated';
    var store_belong_group = /*[[#{store.belong.group}]]*/ 'store_belong_group';
    var store_belong_subgroup = /*[[#{store.belong.subgroup}]]*/ 'store_belong_subgroup';
    var login_password = /*[[#{login.password}]]*/ 'login_password';
    var store_manager_name = /*[[#{store.manager.name}]]*/ 'store_manager_name';
    var store_code = /*[[#{store.code}]]*/ 'store_code';
    var store_manager_phone = /*[[#{store.manager.phone}]]*/ 'store_manager_phone';
    var store_name = /*[[#{store.name}]]*/ 'store_name';
    var store_address = /*[[#{store.address}]]*/ 'store_address';
    var store_phone = /*[[#{store.phone}]]*/ 'store_phone';
    var store_address_detail = /*[[#{store.address.detail}]]*/ 'store_address_detail';
    var store_token_copy = /*[[#{store.token.copy}]]*/ 'store_token_copy';

    var order_assign_mode = /*[[#{order.assign.mode}]]*/ 'order_assign_mode';
    var order_assign_mode_store = /*[[#{order.assign.mode.store}]]*/ 'order_assign_mode_store';
    var order_assign_mode_auto = /*[[#{order.assign.mode.auto}]]*/ 'order_assign_mode_auto';
    var order_assign_mode_rider = /*[[#{order.assign.mode.rider}]]*/ 'order_assign_mode_rider';
    var btn_cancel = /*[[#{btn.cancel}]]*/ 'btn_cancel';
    var btn_confirm = /*[[#{btn.confirm}]]*/ 'btn_confirm';
    var btn_close_pop = /*[[#{btn.close.pop}]]*/ 'btn_close_pop';
    var selected_choise = /*[[#{selected.choise}]]*/ 'selected_choise';

    var loginid_check = /*[[#{loginid.check}]]*/ 'loginid_check';
    var loginid_uncheck = /*[[#{loginid.uncheck}]]*/ 'loginid_uncheck';

    var alert_confirm_mod = /*[[#{alert.confirm.mod}]]*/ 'alert_confirm_mod';
    var alert_confirm_mod_success = /*[[#{alert.confirm.mod.success}]]*/ 'alert_confirm_mod_success';
    var alert_created_success = /*[[#{alert.created.success}]]*/ 'alert_created_success';
    var alert_address_error = /*[[#{alert.address.error}]]*/ 'alert_address_error';

    var alert_loginId_check = /*[[#{alert.loginId.check}]]*/ 'alert_loginId_check';
    var alert_loginPW_check = /*[[#{alert.loginPW.check}]]*/ 'alert_loginPW_check';
    var alert_code_check = /*[[#{alert.code.check}]]*/ 'alert_code_check';
    var alert_storeName_check = /*[[#{alert.storeName.check}]]*/ 'alert_storeName_check';
    var alert_storePhone_check = /*[[#{alert.storePhone.check}]]*/ 'alert_storePhone_check';
    var alert_address_check = /*[[#{alert.address.check}]]*/ 'alert_address_check';
    var alert_detailAddress_check = /*[[#{alert.detailAddress.check}]]*/ 'alert_detailAddress_check';
    var alert_delstore_check = /*[[#{alert.delstore.check}]]*/ 'alert_delstore_check';

    /*]]>*/
</script>



	<!-- 컨텐츠 영역 -->
	<section id="container" layout:fragment="content">

		<!-- 데티아 출력 JSON -->
		<!--<div th:text="${jsonList}">${jsonList}</div>-->
		<!-- hidden 으로 storeid 를 가지고 있는다. -->
		<input type="hidden" id="selectedStoreId"/>
		<input type="hidden" id="selectedGroupId"/>
		<input type="hidden" id="selectedSubGroupId"/>
		<input type="hidden" id="hasGroup"/>


		<h2 id="pageTit" class="blind" th:text="${#messages.msg('gnb.store')}"></h2>
		<div class="search_box">
			<div class="left">
				<!--전체 /소속 그룹/ 매장명 / 매장 코드 / 점장명 / 주소 / 아이디-->
				<select name="" class="select" id="searchSelect">
					<option value="all" th:text="${#messages.msg('list.search.all')}"></option>
					<option value="th1" th:text="${#messages.msg('store.belong.group')}"></option>
					<option value="th3" th:text="${#messages.msg('store.name')}"></option>
					<option value="th4" th:text="${#messages.msg('store.code')}"></option>
					<option value="th3" th:text="${#messages.msg('store.manager.name')}"></option>
					<option value="th8" th:text="${#messages.msg('store.address')}"></option>
					<option value="th10" th:text="${#messages.msg('login.id')}"></option>
				</select>
				<input type="text" class="input" id="searchText" th:placeholder="${#messages.msg('list.search.placeholder')}"/>
				<button class="button" id="searchButton"><i class="fa fa-search" aria-hidden="true" th:text="'&nbsp;' + ${#messages.msg('list.search')}" ></i></button>
			</div>
			<div class="right">
				<a href="#popStore" class="button btn_blue pop_open"><i class="fa fa-plus" aria-hidden="true" onClick="javascript:getGroupList()" th:text="${#messages.msg('btn.store')}"></i></a>
			</div>
		</div>
		<div id="contents">
			<div class="jq_grid">
				<div>
					<table id="jqGrid"></table>
				</div>
			</div>
			<div id="jqGridPager"></div>
		</div>
	</section>
	<!-- //컨텐츠 영역 -->



<!--  신규 매장 등록 팝업영역 -->
<div id="popStore" class="pop_wrap" layout:fragment="popup">
	<article class="popup">
		<div class="pop_head">
			<h1 th:text="${#messages.msg('store.detail')}"></h1>
		</div>
		<div class="pop_cont">
			<div class="tbl_wrap">
				<table class="table tbl_left">
					<colgroup>
						<col width="13%" />
						<col width="37%" />
						<col width="13%" />
						<col width="37%" />
					</colgroup>
					<tbody>
					<tr>
						<th th:text="${#messages.msg('login.id')}"></th>
						<td>
							<input type="text" name="" id="postStoreLoginId" class="input" value="" />
							<button class="button btn_black" onclick="storeLoginIdCheck()" th:text="${#messages.msg('btn.duplicated')}"></button>
						</td>
						<th th:text="${#messages.msg('store.belong.group')}"></th>
						<td>
							<select name="" class="select" id="postStoreGroup">
								<!--<option  value="empty" th:text="${#messages.msg('selected.choise')}"></option>-->
							</select>

							<select name="" class="select" id="postStoreSubGroup">
								<!--<option  value="empty"></option>-->
							</select>
						</td>
					</tr>
					<tr>
						<th th:text="${#messages.msg('login.password')}"></th>
						<td><input type="password" name="" class="input" value="" id="postStoreloginPw"/></td>
						<!--<th th:text="${#messages.msg('store.manager.name')}"></th>-->
						<!--<td><input type="text" name="" class="input" value="" id="postStoreUserName"/></td>-->
						<th th:text="${#messages.msg('store.address')}"></th>
						<td><input type="text" name="" class="input w_100" value="" id="postStoreAddress"/></td>
					</tr>
					<tr>
						<th th:text="${#messages.msg('store.code')}"></th>
						<td><input type="text" name="" class="input" value="" id="postStoreCode"/></td>
						<!--<th th:text="${#messages.msg('store.manager.phone')}"></th>-->
						<!--<td><input type="text" name="" class="input" value="" id="postStoreUserPhone"/></td>-->
						<th th:text="${#messages.msg('store.address.detail')}"></th>
						<td><input type="text" name="" class="input w_100" value="" id="postStoreDetailAddress"/></td>
					</tr>
					<tr>
						<th th:text="${#messages.msg('store.name')}"></th>
						<td><input type="text" name="" class="input" value="" id="postStoreName"/></td>
						<th th:text="${#messages.msg('order.assign.mode')}"></th>
						<td>
							<select name="" class="select" id="postStoreAssignStatusSelectBox">
								<option value="0" th:text="${#messages.msg('order.assign.mode.store')}"></option>
								<option value="1" th:text="${#messages.msg('order.assign.mode.auto')}"></option>
								<option value="2" th:text="${#messages.msg('order.assign.mode.rider')}"></option>
							</select>
						</td>
					</tr>
					<tr>
						<th th:text="${#messages.msg('store.phone')}"></th>
						<td><input type="text" name="" class="input" value="" id="postStorePhone"/></td>
						<th></th>
						<td></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="pop_foot">
			<div class="left"><a href="#" class="button h30 btn_gray pop_close" th:text="${#messages.msg('btn.cancel')}"></a></div>
			<div class="right">
				<!--<a href="#" class="button h30 btn_red">삭제</a>-->
				<a href="#" class="button h30 btn_blue" onClick="javascript:postStore()" th:text="${#messages.msg('btn.confirm')}"></a>
			</div>
		</div>
		<a href="#" class="btn_close pop_close" th:text="${#messages.msg('btn.close.pop')}"></a>
	</article>
</div>
<!-- //팝업영역 -->



<!-- 매장 상세보기 팝업영역 -->
<div id="popStoreDetail" class="pop_wrap" layout:fragment="popup_2">
	<article class="popup">
		<div class="pop_head">
			<h1 th:text="${#messages.msg('store.detail')}"></h1>
		</div>
		<div class="pop_cont">
			<div class="tbl_wrap">
				<table class="table tbl_left">
					<colgroup>
						<col width="13%" />
						<col width="37%" />
						<col width="13%" />
						<col width="37%" />
					</colgroup>
					<tbody>
					<tr>
						<th th:text="${#messages.msg('login.id')}"/>
						<td>
							<input type="text" name="" id="storeDetailLoginId" class="input" value="" readonly="true"/>

						</td>
						<th th:text="${#messages.msg('store.belong.group')}"/>
						<td>
							<select name="" class="select" id="storeDetailGroup">
								<option value="empty">group_choise</option>
							</select>
							<select name="" class="select" id="storeDetailSubGroup">
								<!--<option value="empty">-</option>-->
							</select>
						</td>
					</tr>
					<tr>
						<!--<th th:text="${#messages.msg('login.password')}"></th>-->
						<!--<td><input type="password" name="" class="input" value="" id="storeDetailPassword" readonly="true"/></td>-->
						<!--<th th:text="${#messages.msg('store.manager.name')}"></th>-->
						<!--<td><input type="text" name="" class="input" value="" id="storeDetailStoreUserName"/></td>-->
						<th th:text="${#messages.msg('store.code')}"/>
						<td><input type="text" name="" class="input" value="" id="storeDetailStoreCode"/></td>
						<th th:text="${#messages.msg('store.address')}"/>
						<td><input type="text" name="" class="input w_100" value="" id="storeDetailStoreAddress"/></td>
					</tr>
					<tr>
						<!--<th th:text="${#messages.msg('store.manager.phone')}"></th>-->
						<!--<td><input type="text" name="" class="input" value="" id="storeDetailStoreUserPhone" /></td>-->
						<th th:text="${#messages.msg('store.name')}"/>
						<td><input type="text" name="" class="input" value="" id="storeDetailStoreName"/></td>
						<th th:text="${#messages.msg('store.address.detail')}"/>
						<td><input type="text" name="" class="input w_100" value="" id="storeDetailStoreDetailAddress"/></td>
					</tr>
					<tr>
						<th th:text="${#messages.msg('store.phone')}"/>
						<td><input type="text" name="" class="input" value="" id="storeDetailStorePhone"/></td>
						<!--0: 수동배정, 1: 자동배정, 2: 기사배정-->
						<th th:text="${#messages.msg('order.assign.mode')}"/>
						<td>
							<select name="" class="select" id="storeDetailAssignStatusSelectBox">
								<option value="0" th:text="${#messages.msg('order.assign.mode.store')}"></option>
								<option value="1" th:text="${#messages.msg('order.assign.mode.auto')}"></option>
								<option value="2" th:text="${#messages.msg('order.assign.mode.rider')}"></option>
							</select>
						</td>
					</tr>
					<tr>
						<th>access_token</th>
						<td><input id="storeAccessToken" style="position:absolute;top:-9999em;"/><a class="button btn_green" th:text="${#messages.msg('store.token.copy')}" onclick="javascript:copyAccessToken()"/></td>
						<!-- input 박스 hidden 시키지말 것!(클립보드 복사시 크롬에서 사용가능하려면 hidden이나 display:none을 하면 안된다 -> 스타일로 안보이게 해놓음) -->
						<th th:text="${#messages.msg('login.password')}"/>
						<td><a class="button btn_blue2" th:text="${#messages.msg('reset.password')}" onclick="javascript:resetStorePw()"/></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="pop_foot">
			<div class="left"><a href="#" class="button h30 btn_gray pop_close" th:text="${#messages.msg('btn.cancel')}"></a></div>
			<div class="right">
				<a href="" class="button h30 btn_red" onClick="javascript:deleteStore()" th:text="${#messages.msg('btn.delete')}"></a>
				<a href="#" class="button h30 btn_blue" onClick="javascript:putStoreDetail()" th:text="${#messages.msg('btn.confirm')}"></a>
			</div>
		</div>
		<a href="#" class="btn_close pop_close" th:text="${#messages.msg('btn.close.pop')}"></a>
	</article>
</div>

</html>